[2021-12-10 08:45] bluebill1049 commented on #271
Honestly, I think CRA users shouldn't expect a breaking change so does nextjs, however, this issue is created by nextjs 12, so to be fair, I hope the nextjs team can look into a solution for fixing this. In the meantime, I think it's better to have a solution to comfort both parties without destroying the developer experience (on whatever users prefer to use).

[2021-12-10 08:50] yordis commented on #271
@bluebill1049 and that is why I mentioned to you a few weeks ago that I gave up on ESM unless I have a strong reason ...

The tools are still figuring out how to deal with it ... especially those that are not Webpack since it was doing a lot of magical things.

Not sure what is the right resolution here ... technically blame Webpack for some of the mess since it trained people to get used to "wron

[2021-12-10 08:54] yordis commented on #271
[code]

Had to lock the version to `7.21.1` for now at least

[2021-12-10 08:57] bluebill1049 commented on #271
all valid opinions @yordis

[2021-12-10 09:18] pronovaso commented on #271
I confirm, that version 7.21.1 and Next 12.0.7 works well. 7.21.1. Thanks a lot.

[2021-12-10 09:58] ElektrikSpark commented on #105
I am getting this error in `"next": "12.0.7"` witrh `"@hookform/resolvers": "^2.8.4"`

[2021-12-10 10:04] ElektrikSpark opened #301 "Error: Unexpected import statement in CJS module. using @hookform/resolvers 2.8.4 and Next.js 12.0.7"
**Describe the bug**
Error: Unexpected import statement in CJS module.

**To Reproduce**
Steps to reproduce the behavior:

1. Next.js (tested 12.0.4 and 12.0.7)
2. install @hookform/resolvers 2.8.4
3. import { yupResolver } from "@hookform/resolvers/yup"
4. See error

**Expected behavior**
No error with import

**Desktop (please complete the following information):**

- OS: Windows 11
- Browser: C

[2021-12-10 10:12] ElektrikSpark commented on #301
I tested v1.3.0 because of this thread [](https://github.com/react-hook-form/resolvers/issues/105) and it worked.

[2021-12-10 10:13] simontaisne commented on #271
`7.21.1` works well, but not `7.21.2` 😅

[2021-12-10 10:15] bluebill1049 commented on #301
https://github.com/react-hook-form/resolvers/issues/271

[2021-12-10 10:15] #301 closed

[2021-12-10 17:42] evocateur commented on #271
I believe the root cause for the CRA issue is that RHF uses the `import * as React from 'react'` form when it should be using `import React from 'react'`. React itself is not ESM, it's just a default export that Babel et al make-believe is a series of named exports, thus the error message.

I'm surprised RHF isn't using `esModuleInterop: true` in its tsconfig. Digging in locally to see if my hunch

[2021-12-10 18:09] sveggiani commented on #271
For me neither `7.21.1` or `7.21.2` are working with Next.js `12.0.7`.

[2021-12-10 19:13] evocateur commented on #271
I verified that https://github.com/react-hook-form/react-hook-form/pull/7261 works for NextJS 12.0.7, but I don't have a Storybook or CRA project offhand to test the backward-compatibility.

[2021-12-10 22:06] bluebill1049 commented on #271
thank you again @evocateur

[2021-12-11 09:06] bluebill1049 commented on #271
beta: `Version 7.21.3-beta.0`

[2021-12-11 09:14] bluebill1049 commented on #271
the above beta pass test for my with CRA and nextjs thank so much @evocateur life saver.

[2021-12-11 14:18] JuanM04 commented on #271
v7.21.3-beta.0 works perfectly!

[2021-12-12 01:01] bluebill1049 commented on #271
oh wow, I didn't check evocateur's profile, he is the creator/author of [Lerna](https://github.com/lerna/lerna). Respect 🎩

[2021-12-12 20:53] #275 closed

[2021-12-13 07:39] Alexandredc commented on #271
Many thanks @bluebill1049 & @evocateur  🙏

[2021-12-13 07:44] bluebill1049 commented on #271
thanks @Alexandredc All effort and credit goes to evocateur ❤️

[2021-12-13 17:12] evocateur commented on #271
@bluebill1049 I'm merely the longtime maintainer (presently a bit delinquent), not the author, of Lerna. I appreciate your responsiveness and effort as creator and maintainer of React Hook Form!

[2021-12-13 21:37] bluebill1049 commented on #271
hopefully, this is the last time i close this issue: https://github.com/react-hook-form/react-hook-form/releases/tag/v7.22.0 🙏

[2021-12-13 21:37] #271 closed

[2021-12-13 21:38] bluebill1049 commented on #267
can you build this with a custom resolver?

[2021-12-18 10:25] #267 closed

[2021-12-18 11:21] bluebill1049 opened #309 "AJV resolver"
**Is your feature request related to a problem? Please describe.**
Build a new AJV resolver for JSON schema

**Describe the solution you'd like**
Having a dedicated AJV resolver

**Describe alternatives you've considered**
Build custom resolver

**Additional context**
We did have an AJV resolver PR (attempted) but failed, wondering if anyone would like to pick it up and give it another try.

https

[2022-01-07 16:54] squiaios opened #316 "Add context on error"
Hello,

I am facing a small problem. I do not retrieve certain information in the error object.

https://github.com/react-hook-form/resolvers/blob/6ee8990708e798bbfc308d07bc5d595d3e69981a/joi/src/joi.ts#L15

Is it possible to return context too please ?

In some case, context is useful to get informations (like `limit` when you specify a minimum limit)

[2022-01-07 22:27] bluebill1049 commented on #316
not at this stage.

[2022-01-07 22:27] #316 closed

[2022-01-10 05:31] ShivamJoker commented on #309
I'll have a look, see if I can do anything to fix.

[2022-01-10 05:34] bluebill1049 commented on #309
that would be awesome!

[2022-01-10 08:34] ShivamJoker commented on #309
@bluebill1049 The tests seems to be passing is there any particular issue which i need to fix ?

[2022-01-10 08:37] bluebill1049 commented on #309
send us the PR please 👯  @ShivamJoker

[2022-01-10 09:04] ShivamJoker commented on #309
Okay after merging from master it has now some typescript issues. I am trying to fix those will send PR if done

[2022-01-10 09:32] ShivamJoker commented on #309
![image](https://user-images.githubusercontent.com/23727670/148744082-2239dae3-ec3a-4e48-bca0-9190b746e49b.png)

There are so many errors 😭

[2022-01-10 09:42] bluebill1049 commented on #309
I love the 💩  emoji, would you like to send in PR anyhow? we can take a look at it.

[2022-01-10 09:49] ShivamJoker commented on #309
There are many things which has been changed since this implementation of ajv. Hope you guys can figure something out.

[2022-01-14 19:37] zero734kr opened #320 "Yup resolver silently ignores error that are not ValidationError"
**Describe the bug**
For example, when a TypeError (``TypeError: You cannot `concat()` schema's of different types: string and number``) is thrown by the schema validator (validator of the schema itself), the yup resolver silently ignores the error because the `error.field` described in [this line of code](https://github.com/react-hook-form/resolvers/blob/6ee8990708e798bbfc308d07bc5d595d3e69981a/y

[2022-01-14 22:04] bluebill1049 commented on #320
We don't validate your schema. This should be taken care of at your schema level check, resolver only focuses on `ValidationError`.

[2022-01-15 01:00] williamdespard opened #321 "issue: "Illegal constructor" error when using the classValidatorResolver with a file input"
### Version Number

7.15.4

### Codesandbox/Expo snack

https://codesandbox.io/s/flamboyant-breeze-trm2p?file=/src/App.tsx

### Steps to reproduce

1. Create a simple form with a file input e.g.

`<input type="file" {...register('test')} />`

2. Create a class for the validation schema e.g.

[code]

3. Give the validation class to the useForm hook e.g.

useForm< ValidationSchema >({
  resolver: cl

[2022-01-15 01:03] bluebill1049 commented on #321
I am not sure if this issue is related to hook form or `classValidatorResolver` simply doesn't support file type object.

[2022-01-15 01:06] williamdespard commented on #321
We're kind of tied into using class-validator because we're using it with NestJs and want to share our validation with the frontend. Is there any way of excluding the file input from the validation schema with react hook form, so we can still validate our other form fields?

[2022-01-15 01:13] bluebill1049 commented on #321
you can try to build a custom resolver and just manually omit the file input.

[2022-01-15 01:17] williamdespard commented on #321
Do you have any documentation or pointers on how I would go about doing that?

[2022-01-15 01:20] bluebill1049 commented on #321
in the doc: https://react-hook-form.com/api/useform

[code]

[2022-01-15 01:37] zero734kr commented on #320
I meant yup's schema validator, not @hookform/resolvers. Sorry if it was confusing.

[2022-01-15 02:52] williamdespard commented on #321
That's very helpful. I've got this working in a rudimentary way. I will post the finished code later to help others. @bluebill1049  I just want to say what a fantastic job you are doing with this library. Thank you on behalf of the react community 👏

[2022-01-15 02:56] bluebill1049 commented on #321
You are welcome. Thanks In advance for sharing solution as well!

[2022-01-15 14:03] williamdespard commented on #321
My working custom validation resolver code is below. @bluebill1049 I'm not doing anything with regards to removing the file field from the validation (it just doesn't have any validation rules). So, this seems like this is in fact a small issue with your `classValidatorResolver`.

[code]

[2022-01-15 22:08] bluebill1049 commented on #321
hey @williamdespard would you have time to look into this issue and potentially send us a PR on the fix https://github.com/react-hook-form/resolvers/blob/master/class-validator/src/class-validator.ts

[2022-01-16 23:11] jorisre commented on #321
@bluebill1049 you're thinking for exclude file validation of this resolver right ?

[2022-01-17 09:14] akomm commented on #258
So basically a feature update BC break. Thanks, I'm going to rewrite all my code so it works with the resolver. Going to remove all my branded types. :+1:

[2022-01-17 19:58] jorisre commented on #321
It works with the @williamdespard 's custom resolver because he is using `Object.assign`, we can't use it in our case. It's not compatible with nested data.

I've found a possible solution, I'm a beginner with `class-validator`, you may adapt the code below:
[code]

👉🏻 [https://codesandbox.io/s/restless-wood-mw9mz](https://codesandbox.io/s/restless-wood-mw9mz)

[2022-01-17 20:10] williamdespard commented on #321
I'm currently on a deadline with a project so I'm afraid I can't at the moment. But potentially in a few weeks if it's helpful

[2022-01-17 20:11] williamdespard commented on #321
Thanks for this but it appears your solution doesn't work in the sandbox provided I get the error "Not enough arguments"

[2022-01-17 20:18] jorisre commented on #320
In your case, Yup fails but the thrown error does not contain the path of the field. So we can't attach the error to a react-hook-form field. Do you see what I mean?

[2022-01-18 00:13] zero734kr commented on #320
Yes I understand.
But I think the situation is like a bug, because it omits the thrown error and I was debugging for hours to find the cause.
So, instead of attaching the error to some react-hook-form field, how about throwing it anyway to some error handler like next.js catches in their debugger? In this case I can at least know there is an error and I need to solve that.

[2022-01-18 00:24] bluebill1049 commented on #320
Maybe that's something we can consider. What's your thoughts @jorisre?

[2022-01-18 06:36] jorisre commented on #320
Yep, sounds good to me. I'll open a PR. Thanks for the issue.

[2022-01-18 09:04] #320 closed

[2022-01-19 17:17] davidesigner opened #331 "Yup resolver problem with test function"
**Describe the bug**
When we use yup schema validation with the `test` function, the react-hook-form errors object does not return the name of the failed test as key.

[code]

Console log results (as you can see, the key is an empty string):

[code]

**Codesandbox link (Required)**

https://codesandbox.io/s/react-hook-form-validationschema-v7-2ik00

**Expected behavior**

Errors object must be ret

[2022-01-19 18:09] davidesigner commented on #331
Thanks for you fast reply @jorisre!

So, we cannot have a form level validation management?

[2022-01-19 19:22] jorisre commented on #331
Currently no, there is a RFC for your needs https://github.com/react-hook-form/react-hook-form/discussions/6472

[2022-01-20 08:31] davidesigner commented on #331
Thanks for your replies. I understand that this is an expected behavior of react-hook-form so I close the issue here.

[2022-01-20 08:31] #331 closed

[2022-01-25 16:58] yangricardo opened #337 "Imports not works since version 2.8.4 or 2.8.3"
**Describe the bug**
Hi, i have a NextJS application implemented with typescript that uses the yupResolver from this library.
I have several deployments on Vercel and Heroku platforms that  does not find the module.

Also, i have never imported successfuly using `import { yupResolver } from '@hookform/resolvers/yup';` statement, by the way, for production deployments i have always used `import { y

[2022-01-25 21:57] bluebill1049 commented on #337
Can you use the latest version?

[2022-01-25 22:43] yangricardo commented on #337
No, i have tried all versions after `2.8.3`. As i said, even on `2.8.3` i had to import in different way as shown in the docs. It's seems to be a Typescript module export definition issue..

[2022-01-25 23:22] bluebill1049 commented on #337
what's your nextjs version?

[2022-01-25 23:28] yangricardo commented on #337
NextJS Version: 12.0.9
I'll put here all the dependencies i use currently and the tsconfig

[code]

[code]

[2022-01-25 23:32] bluebill1049 commented on #337
NextJS Version: 12.0.9? it's not even released yet, right? I think this is probably an issue related to NextJS.

[2022-01-25 23:35] bluebill1049 commented on #337
related issue: https://github.com/react-hook-form/resolvers/issues/271

[2022-01-25 23:52] evocateur commented on #337
`"preserveSymlinks": true` in the tsconfig is a potential red flag, although I'm not 100% confident.

`import { yupResolver } from '@hookform/resolvers/yup'` with `@hookform/resolvers@2.8.5` and `next@12.0.7` definitely works, can't speak to later versions or canary releases. Is there any custom config in `next.config.js` that could be changing the default ESM resolution behavior?

[2022-01-25 23:56] bluebill1049 commented on #337
thanks @evocateur for the tips 🙏

[2022-01-26 00:03] yangricardo commented on #337
That's right, sorry for the mistype

[2022-01-26 00:07] yangricardo commented on #337
I'm going to try that. About the `next.config.js` that's the current state:

[code]

[2022-01-26 16:20] yangricardo commented on #337
That's really similar. I have tried to put `"preserveSymlinks": true`  in `tsconfig.json` without success.
I think is some NextJS 12 module resolution mismatch.
For now, i'm freezing this library at `2.8.3` version and importing `@hookform/resolvers/yup/dist/yup`

[2022-01-26 16:22] yangricardo commented on #337
FIY, when i run build, with latest version and `"preserveSymlinks": false`, it displayed some logs mentioned on #271

[code]

[2022-01-28 16:40] OmkarK45 opened #342 "[Help] [Examples] An example of Zod schema that validates a <select> tag"
**Is your feature request related to a problem? Please describe.**
Looking for a example about zod schema that validates a select tag.

**Describe the solution you'd like**
A simple select tag with 2 options would work just fine.

[2022-01-28 22:16] bluebill1049 commented on #342
Please post a question in GitHub discussion instead.

[2022-01-28 22:16] #342 closed

[2022-02-03 12:06] RikkiMasters opened #343 "Since 2.8.6: Uncaught (in promise) TypeError: Cannot use 'in' operator to search for 'default' in undefined"
During validation, the error below is shown.

<img width="654" alt="image" src="https://user-images.githubusercontent.com/11843864/152338021-1f0ad9f1-c01f-479f-a56e-c442bf7b737b.png">

This is only in 2.8.6+

I've narrowed it down to a piece of my Yup schema, where it's using '.when' against an element in the parent.

Example:

[code]

yup: 0.32.11
hookform/resolvers: 2.8.6

[2022-02-03 12:56] jorisre commented on #343
Thank you for reporting the issue, I'll fix it tonight

[2022-02-08 00:45] bluebill1049 commented on #337
any update on this issue.

[2022-02-08 01:02] bluebill1049 commented on #343
@RikkiMasters can you reproduce that in a codesandbox?

[2022-02-08 01:11] evocateur commented on #337
I was able to build successfully on the latest version of Next (12.0.9 when I tried last week) and latest version of `@hookform/resolvers`. I suspect deeper issues are at play in this particular case.

[2022-02-08 01:13] bluebill1049 commented on #337
thanks @evocateur I think it's to do with @yangricardo specific setup instead a general issue.

[2022-02-09 09:26] RikkiMasters commented on #343
@bluebill1049 https://codesandbox.io/s/affectionate-tess-esnvt

Just click submit

[2022-02-09 09:30] bluebill1049 commented on #343
I think it's related to your schema `Schema.validate({})` https://codesandbox.io/s/affectionate-tess-esnvt-forked-4q9hd?file=/src/App.js

[2022-02-09 09:37] RikkiMasters commented on #343
@bluebill1049 what did you change? Your sandbox doesn't seem to work for me

[2022-02-09 09:58] RikkiMasters commented on #343
@bluebill1049 When using 2.8.5, clicking submit works fine https://codesandbox.io/s/affectionate-tess-esnvt-forked-vwwzq?file=/src/App.js

It fails when using 2.8.6+. Any ideas what could be causing it?

[2022-02-09 09:59] bluebill1049 commented on #343
we no longer shallow `errors` from schema/

[2022-02-09 11:25] #343 closed

[2022-02-11 13:14] 72gm opened #347 "Yup InferType doesn't work"
**Describe the bug**
When using Yup InferType to infer the type from the schema it throws an error in Typescript "Argument of type 'string' is not assignable to parameter of type 'never'.ts(2345)" when trying to register the input

![image](https://user-images.githubusercontent.com/12847881/153595332-801e283b-0060-4a4e-aa24-de9071a23b35.png)

What is this extra "x" property it is generating on the

[2022-02-11 13:18] bluebill1049 commented on #347
That's not coming from hook form, I think this is probably a Yup question.

[2022-02-11 14:20] 72gm commented on #347
If I upgrade to the latest beta then it now works

yarn add yup@1.0.0-beta.2

the actual last official release of Yup is 2016????? what's that all about!?!?

[2022-02-11 22:07] bluebill1049 commented on #347
no idea and not within the scope of this package.

[2022-02-11 22:07] #347 closed

[2022-02-16 23:32] #337 closed

[2022-02-17 09:33] ZhaoTzuHsien commented on #321
Any fix about that?

[2022-02-22 19:51] cgarrovillo commented on #309
dont close it bot!

[2022-02-23 18:04] whengely opened #352 "errors object typing issue with zod"
**Describe the bug**
At some point in the last versions of the following, it's impossible to get to properties on the error objects for union typed forms.

zod: 3.11.6
typescript: 4.5.5
react hook form: 7.27.0
@hookform/resolvers: 2.8.8

**To Reproduce**
Example here:  https://github.com/whengely/zod-hook-form

1. npm install
2. npm start
Will display an error.  I've tried to manually narrow the e

[2022-02-23 22:12] bluebill1049 commented on #352
provide a codesandbox and steps to reproduce. https://github.com/react-hook-form/react-hook-form/issues/2848

[2022-02-23 22:12] #352 closed

[2022-03-02 16:06] just-mitch opened #356 "Upgrade from 2.8.4 to 2.8.5 breaks nextJS static rendering"
**Describe the bug**
When I upgrade from 2.8.4 to 2.8.5, most of my pages which were previously treated as static by nextJS build become Server Side Rendered pages.

I use the yup resolver.

Built on 2.8.4
![Screen Shot 2022-03-02 at 11 05 10 AM](https://user-images.githubusercontent.com/68168980/156400036-ce0b2435-e702-4839-bbe9-66de2a1448e5.png)

Built on 2.8.5 (no other changes whatsoever)
![Sc

[2022-03-03 08:45] jorisre commented on #356
Can you provide a repo with your issue please ?

[2022-03-03 14:08] just-mitch commented on #356
Sorry @jorisre but my repo is closed source.

[2022-03-03 14:09] jorisre commented on #356
Can you create a reproductible example ?

[2022-03-03 17:05] just-mitch commented on #356
Problem solved. It was caused by importing
`import { yupResolver } from '@hookform/resolvers/yup/dist/yup';`
instead of
`import { yupResolver } from '@hookform/resolvers/yup';

seems related to https://github.com/react-hook-form/resolvers/issues/337

[2022-03-04 08:54] #356 closed

[2022-03-18 07:23] wereHamster opened #367 "computedTypesResolver does not work with nested fields"
**Describe the bug**

I have a schema like so:

[code]

Errors in the top-level fields are reported correctly, while errors in nested fields are lost.

**To Reproduce**

1. Go to https://codesandbox.io/s/react-hook-form-computed-types-nested-fields-validation-error-bug-9uuuuq?file=/src/index.jsx
2. Run
3. See in the console how the error on the 'top' field is reported but not on the nested field.

[2022-03-20 01:03] bluebill1049 commented on #367
would you like to send a PR to fix this?

should be nseted object path with dot notation.

[2022-03-20 10:24] wereHamster commented on #367
So which one of the following?

[code]

[code]

…or are both supported?

[2022-03-20 11:05] bluebill1049 commented on #367
[code]

is the correct one.

[2022-03-20 11:07] wereHamster commented on #367
Right. So react-hook-form validation can only represent errors in leaf nodes, correct? You can't have an error «somewhere in inside the 'nested' field»…

[2022-03-20 11:17] wereHamster commented on #367
Btw the `parseErrorSchema` function I posted in the issue works for me, so I'm confused as to whether react-hook-fork supports both but prefers people to use the nested object notation or whether my code only works due to a bug or something like that.

[2022-03-20 11:22] bluebill1049 commented on #367
The way errors get parsed is pretty much like get/set method.

`test.test.test`

to become

`{test: {test: test{}}}`

[2022-03-20 23:24] ifightcrime commented on #297
@bluebill1049 hmm this doesn't seem like a version issue? I'm getting the same thing on `react-hook-form@7.27.1` with `@hookform/resolvers@2.8.8`.

[code]

I'm using Zod. My workaround is likely going to be the same as @jonatassales, but not ideal.

[2022-03-20 23:35] ifightcrime commented on #297
Traced down react-hook-form/react-hook-form#7888 and it's fixed in v8! So looks like this was technically a version issue after all. 😜

[2022-03-22 07:43] future-mine opened #370 "Yup custom validation is not working with react-hook-form"
**Is your feature request related to a problem? Please describe.**
Yup provides many good validation methods. But anyway we have the case to customize and add new validation methods.

Example
[code]
**Describe the solution you'd like**
I want custom validation works like with Formik

[2022-03-22 07:57] bluebill1049 commented on #370
I would suggest you debug your own validation rules first

[code]

[2022-03-22 08:07] jorisre commented on #370
I have tried without `.shape(` ?

[code]

[2022-04-03 01:28] AntonOfTheWoods commented on #7
@bluebill1049 , do you have any further information on what you mean by "the module ajv old and hard to integrate"? ajv is a lot faster than most of the competitors, is still actively developed by lots of developers and has a lot of users, downloads and stars. I didn't look in detail at the code but if it is abstracted properly then I'm not sure I see why that would be a `wontfix`.

Or do you simp

[2022-04-03 01:30] bluebill1049 commented on #7
https://github.com/react-hook-form/resolvers/issues/309

[2022-04-13 19:32] AndrewOttavianoAbb commented on #309
I noticed #317 is still in draft mode and seems to be out of date/abandoned. Are people still interested in adding a ajv resolver?

[2022-04-13 21:46] bluebill1049 commented on #309
whoever is interested, feel free to pick it up and help/contribute https://github.com/react-hook-form/resolvers/pull/318

[2022-04-14 11:45] Ribosom commented on #180
Wouldn't following code be a valid workarround? Or has this bad side effects?

[code]

And generalError could then be used to show the error.

[2022-04-19 15:32] kaminskypavel commented on #347
@bluebill1049 is correct, I had the same issue. it looks like `yup.InferType` if only working for ^1.0.0

[2022-04-19 15:56] kaminskypavel opened #393 "[Typescript] yupResolver isnt accepting yup@^1.0.0"
**Describe the bug**
A clear and concise description of what the bug is.

Since upgrading to yup 1.0.0-beta.4 , which is crucial for most typescript users ( since `yup.InferType` isn't working in the `pre-version`) the following code yields a typescript error

**To Reproduce**
Steps to reproduce the behavior:

`resolver: yupResolver(WidgetDesignGridSchema),`

[code]
the only working solution I cou

[2022-04-19 22:12] bluebill1049 commented on #393
please provide a reproducible codesandbox, also yup is still in beta as well. I am not sure we should respond to changes in beta phase.

[2022-04-26 03:37] alveshelio opened #395 "Could validation with resolvers be broken?"
**Describe the bug**
When using `react-hook-form` with `resolvers`,  `formState.errors` has objects but message is undefined.

**To Reproduce**
1. Go to ['...'](https://codesandbox.io/s/optimistic-sun-iqsg7g?file=/pages/index.tsx:0-2409)
2. enter an email in email
3. blur email field
4. The input gets a red border showing that the

**Codesandbox link (Required)**
Here's the code sandbox: https://c

[2022-04-26 06:00] bluebill1049 commented on #395
We are currently supporting vest v3, this could be related to v4 major update? @ealush any insight for the upgrade to v4?

[2022-04-26 14:04] ealush commented on #395
@alveshelio thanks for reporting that, @bluebill1049 thank you for tagging me.

Yes, this seems to be a like a discrepancy in how v3 used to report back errors and how v4 does it. I released a patch that should maintain the compatibility with v3. The fix is in the specific method HookForm uses to query the errors (`result.getErrors()` - with no field parameter). Here is the entirety of the change:

[2022-04-26 22:15] bluebill1049 commented on #395
Thanks very much for the comment and replay @ealush 🙏

That's awesome! ❤️ I think makes sense for the resolver to bump a major version as well if there is any breaking change for current vest v3 users, if not then we can stay with a minor version upgrade.

[2022-04-27 02:06] alveshelio commented on #395
I can confirm that this has been resolved. Thank you both for the quick replay and fix. You guys rock :)

[2022-04-27 02:06] #395 closed

[2022-04-27 02:51] #370 closed

[2022-04-27 02:52] bluebill1049 commented on #367
any update on this issue? or is there anything we can need to patch for resolver?

[2022-04-27 15:04] GustavoSchuler opened #396 "[Jest 28][Yup Resolver] SyntaxError: Cannot use import statement outside a module"
I'm receiving a Syntax Error when running my tests with Jest v28. It was working with v27.x

![image](https://user-images.githubusercontent.com/10119079/165550294-c940b258-8c00-4ff0-bbba-bb331b163422.png)

I'm using React 17 and Next 12 with TypeScript.
Here's my deps list:

[code]

And here is my jest config file:
[code]

**Environment**

- OS: macOS Monterey 12.3.1

[2022-04-27 22:04] bluebill1049 commented on #396
This issue probably should belong to Jest as we didn't make any change to the module.

[2022-04-28 11:57] GustavoSchuler commented on #396
I truly understand that. But it will be nice if you can give any help 🙏

[2022-04-29 06:54] jorisre commented on #396
Can you provide a repo or a codesandbox please?

[2022-04-29 16:43] GustavoSchuler commented on #396
@jorisre I've created [this repo](https://github.com/GustavoSchuler/next-yup-hookform-sample) with minimal project to reproduce the error.

[2022-04-30 08:02] nemanjam commented on #396
I got this error too after updating to Jest 28.

[code]

[2022-04-30 20:06] adostal opened #399 "Add params from Yup ValidationError to react-hook-form"
Hello guys,
Do you plan to add the option to have more information from yup ValidationError in the error object in the future?
I am mainly talking about "params", where there is a "label" that would be suitable for me for generic internationalization.
It would also be interesting if "meta" from yup validation could also be a part of it.

[2022-04-30 22:45] #367 closed

[2022-04-30 22:46] bluebill1049 commented on #399
not at this stage, one of the main reasons is hard to have a consistent type return for all resolvers.

[2022-05-01 14:06] georgekaran commented on #396
Hey guys, I found a workaround for now as described in [this comment](https://github.com/microsoft/accessibility-insights-web/pull/5421#issuecomment-1109168149):

First I create a new file called `resolver.js` under my `.jest` folder:
[code]

Then in my `jest.config.js`, I've added as a resolver:
[code]

Hope it helps you guys.

[2022-05-02 12:17] GustavoSchuler commented on #396
@georgekaran thank you so much! It worked for me!

[2022-05-02 12:27] nico1510 commented on #396
It's also possible to manually import from the correct dist file e.g.
```import { yupResolver } from '@hookform/resolvers/yup/dist/yup.js';```

[2022-05-02 12:28] GustavoSchuler commented on #396
@nico1510 I've tried that, but didn't worked.

[2022-05-02 13:59] nemanjam commented on #396
I usually get circular dependencies when I do that.

[2022-06-03 08:19] #309 closed

[2022-06-10 08:32] VMM-Mtech opened #414 "Conflict between package and release versions"
Latest release number is 2.9.1, but the package.json still has version 1.3.1.

[2022-06-10 08:55] #414 closed

[2022-06-10 08:55] bluebill1049 commented on #414
I think this is due to the semantic release package that we used for publishing.

[2022-06-13 12:03] alii opened #415 "Cannot use Zod .transfor"
**Describe the bug**
We cannot use Zod's `.transform` because it breaks types

**To Reproduce**
[Playground Link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgLzgXzgMyhEcBEyEAJvgNwBQoksiKJASgKYDOEANgG5NTpY558AAQAWECAGtM0EAHoorDtygtZRUpWrR4SAMoBXAEYhgMABIBDAHbF2PADRx9LJgDEZcCyycvmFgMbm4hLuUHgY2LgECgEwALRiknHSYeRU4Np0YBYqTAAKYlZMAHL6IIY8fJGC7MCGYIVMVmUVUHEAVixpWrR+gfxR+DGBaRT+EFYs8AAiA

[2022-06-13 13:34] alii opened #416 "Cannot use Zod .transform"
**Describe the bug**
Unable to use `.transform` with the zod resolver

**To Reproduce**
Use an input and see an error
<img width="1160" alt="image" src="https://user-images.githubusercontent.com/25351731/173365481-43d02615-9ed5-40f1-8ef9-0897e12f9e65.png">

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-zod-resolver-example-forked-khj93c?file=/src/App.tsx

**Expected beha

[2022-06-13 13:34] alii commented on #415
Replaced by #416 — this was a typing error on my part however there's still an issue with the resolver.

[2022-06-15 02:42] #321 closed

[2022-06-15 02:46] bluebill1049 commented on #416
<img width="816" alt="Screen Shot 2022-06-15 at 12 45 35 pm" src="https://user-images.githubusercontent.com/10513364/173725793-6335da05-a990-405c-92f7-5975d85d1610.png">

This is the error log that I am getting.

[2022-06-17 09:54] bluebill1049 commented on #416
any update on this issue? as you can see in the console the error occurred at the zod, which indicates to me the schema could be invalid.

[2022-06-24 07:56] EmilioHerreraSoukup commented on #396
Is there an update on this?

[2022-06-24 15:07] AlexKrupko opened #421 "Typescript error in yup resolver with the latest RHF version 7.33.0"
**Describe the bug**
Hi guys,

These is a typescript issue with `yupResolver` and latest React Hook Form version 7.33.0

[code]

**Code example**
[code]
You can find the same code example on [Codesandbox example](https://codesandbox.io/s/laughing-aryabhata-fr757w?file=/src/App.tsx)

I guess, it relates to these changes - [PR #8528](https://github.com/react-hook-form/react-hook-form/pull/8528, `Unp

[2022-06-24 23:39] #421 closed

[2022-06-25 13:14] AlexKrupko commented on #421
Thank you! Everything is ok now.

[2022-06-28 18:27] Fallibilist opened #423 "Private packages such as "ajv" and "class-validator" shouldn't share the name of official npm packages. This causes false positives with security scans, among other issues."
These private packages should probably be renamed to something like "ajv-wrapper" or "ajv-plugin" to avoid being confused for the official package.

As an example "ajv" versions before v6.12.3 have a vulnerability (detailed here: https://nvd.nist.gov/vuln/detail/CVE-2020-15366).

The private "ajv" package included in the project simply has a version of "1.0.0"
![image](https://user-images.githubus

[2022-06-28 22:19] bluebill1049 commented on #423
maybe rename them to `@hookform/resolvers/ajv` ? feel free to send a pr on this.

[2022-06-30 23:03] Fallibilist commented on #423
Thanks @bluebill1049 !
I made a PR here: https://github.com/react-hook-form/resolvers/pull/424

[2022-07-08 07:35] jorisre commented on #423
Fix in #424

[2022-07-12 02:57] #416 closed

[2022-07-14 03:22] cdomigan commented on #396
Adding the offending modules (in my case "vest" and "@hookform/resolvers") to `transformIgnorePatterns` in `jest.config.js` solved this for me.

Eg. `transformIgnorePatterns: ["/node_modules/(?!(vest|@hookform/resolvers))"],`

[2022-07-15 08:37] hypong opened #428 "[ajv] keep showing error when try to validate number"
I am using ajv to validate my form and it keep showing error ("must be number") when I try to validate a number field
Is it a bug or did I config it wrongly?

Here is my config
[code]
https://codesandbox.io/s/react-hook-form-ajvresolver-forked-81mnf0

Any help will be appreciated

[2022-07-15 08:43] bluebill1049 commented on #428
the native input text is a string, you want to parse the input value before sending to AJV `valueAsNumber`

[2022-07-15 08:43] #428 closed

[2022-07-15 14:31] victormamede opened #429 "Infer types from zod schema"
**Is your feature request related to a problem? Please describe.**
Zod automatically infers the typescript type from schema, so I declare my FieldValues like this:
[code]
and then:
[code]
But I feel like the useForm hook should be abre to infer the type, since the useForm's resolver uses the generic TFieldValues `Resolver<TFieldValues, TContext>`

**Describe the solution you'd like**
The zodResolv

[2022-07-15 22:46] bluebill1049 commented on #429
resolver is a generic function to resolve validation schema results, unless this can be applied to all schema, we probably not going to make except or tight integration with any schema lib, however, you probably build your own custom resolver to achieve that instead. https://codesandbox.io/s/react-hook-form-customresoliver-v7-8mpqw

[2022-07-15 22:46] #429 closed

[2022-07-20 00:43] jorgebarredo opened #432 "Add ajv-formats to the ajv resolver"
**Is your feature request related to a problem? Please describe.**
A lot of people, including myself, use [ajv-formats](https://ajv.js.org/packages/ajv-formats.html) as an extension for ajv.

[ajv-formats](https://github.com/ajv-validator/ajv-formats) makes it easy and secure to validate *emails*, *urls*, *uuids*, and many others string formats.

At the moment the ajv resolver does not include it,

[2022-07-20 01:43] bluebill1049 commented on #432
Going back to my original comment, please build a custom resolver for your use case. I don't think we prefer this external package to be a dep for everyone's use case with AJV.

[2022-07-20 09:20] jorgebarredo commented on #432
Created PR with a custom ajv-formats resolver: https://github.com/react-hook-form/resolvers/pull/434

[2022-07-20 09:54] bluebill1049 commented on #432
sorry, I have confused you, I meant to use in your app level, not within this lib. thanks for the PR and sorry about the confusion.

[2022-07-20 11:35] bluebill1049 commented on #432
Sounds good to me, thanks for the willing to contribute and PRs 🙏

[2022-07-22 07:39] Biz-e-Services commented on #63
Hi. Had same issue and was resolved, but to only one level of object schema. I have...

`const NewPackSchema = yup.object().shape({
reference: yup.string().required("Reference is a required field"),
createdById: yup.string().required("Created by is required"),
requestDetail: yup.object().shape({
reference: yup.string().required("REQ Reference is a required field"),
applicantDetail: yup.object().sh

[2022-07-22 07:41] Biz-e-Services opened #436 "Yup validation schema on nested object presenting error (with ref to issue #63)"
Hi. Had same issue as #63  and was resolved, but to only two levels deep of object. I have...

[code]

and get error of
```TypeError: Cannot read properties of undefined (reading 'message')```

on ...

[code]

... help would be appreciated, thanks.

[2022-07-22 11:21] bluebill1049 commented on #436
please follow the issue template.

[2022-07-22 11:21] #436 closed

[2022-07-26 16:01] castrogh commented on #97
Hello!

I'm facing something like this.

Error Message: Type 'Control<FormData, object>' cannot be assigned to type 'Control<any, any>'.

`import React from 'react';
import { Button } from '../Button';
import { ControlledInput } from '../ControlledInput';
import { Container } from './styles';
import { useForm } from 'react-hook-form';
import * as yup from "yup";
import { yupResolver } from '@hookf

[2022-07-26 23:23] #396 closed

[2022-07-27 09:09] vanhumbeecka opened #438 "AjvResolver cannot handle $schema or $id keys"
**Describe the bug**
When using the `AjvResolver`, it throws errors when the json-schema has a `$schema` key.
Removing those keys from the schema is the current workaround to get it working.

**To Reproduce**
Steps to reproduce the behavior:

The example in the `README.md` file does _not_ contain a `$schema` key.
Add it to this example, and watch it 🔥

**Codesandbox link (Required)**
Include a cod

[2022-07-29 09:15] vanhumbeecka commented on #432
This would be a great addition to this ajvResolver. I would argue that people use ajv and jsonschema _precisly_ because of very specific validation rule needs. Hence adding format-validation would make perfect sense.
I do understand the trade-off being made here in favor of the more generic approach though...

[2022-08-08 07:44] toto1384 opened #440 "Nested Joi schemas that are optional still show error that they aren't allowed to be empty"
**To Reproduce**

1. Use the joi resolver
2. Have nested properties that aren't required
3. When hitting the submit button the nested properties are required even if they are specified as optional
4. See error

**Codesandbox link (Required)**

- [Joi resolver](https://codesandbox.io/s/react-hook-form-joiresolver-v6-forked-qtt2uq?file=/src/index.js:212-241) Template

**Expected behavior**
No error

[2022-08-08 07:47] toto1384 commented on #440
Misspelled the chrome version (it's irrelevant anyways 🤷🏻‍♂️): Version 103.0.5060.134 (Official Build) (arm64)

[2022-08-08 08:36] #440 closed

[2022-08-10 22:17] marcospassos opened #441 "Yup errors are swallowed"
**Describe the bug**
When a field has multiple errors, just the one higher in the hierarchy is reported, despite setting `criteriaMode: 'all'` and `earlyAbort: false`.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the [sandbox](https://codesandbox.io/s/modest-butterfly-7noyn0?file=/src/App.tsx)
2. Click on Submit
3. Open the console
4. Notice there is a single error for the items fie

[2022-08-10 22:40] bluebill1049 commented on #441
hook form reconcile errors based on the field name, if you want a group level, you can consider to use trigger('group')

[2022-08-10 22:49] marcospassos commented on #441
I've tried that. It doesn't work either:
https://codesandbox.io/s/modest-butterfly-7noyn0?file=/src/App.tsx

[2022-08-10 22:51] bluebill1049 commented on #441
<img width="978" alt="Screen Shot 2022-08-11 at 8 50 44 am" src="https://user-images.githubusercontent.com/10513364/184036021-4b7a09ec-2f55-40b3-a90d-d9ccc55c6d62.png">

then follow the doc try to debug why it's not trigger the error

[code]

[2022-08-10 23:11] marcospassos commented on #441
I can confirm it's an issue related to the Yup resolver:
![image](https://user-images.githubusercontent.com/943036/184037465-9eac38c9-842e-4eab-8df2-92a76d9d49de.png)

Yup correctly report the errors:
https://codesandbox.io/s/yup-forked-0xsspo?file=/src/index.js

![image](https://user-images.githubusercontent.com/943036/184038493-6ec7cbc2-92c8-4ab3-832d-49f1b0e853ff.png)

[2022-08-10 23:17] marcospassos commented on #441
I've updated the [code sandbox ](https://codesandbox.io/s/modest-butterfly-7noyn0?file=/src/App.tsx) to make the issue more explicit:
![image](https://user-images.githubusercontent.com/943036/184039059-eff4ef46-d5df-42c1-b389-46773b0fcd1d.png)

[2022-08-10 23:18] bluebill1049 commented on #441
It doesn't look like the errors object has associated with the field name, going back to the original comment hook form will require errors to be associated with fields.

[2022-08-10 23:22] marcospassos commented on #441
Even associating a field name it [doesn't work](https://codesandbox.io/s/modest-butterfly-7noyn0?file=/src/App.tsx:1245-1246):
![image](https://user-images.githubusercontent.com/943036/184039560-62e1da55-7465-4ae0-853e-c629effedaf9.png)

[2022-08-10 23:26] bluebill1049 commented on #441
I meant the schema, does the schema errors return the field associate path to that field array? Please refer to the source code which i posted above.

[2022-08-10 23:30] marcospassos commented on #441
Yes:
![image](https://user-images.githubusercontent.com/943036/184040249-2937fb99-61ca-44e0-b5ae-0d7ed617bcda.png)

Is it because Yup uses square bracket notation? I don't think so, since the errors are correctly reported when no errors above exist.

[2022-08-10 23:35] marcospassos commented on #441
That's what [this function](https://github.com/react-hook-form/resolvers/blob/master/yup/src/yup.ts#L14-L39) returns:

![image](https://user-images.githubusercontent.com/943036/184040782-aeac2c7a-4246-4cba-92f5-2822d9255532.png)

All errors are there.

[2022-08-10 23:56] marcospassos commented on #441
Ok, I found the problem. The [set](https://github.com/react-hook-form/react-hook-form/blob/730fde6e43b0beb05e60b27d783b5b10a5723640/src/utils/set.ts#L7) method is overriding the item error since it's reported later.

This is the value of [`fieldErrors`](https://github.com/react-hook-form/resolvers/blob/99703e696576ff740edaf91f3cbaa47c84a17654/src/toNestError.ts#L16) at each of the three [iteration

[2022-08-11 23:20] bluebill1049 commented on #438
Currently not supported, please send a feature request instead and we will monitor how many users would like to support this.

[2022-08-11 23:20] #438 closed

[2022-08-23 10:50] mexvod opened #444 "issue: Consistency of global names in UMD modules is expected"
### Version Number

7.34.2

### Codesandbox/Expo snack

https://codesandbox.io/s/determined-black-t75fjv?file=/index.html

### Steps to reproduce

1) If you are trying to build an application through UMD modules that can work directly from the browser, then there will be an error: "r is undefined"

The point is that modules https://unpkg.com/@hookform/resolvers@2.9.7/dist/resolvers.umd.js and http

[2022-08-25 14:45] ramirezsandin opened #445 "class-validator resolver not working properly when using Expose annotations with groups"
**Describe the bug**
When a class is annotated with `@Expose({groups:  "group-name"})` the validation doesn't work.
With the plain `@Expose()` annotation there's no problem.

**To Reproduce**
Create a simple class to validate:
[code]

Then just create a simple resolver:
[code]
All the validations are ignored.

My assumption is that the resolver, transforms the value into an instance of the TestDto

[2022-08-25 17:03] ramirezsandin commented on #445
I have check the code of the resolver, and indeed, the problematic resides in the transformation of the form values to the instance.

In the code, the transformation is made with `plainToClass` and it should be done with `plainToInstance` as the former is deprecated, that's not the problem anyway. I've modified the code inside, to create the instance hardcoded like so, and it works.
[code]
It shou

[2022-08-31 04:07] init-database commented on #432
these guys clearly don't like Ajv, they put it as the most bottom and the last one in the example section. you already include ajv-errors, why not for the ajv-formats? Yup has its validation for email, url, how do I validate those with ajv then? I already write ajv schema for my backend and I want to implement it in the frontend as well, I dont want to wasting my time write another validation rule

[2022-09-11 18:58] jorisre commented on #444
Fixed with https://github.com/react-hook-form/resolvers/pull/449

[2022-09-11 18:58] #444 closed

[2022-09-12 08:58] macarie commented on #70
@jorisre, sorry for the tag, but I saw that you had closed this issue as "completed".

Has this been done? Because I can only see the filtered properties, it would be helpful to access the "raw" Zod error.

Is there any way I can help?

[2022-09-12 14:03] Lykan9999 commented on #416
I am getting this error when using `preprocess` in the zod schema. easiest solution (not optimal) was  to drop its usage

[2022-09-12 14:19] jorisre commented on #416
Please open a new issue thank you

[2022-09-17 20:29] ChromeGG opened #451 "Infinite type in simple zod resolver"
**Describe the bug**
Simple form with Zod resolver is throwing `Type instantiation is excessively deep and possibly infinite.` error

dependencies viersions:

[code]

**To Reproduce**
Steps to reproduce the behaviour:

1. Clone this repo: https://github.com/ChromeGG/familiada
2. Run `pnpm i`
3. Open `CreateGameForm.tsx` file
4. Uncomment lines 20-23
5. See an error

**Codesandbox link (Required)**

[2022-09-17 22:29] bluebill1049 commented on #451
please follow the issue template and reproduce it in a codesandbox and please don't dump the entire project.

[2022-09-18 08:36] ChromeGG commented on #451
I tried to reproduce it on codesandbox, stackblitz and on local with clean `pnpm create next-app --ts`, but failed in each case. So something is specific for this environment. No idea what. I have to figure it out myself. Sorry for your trouble. You can close the issue :)

[2022-09-18 11:13] #451 closed

[2022-09-21 22:53] AlexRequelme commented on #70
I think the same, it would be a very useful functionality if you could have all the ZodError fields

[2022-09-25 23:56] punkpeye commented on #429
@victormamede Did you figure out how to make this work with Zod?

[2022-09-29 01:37] mcmillion commented on #290
FWIW, I just ran into this issue. Both `refine` and `superRefine` never get called. `trigger` doesn't seem to do anything to fix the problem.

[2022-10-05 06:21] #441 closed

[2022-10-06 06:50] qlaffont opened #453 "[SUPERSTRUCT] Coercion is not working"
**Describe the bug**
I try to use coercion to validate my form, but it tells me that my value is not a number.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a simple form with one field
2. Type a number
3. See error

[code]

**Codesandbox link (Required)**
Include a codesandbox will help us to investigate the issue quicker.

https://codesandbox.io/s/react-hook-form-v6-superstructre

[2022-10-06 06:53] bluebill1049 commented on #453
native input will always produce a string, you can set `valueAsNumber`: true or pass at your schema level to turn string to a number.

[2022-10-06 06:53] #453 closed

[2022-10-06 06:55] qlaffont commented on #453
This is what I tried if you check the code @bluebill1049

[2022-10-06 07:00] bluebill1049 commented on #453
your codesandbox is broken:
![Screen Shot 2022-10-06 at 5 59 35 pm](https://user-images.githubusercontent.com/10513364/194235430-a7f1ba8b-c1dd-4584-b226-d31f62fd77f5.png)

There is no magic from what hook form is supplied to your scheme:

you can use the following code to debug the issue

[code]

[2022-10-07 07:20] qlaffont opened #454 "[New Resolver] Implement @sinclair/typebox resolver"
**Describe the solution you'd like**
It will be nice to implement `@sinclair/typebox` resolver. This type validation is used on fastify (node framework). It will be nice to implement it to have validation system identical between back and front.

https://github.com/sinclairzx81/typebox#compiler

[2022-10-17 12:58] mitas1 commented on #453
@qlaffont try:
[code]

[2022-10-17 16:30] kieran-osgood commented on #290
Not quite the same as @mcmillion but the superRefine does definitely get called whenever onChange is called - what I noticed is given a superRefine that looks like this (this is a dynamic list of pills, which toggle true or false if selected) e.g.
[code]

Every `onChange` I see the log of 'superrefine' - and it correctly adjusts the `form.formState.isValid` so my submit button is correctly enablin

[2022-10-26 22:13] JosueGalRe opened #458 "Zod resolver is crashing while validation Dayjs values"
**Describe the bug**
Hi! I'm having some issues while trying to validate Dayjs values with Zod.
The resolver is crashing while trying to validate a value (TypeError: Cannot read properties of undefined (reading 'length')), the error doesn't occurs if the zod schema value is set to z.any(). However, this occurs in the zodResolver (shown in the screenshots below)

**To Reproduce**
Steps to reproduce

[2022-10-27 08:42] jorisre commented on #458
Thank for reporting the issue. We don't recommend to pass complex object like dayjs, moment etc.. into react-hook-form

[2022-10-27 08:56] bluebill1049 commented on #458
https://react-hook-form.com/api/useform

[2022-10-28 05:34] JosueGalRe commented on #458
Makes completely sense, didn't read that rule before. Thanks for the clarification and the quick response!

[2022-10-28 05:34] #458 closed

[2022-10-28 18:00] bestickley opened #460 "Support TS moduleResolution, NodeNext"
**Is your feature request related to a problem? Please describe.**
I get the following TS error when trying to use @hookform/resolver/zod with TS moduleResolution, NodeNext:

[code]

**Describe the solution you'd like**
The following pnpm patch fixes this issue:

[code]

**Describe alternatives you've considered**
N/A

**Additional context**
None

[2022-10-28 18:02] bestickley commented on #460
See TS docs:

https://www.typescriptlang.org/docs/handbook/esm-node.html#packagejson-exports-imports-and-self-referencing

[2022-10-28 23:25] FlorianCassayre commented on #105
Make sure you are importing:
[code]
and not:
[code]
That was my problem (the IDE picked this import for some reason).

[2022-11-03 13:12] GoncharenkoIgor opened #461 "Type '{}' provides no match for the signature '(): Object'."
**Describe the bug**
I've created simple form using useForm hook, passing an object with yupResolver(baseSchema) as resolver property. But I get an error which I can't understand and fix. Here it is.
`TS2322: Type '<TFieldValues extends FieldValues, TContext>(values: TFieldValues, context: TContext | undefined, options: ResolverOptions<TFieldValues>) => Promise<...>' is not assignable to type 'Res

[2022-11-03 20:57] bluebill1049 commented on #461
<img width="687" alt="Screenshot 2022-11-04 at 7 57 35 am" src="https://user-images.githubusercontent.com/10513364/199832627-539ba263-ffbd-47c0-99be-6a9234825052.png">

please provide a reproducible codesandbox.

[2022-11-04 08:11] Jack-Works commented on #460
Note: your patch is actually wrong

The correct patch should be:

[code]

[2022-11-04 10:41] bestickley commented on #460
@Jack-Works, it works for me, but your suggestion looks more robust. Thank you!

[2022-11-07 06:40] GoncharenkoIgor commented on #461
@bluebill1049 here it is, managed to reproduce an error
https://codesandbox.io/s/react-hook-form-resolver-forked-l6lwqr?file=/src/App.tsx

[2022-11-07 07:05] bluebill1049 commented on #461
Tested with the latest version is working as expected: https://codesandbox.io/s/react-hook-form-resolver-forked-b7o2o5?file=/src/App.tsx

![Screenshot 2022-11-07 at 6 05 02 pm](https://user-images.githubusercontent.com/10513364/200245867-797ded51-a834-4a73-a99e-a91de42b2fb6.png)

[2022-11-07 07:05] #461 closed

[2022-11-12 10:45] Toavina23 commented on #245
Hello I am facing this issue again when passing a the control object from useForm as a prop to the Controller component.
Here is the error:
 "Type 'Control<FormValues, any>' is not assignable to type 'Control<FieldValues, any>'.
The types of '_options.resolver' are incompatible between these types.

[2022-11-19 08:28] ayepRahman commented on #271
This reoccur in next js v13 when I am trying to use zodResolver

[code]

[code]

[2022-11-19 20:48] elton-okawa opened #471 "[ajv] Transform data before validation"
**Is your feature request related to a problem? Please describe.**
I have a dynamically generated form based on a JSON Schema and I’m facing problems when we have `optional` fields with validations, as every registered input has its own key on the form values, they are validated and fails even though visually they are empty.

[CodeSandbox example](https://codesandbox.io/s/react-hook-form-optional-

[2022-11-21 13:17] indiejoseph commented on #245
Also getting type error:
[code]

[2022-11-21 13:21] indiejoseph commented on #245
just found out I forgot to assign the `name` prop into <Controller />, @Toavina23 see is it your case.

[2022-11-21 13:49] Toavina23 commented on #245
Yep, I also forgot it and already solved mine,
but I still have no Idea about how does this error related to the name prop being forgotten