[2020-05-12 05:47] azizur opened #6 "Module not found: Can't resolve 'react-hook-form-resolvers'"
Then following the instruction in https://github.com/react-hook-form/react-hook-form-resolvers/blob/master/README.md

Install the module using `npm install react-hook-form-resolvers`.

Then import `yupResolver`.

`import { yupResolver } from 'react-hook-form-resolvers';`

I am getting
`
Module not found: Can't resolve 'react-hook-form-resolvers' in '{__PATH_TO_A_REMOVED_COMPONENT__}'
`

When I loo

[2020-05-12 05:52] bluebill1049 commented on #6
hey, @azizur I haven't released an updated version just yet, expected to release a v6 RC version this week.

[2020-05-12 14:45] AlinDev commented on #6
same issue

[2020-05-15 16:24] azizur commented on #6
@bluebill1049 Before this get released, I was thinking what the API would be?

I have a Yup schema that uses custom validation in a nested object. The custom validation depends on [form the data being provided as context](https://github.com/jquense/yup#mixedvalidatevalue-any-options-object-promiseany-validationerror). This allows me to use the context object when validating the the object.

Accord

[2020-05-15 23:53] bluebill1049 commented on #6
Hey @azizur ,

Thanks for the detailed explanation above. We do pass `context` into the `resolver`. However, for those resolvers in the repo, I would treat them as a black box and you only should apply config and not with context. if you need pass data into resolver, i would do this instead

[code]

[2020-05-19 08:10] bluebill1049 commented on #6
First RC version is out for both RHF and RHFR

https://github.com/react-hook-form/react-hook-form-resolvers/releases/tag/v0.0.2-rc.0

let me know how did it go. 👍

[2020-05-21 12:36] #6 closed

[2020-05-24 22:20] azizur commented on #6
@bluebill1049, Not the nicest API, however this works.

[code]

a clean API could be something like:
[code]
Where `setValidationContext` can be abetter named `yupResolver`'s config option that enables config to be ` { abortEarly: false, context: data }` in https://github.com/react-hook-form/react-hook-form-resolvers/blob/master/src/yup.ts#L52-L54

The value of `setValidationContext` can be either

[2020-05-24 22:58] bluebill1049 commented on #6
[code]
thanks @azizur for your feedback. why not doing the following:

[code]

[2020-05-27 18:22] joshyudeep opened #7 "Question: supporting json schema / ajv"
First off, thanks for all the work y'all put into this.

Are you guys planning to add a resolver for json schema / ajv?
https://json-schema.org/specification.html
https://github.com/ajv-validator/ajv

[2020-05-27 19:29] activebiz opened #8 "yupresolver doesnt fire all validation at once."
The yup validation is not firing all validation at one go on the 'fullName' field.

[code]

Here's CSB: https://codesandbox.io/s/competent-greider-8c8w8

Expected result: I was expecting multiple validation erros on name field.
Actual result: In contrast I can only get one validaiton error at a time.
![image](https://user-images.githubusercontent.com/2632440/83107685-986d1880-a0b6-11ea-92ea-567acb

[2020-05-27 22:32] bluebill1049 commented on #7
That would be great, would you please to contribute a resolver for that? https://github.com/react-hook-form/react-hook-form-resolvers V6 will support different types of schema.

[2020-05-27 22:36] bluebill1049 commented on #8
pretty sure `abortEarly : false` is by default, do you have a CSB?

[2020-05-28 06:41] activebiz commented on #8
Thanks @bluebill1049  Query updated.

[2020-05-28 06:47] bluebill1049 commented on #8
`yupResolver(schema, { abortEarly : false }, true)`

you are missing the `validateCriteriaMode`.

[2020-05-28 06:49] bluebill1049 commented on #8
looks like i forgot to wire `validateAllFieldCriteria`

[2020-05-28 06:52] bluebill1049 commented on #8
`useForm({ criteriaMode: 'all' })` try that

[2020-05-28 07:11] activebiz commented on #8
I have updated as follows:
[code]
Its showing errors in types.
Is this ok?

![image](https://user-images.githubusercontent.com/2632440/83110355-da985900-a0ba-11ea-8855-fd0c57a3a693.png)

[2020-05-28 07:13] bluebill1049 commented on #8
it's correct now.

[2020-05-28 07:16] activebiz commented on #8
Thanks @bluebill1049 for the prompt replies.

[2020-05-28 07:16] #8 closed

[2020-05-28 19:10] jacknewberry opened #9 "yupResolver loses errors when combining nested errors"
## Problem
The yupResolver loses some nested errors

## Background
I have a schema for validating dates. The input format is an object `{day, month, year}`. This is because my input form has three separate fields.

The intention is that when the error is due to a specific field, I can highlight that field in the UI. There are some validation conditions that apply to the whole date, and for those I

[2020-05-28 22:48] bluebill1049 commented on #9
Thanks for the PR for the unit test. however, I suspect this is a strange use case: (at least from unit test's perspective)

[code]

This will not work with our `register` method. do you have a CSB for your issue?

[2020-05-29 09:01] jacknewberry commented on #9
Thanks for you rapid reply.
I agree this probably a strange use case for `transformToNestObject`.

I'm not sure it is unusual for yup to be used to validate objects at both an individual key level and the whole object.

I don't know what you mean by 'CSB'. Perhaps you are asking for an example of the rest of the code:

We have a clumsy but functional solution that uses `setValue` to pass the `{day

[2020-05-29 09:03] bluebill1049 commented on #9
sorry i meant codesandbox, so i can have a play.

[2020-05-29 10:01] jacknewberry commented on #9
https://codesandbox.io/s/dark-firefly-h0y0x?file=/src/App.tsx

I seem to have messed up the validate-on-change somehow, but I think this captures the important bits.

If you enter a date like {day: 1, month: 99, year: 2002} I'd like to see "Month of birth must be in range 1-12".

If you comment out the yup `test` in the schema, you can get this effect, but you lose the overall validation.

[2020-05-31 05:54] bluebill1049 commented on #9
hey @jacknewberry just took a look at your example, I don't think we support such usage. you should have register 3 different inputs.

[code]

[2020-05-31 10:29] jacknewberry commented on #9
Thank you for having a look. I think the problem of the yupResolver hiding some errors still occurs when three inputs are registered.

Here I have changed the example to use `register` on each field:
https://codesandbox.io/s/proud-butterfly-5xh1u?file=/src/App.tsx

Uncommenting the yup schema `test` still causes the specific month error to be lost.

[2020-05-31 10:46] bluebill1049 commented on #9
The reason because there is no such field on the screen named as `dob`, so solutions

1. use `trigger` to `trigger('dob')`
2. build a custom component which contains those three inputs and wrapper with `Controllers` and register as `dob`

[2020-06-02 16:34] jacknewberry commented on #9
Ok. I'll look into those options.
Thank you.

[2020-06-02 16:34] #9 closed

[2020-07-01 10:23] federico-moretti opened #16 "Superstruct v0.10 doesn't work"
Superstruct resolver doesn't work with the version 6.0.0, I tried the Yup resolver and it's working fine.

Steps to reproduce:
- Click submit
- It shows no errors and submit the values

https://codesandbox.io/s/currying-fire-um7b5

PS: thank you for the amazing library and hard work.

[2020-07-02 21:33] mjirisha opened #15 "Attempted import error: 'appendErrors' is not exported from 'react-hook-form'."
Have the issue:

[code]

My implementation is pretty simple, but when I want just to import:

```import { yupResolver } from '@hookform/resolvers';```

 I see the error above. Even if I comment everything in the component.

Any clue?

[2020-07-02 21:51] mjirisha commented on #15
Ok, it was weird, but my version of react-hook-form was outdated. Though I installed it just several days ago... :) Fortunately, issue resolved.

[2020-07-02 21:51] #15 closed

[2020-07-04 00:29] bluebill1049 commented on #16
We will support the old version for now then until more users want us to support that latest version.

[2020-07-07 01:35] TheRealFlyingCoder opened #17 "Doco: Custom Resolver not respecting validation order"
So i'll be brief in case this is expected behavior, referring to the example at:

[https://react-hook-form.com/advanced-usage#CustomHookwithResolver](https://react-hook-form.com/advanced-usage#CustomHookwithResolver)

The reducer function doesn't respect the default order of validation as it does by a normal validation schema.

The code fix can simply be:

[code]

[2020-07-07 07:54] minimaluminium opened #19 "ESLint error: Unable to resolve path to module '@hookform/resolvers'"
Shows an ESLint error says `Unable to resolve path to module '@hookform/resolvers'`. I can use the resolver without any issue, just a lint error.

![Screen Shot 2020-07-07 at 2 10 43 PM](https://user-images.githubusercontent.com/1418797/86741324-de2fe000-c069-11ea-9a2a-58aa75283a6f.png)

[2020-07-07 07:56] bluebill1049 commented on #19
Thanks @minimaluminium can you try to remove node_module and install it again? I don't see the issue at my end. Mabye that will resolve the problem.

[2020-07-07 08:06] minimaluminium commented on #19
Hi. Removed `node_modules` and installed again, but same as before. I imported like below and the error is gone.

[code]

[2020-07-07 08:11] bluebill1049 commented on #19
hmmm this is strange.

[2020-07-07 08:11] bluebill1049 commented on #19
FYI @kotarella1110

[2020-07-07 10:54] actual-size commented on #19
I'm getting a compile error that was also solved by that import:

`./node_modules/@hookform/resolvers/dist/index.esm.js
Attempted import error: 'appendErrors' is not exported from 'react-hook-form'.`

[2020-07-07 10:55] bluebill1049 commented on #19
thanks @actual-size which version of RHF you are using?

[2020-07-07 10:58] kotarella1110 commented on #19
@minimaluminium please provide `.eslintrc.js`.

[2020-07-07 11:32] actual-size commented on #19
@bluebill1049 RHF `^5.7.2` and @hookform/resolvers `0.0.5`

[2020-07-07 11:37] bluebill1049 commented on #19
@actual-size v5 doesn't need resolver, resolver is for v6 :)

[2020-07-07 11:45] minimaluminium commented on #19
@kotarella1110 Here it is.

[code]

[2020-07-07 14:03] fcrezza commented on #19
use validationSchema for v5

`
const schema = // your schema

const {register, handleSubmit} = useForm({
  validationSchema: schema
})
`

[2020-07-07 14:06] fcrezza commented on #19
use validationSchema for v5

`const schema = // your schema`

`const {register, handleSubmit} = useForm({`
`  validationSchema: schema`
`})`

[2020-07-08 06:38] mrlubos commented on #19
Same issue and what @minimaluminium said fixed it, using react-hook-form 6.0.1

[2020-07-08 06:42] bluebill1049 commented on #19
@mrlubos is it eslint as well?

[2020-07-08 08:10] avin-kavish opened #20 "Using a resolver for one of the validation libraries requires installation of other validation libraries."
I am trying to use yup resolver and it is telling me that package superstruct is missing.

[2020-07-08 08:13] avin-kavish opened #21 "No tree shaking"
Won't this cause the whole library to be imported?

https://github.com/react-hook-form/resolvers/blob/ff82c5f442ee0b3a80da989ca36bf984b9d10404/src/yup.ts#L2

[2020-07-08 08:18] bluebill1049 commented on #21
good pick up! send us a PR please.

[2020-07-08 08:19] bluebill1049 commented on #20
which version? and screenshot?

[2020-07-08 08:47] bluebill1049 commented on #21
worth to mention, we only use it for `Type` as well

[2020-07-08 09:15] avin-kavish commented on #20
`"@hookform/resolvers": "0.0.5"`

I just copied the yup resolver code and bypassed it for now, will post a screenshot when I can. It's happening with CRA + Typescript.

The error is basically the types for `superstruct` cannot be found. Once I installed 'superstruct', there was another error about generic parameters not being passed to superstruct type.

Basically, this type requires at least one

[2020-07-08 09:21] bluebill1049 commented on #20
Do you have any solution in mind?

[2020-07-08 13:20] pix2D commented on #16
Would love support for the latest version. 👀

[2020-07-08 20:24] qventura commented on #20
Why not having one package per resolver?

As far as I can tell, this (https://github.com/react-hook-form/resolvers/blob/master/src/yup.ts) has no dependency to other module form the package.

This is actually how I fixed it in our project, just by extracting the content of `yup.ts` in one of our module.

[2020-07-08 21:59] bluebill1049 commented on #16
send us a PR plz :)

[2020-07-08 23:28] bluebill1049 commented on #20
I am seeking some evidence for this issue first before making any adjustments or changes.

[2020-07-09 00:44] Bobj2018 opened #22 "Import error: 'appendErrors'"
I seem to have this issue come up and I have no idea what is causing it.
[code]

[2020-07-09 00:45] bluebill1049 commented on #22
which version of react hook form you are using?

[2020-07-09 00:49] Bobj2018 commented on #22
4.9.8

[2020-07-09 00:59] bluebill1049 commented on #22
oh u dont need this package at all. v4 is building with schema validation, this is for v6.

[2020-07-09 01:41] avin-kavish commented on #20
This is a minimal reproduction: https://github.com/avin-kavish/cra-ts-hook-form-resolver-issue

![image](https://user-images.githubusercontent.com/48435155/86987245-34f50100-c1b3-11ea-995b-54006726b582.png)

[2020-07-09 01:50] bluebill1049 commented on #20
Thanks @avin-kavish we can definitely try that.

[2020-07-09 03:00] #22 closed

[2020-07-09 07:14] bluebill1049 commented on #20
I just tried your repo, if you have installed the dependency it's working as expected.

<img width="549" alt="Screen Shot 2020-07-09 at 5 14 31 pm" src="https://user-images.githubusercontent.com/10513364/87008824-a8286280-c207-11ea-886d-4094363abd20.png">

[2020-07-09 12:14] snmgian commented on #19
https://github.com/react-hook-form/resolvers/pull/23

[2020-07-09 12:15] bluebill1049 commented on #19
Thanks, heaps @snmgian I will release a patch now.

[2020-07-09 12:16] bluebill1049 commented on #19
before I close this, how did you find out it was due to that? @snmgian

[2020-07-09 12:33] snmgian commented on #19
My app's build process was running and ok, and the app was also running ok. Only eslint was complaining. When I faced those errors in the past, it was related to a package not being installed properly or not being installed at all.

As package.json tells where's the file that is going to be imported, my first step was to look at the package.json. Then I found the missing `dist/` path in `jsnext:ma

[2020-07-09 12:39] bluebill1049 commented on #19
nice @snmgian thanks for saving all of us! publish the patch now.

[2020-07-09 12:39] #19 closed

[2020-07-09 12:42] bluebill1049 commented on #21
i think this one is duplicated as the other unless you think otherwise. happy to re-open if so.

[2020-07-09 12:42] #21 closed

[2020-07-11 01:50] bluebill1049 commented on #20
Is this still an issue?

[2020-07-11 03:09] dev-araisan commented on #20
I have same issue in yupResolver (v0.0.6).
And I do not want to include other type definition packages.

https://github.com/react-hook-form/resolvers/issues/20#issuecomment-655845379

This solution is lgtm.

[2020-07-11 05:25] avin-kavish commented on #20
Will try to open a PR in the next couple of days.

[2020-07-11 05:55] bluebill1049 commented on #20
That would be awesome! thanks @avin-kavish

[2020-07-13 00:06] ahmadkam2 opened #24 "Unable to resolve path to module '@hookform/error-message'"
When I update react hook form version from `5.0.3` to `6.0.4`, I faced this error
` ErrorMessage component not exported from 'react-hook-form'`
after installing `npm install @hookform/error-message`

and edit the imports to
`import { ErrorMessage } from '@hookform/error-message';`
I faced this error
`Unable to resolve path to module '@hookform/error-message' `

[2020-07-13 23:48] sngreg opened #26 "Question: How to do multiple checks for password validation with Yup and RFH?"
I am wondering if there is a way with yup and yupResolver with RHF to do something similar to this:

https://codesandbox.io/s/eager-bush-dfl5t

Basically using this code when a user starts typing into the password field you get separated booleans for each validation criteria which allows you to build an interactive component such as:

<img width="397" alt="Screen Shot 2020-07-13 at 7 40 26 PM" src

[2020-07-13 23:56] bluebill1049 commented on #26
we do actually support `validateAllFieldCriteria` https://github.com/react-hook-form/resolvers/blob/master/src/yup.ts otherwise it would be a bug if it's not working.

[2020-07-14 00:05] sngreg commented on #26
Thanks @bluebill1049  for the quick reply. Going to try that quickly now to see if that is what I am looking for. Will post here and close out if it works :)

[2020-07-14 00:14] sngreg commented on #26
I am pretty new to RFH and Yup looking at the types, I am not seeing `validateAllFieldCriteria`

[code]
export interface ValidateOptions {
    /**
     * Only validate the input, and skip and coercion or transformation. Default - false
     */
    strict?: boolean;
    /**
     * Return from validation methods on the first error rather than after all validations run. Default - true
     */
    abo

[2020-07-14 00:21] Mathius17 opened #27 "Yup resolver failing to validate one field dependent on another"
Hi there! First of all I'm not sure if this problem is caused by the resolver, if it's a problem with Yup itself or simply because I don't have a proper understanding of the usage of this two wonderful tools.

So I'm trying to validate a field based on the value of another field (comparing that last date is greater than first date). But the error messages have been rather inconsistent in this case

[2020-07-14 02:23] Mathius17 commented on #26
Hey @sngreg! I think if you add `abortEarly` to the options when declaring the resolver it might solve your problem. It is `true` by default.

[code]

I haven't actually tested it but it seems like the solution to me.

[2020-07-14 12:06] sngreg commented on #26
@Mathius17  - Thanks for the suggestion. I did set it to false and am experiencing the same result above, where the password errors will trigger, but only shows one of each "type" so for reference: I have 4 different .matches regex but it only fires the first one.

<img width="579" alt="Screen Shot 2020-07-13 at 7 47 39 PM" src="https://user-images.githubusercontent.com/6288003/87423832-f2fbfe80-c

[2020-07-14 12:21] Vandell63 commented on #27
Hey @Mathius17  i have check your code and i found some issue and misunderstood of how yup work when you want to check two values.
1. you should remove your schema from your component
2. you should test your logic in the schema directly

I suggest you an alternative to your code their -> https://codesandbox.io/s/infallible-panini-uz2ri?file=/src/App.js
Hope your understand the difference and the y

[2020-07-14 13:11] Vandell63 commented on #26
Hi @sngreg  so yes for the `validate all criteria` it is the `criteriaMode` need to be 'all'.
If you abortEarly to true you will only get the first error Property in your schema
If you abortEarly to false you will get all yup errors from every properties.
So your question is more about many errors for only one props, and after investigate it yup only send you back the first error you got from your

[2020-07-14 13:16] sngreg commented on #26
Thanks @Vandell63  - I was afraid this might be the case after all the digging I was doing. I appreciate everyone jumping into this discussion.

[2020-07-14 13:51] Mathius17 commented on #27
Thank you very much @Vandell63! I definitely like your approach way more and now I have a better understanding of how to check two fields dependent on each other in Yup.

One last question just to make sure we're on the same page. The issue still remains, right? Although is a problem with Yup itself.

[2020-07-14 14:25] Vandell63 commented on #27
No sorry, your issue is fixed for me.
i just got another another issue with yup about context object inject into the form. Sorry it is independent from your case.
you case i think we have resolve it right ?

[2020-07-14 14:27] Vandell63 commented on #26
You welcome, i think you can close it, and as soon as yup want to add this feature, i'm pretty sure that @bluebill1049  will be already on :) .

[2020-07-14 14:49] Mathius17 commented on #27
@Vandell63 I just checked your alternative code again and repeating the "Steps to reproduce" in your example is giving me the same results unfortunately.

[2020-07-14 15:22] Vandell63 opened #28 "Yup context issues & How to reload the form with his new context"
Hi,
Issues that i found are :
- When you place a context props to the yup resolver like `{context: {test: "test"}}` validation trigger no more, specially for the case of `abortEarly` which have to be set to `false` to make it rework properly.
I expect the form to work even if abortEarly is not set.
- How can i trigger the new validation form if the context has change ?
You can follow this example

[2020-07-14 15:39] Vandell63 commented on #27
Yes i see now sorry. You're right !. The error disappear only when you change the `Max` value. But when you change the min value only the `isValid` property trigger. But the error don't disappear.
So point 1 and 2 correct but not the third one. :/ . I continue to investigate

[2020-07-14 15:47] sngreg commented on #26
@Vandell63  @bluebill1049  - Thank you again for the really quick responses.

Vandell63 - I opened an issue on yup (https://github.com/jquense/yup/issues/975) which it looks like this is not a problem in yup. Here is a very quick sample that shows ALL the errors when we call yup.validate.

https://codesandbox.io/s/nice-brown-61nzg

Notice in the console:

[code]

[2020-07-14 21:57] Vandell63 commented on #26
@sngreg  Im so sorry to lead you to the bad way. Effectively yup return an array of all errors ( log on codesandbox an Error class lead me to a weird log  ).
I continue investigate into the yup resolver code.
I already started this -> https://codesandbox.io/s/yup-resolver-with-errors-array-pvph7?file=/src/resolver.js

[2020-07-14 22:11] sngreg commented on #26
@Vandell63  no worries at all! Glad we are able to narrow this down. Thanks for starting that, i have narrowed it down to the `parseErrorSchema` method. It looks like that is where the "BUG" or "FEATURE REQUEST" would be. It is grouping and only saving one of each "type" in the "types" node.

EX:

Parse Inner Reduce ----
PATH: password MESSAGE: password is a required field TYPE: required
PATH: pas

[2020-07-14 23:20] bluebill1049 commented on #27
Thanks, guys, will investigate the cause of the issue.

[2020-07-14 23:31] bluebill1049 commented on #28
Thans i will take a look at those issues.

[2020-07-15 00:14] sngreg commented on #26
I believe this is where the error is happening, it only appends the latest error of a type:

https://github.com/react-hook-form/resolvers/blob/master/src/yup.ts#L15

Looking at what this does https://github.com/react-hook-form/react-hook-form/blob/173e0c1740108d23101681d79000708c5a2b7778/src/logic/appendErrors.ts#L21

It overwrites the type `match` with the latest error in the array.

I tested thi

[2020-07-15 00:33] bluebill1049 commented on #27
react hook form validate a single field at a time (this allow us to optimize render), if you need to depend field to trigger validation, you can use `trigger`.

[2020-07-15 01:09] Mathius17 commented on #27
Thanks @bluebill1049! I'm closing the issue then.

[2020-07-15 01:09] #27 closed

[2020-07-15 01:13] bluebill1049 commented on #26
thanks for the invitation @sngreg i haven't got time to look too deep on this one, do you have any fix in mind since you already traveled this deep into the code.

[2020-07-15 01:23] sngreg commented on #26
Thanks Bill! I don’t have a fix in mind. I know why it is broken but not sure how or where to fix. I know it is the appendError in RHF code.

One thought if we are fixing in resolvers can we build a unique list before appending them, or build our own error list.

[2020-07-15 07:48] Vandell63 commented on #26
@sngreg  Yes this is the case for the `appendError`, it replace the previous one every time. In my code sandbox link you can see in the resolver file that i have remove the `appendError` to return the first error if `validateAllCriteria` is set to `firstError`. And now i will work on the `all` from validate all criteria to show you instead a list of error with the same shape of the `firstError`.
[

[2020-07-15 07:50] bluebill1049 commented on #26
Thanks, @Vandell63 for all the support and investigation. I am really appreciated it here.

[2020-07-15 08:02] Vandell63 commented on #26
@bluebill1049  is totally normal, you are really active and we all like this. And i have to switch from formik to this library ( performance reason ). And no way for me i stay here.
I need to know how `react-hook-form` handle the yup resolver behind because instead Object error he will get an array of error so it should impact the `react-hook-form` behind. I continue

[2020-07-15 08:27] Vandell63 commented on #26
@bluebill1049 & @sngreg  I got a working example of @sngreg needs on
- https://codesandbox.io/s/yup-resolver-with-errors-array-pvph7?file=/src/index.js
Switch from "all" or "firstError" gave you one or many errors. Must be documented.
@bluebill1049  I don't know if it follow the mindset of what you call the `criteriaMode` ?
The changes:
- Remove the transformToNestObject function
- Remove the appe

[2020-07-15 08:37] bluebill1049 opened #29 "inject context into yup's context"
inject context into yup's context would be a PR at the resolver if you interested.

https://github.com/react-hook-form/resolvers/blob/master/src/yup.ts#L54

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/react-hook-form/issues/2222#issuecomment-658622653_

[2020-07-15 08:50] bluebill1049 commented on #26
yes i think we can remove: transformToNestObject. can you create a PR and let's do some further testing and see if this impact other stuff or not.

[2020-07-15 08:55] Vandell63 commented on #26
@bluebill1049 same here i will give a try :)

[2020-07-15 12:34] sngreg commented on #26
@Vandell63  - Thank you so much, taking a look now to see what you made and trying it out in my application.

[2020-07-15 12:46] sngreg commented on #26
@bluebill1049 @Vandell63  This is exactly what I needed. Things are looking good in my application, but I think the way we have this now will introduce a breaking change for people that have coded for the old type:

Now all the fields in the schema return an array of errors (GREAT!) but prior to this change their was the top level error exposed and then an object called types to. see the "partial

[2020-07-15 12:53] bluebill1049 commented on #26
Thanks guys. I think we need to keep the same object shape, otherwise, it's a breaking change not just the resolve but he core as well:
![image](https://user-images.githubusercontent.com/10513364/87547058-e33a0280-c6ed-11ea-8a3c-a2882b202c5a.png)

[2020-07-15 12:56] sngreg commented on #26
@bluebill1049 - So with the thoughts of keeping the object the same, I agree.

We run into issues using the type as the key in `types` object. Do you think we can keep the object the same and then add on just an `errors` array or would your thought be to make the keys unique in the `types` key / value pair like this:

matches-1: 'Special'
matches-2: ' Number'
...

[2020-07-15 19:47] Vandell63 commented on #26
Hey after a diving session into react hook form i didnt find any deps with the props `types` from the resolver into the `core` so it could be used easily. It was not documented and maybe could be a soft breaking change for any user which used the types props in errors ( i don't think many of them ).
I have updated the code -> https://codesandbox.io/s/yup-resolver-with-errors-array-pvph7?file=/src/

[2020-07-15 19:53] sngreg commented on #26
@Vandell63 - this looks great to me! I like that we keep the same object type and just repurpose the types array with “all” the validation criteria.

I am new to this repo, but I think you should make a PUll request with this code and see what @bluebill1049  thinks!

I appreciate all the time, intelligent discussion, and collaboration we all put towards this feature.

[2020-07-15 20:00] Vandell63 commented on #26
@sngreg  thx same feeling.
I can propose at the same time the `context` at the second argument which is not inject into resolver when user fill the object context into the resolver object ( and not in the yupResolver option ) -> https://github.com/react-hook-form/react-hook-form/issues/2222#issuecomment-658622204 sounds good to you @bluebill1049 with the code change ?

[2020-07-15 23:16] bluebill1049 commented on #26
yea totally! thanks for all the investigations. looking forward to your PRs, this is going to help some many developers.

[2020-07-15 23:17] bluebill1049 commented on #26
@Vandell63 if we can try to have the same structure is the best, then they are consistent and no breaking changes. 🙏

[2020-07-15 23:34] sngreg commented on #26
@bluebill1049 i understand not changing the structure for breaking changes, I guess what would recommend we can do to keep the same structure. Right now in the types object the key has to be unique. This will be a problem with having 4 validation criteria with the key “match”.

So do we appended a number to the end of the key or do we keep the same object, but just add another item to the object c

[2020-07-15 23:39] bluebill1049 commented on #26
yes, perhaps we can return a match object?

[code]

it's probably easier to `Type` as well.

[2020-07-15 23:53] sngreg commented on #26
@bluebill1049  - I am struggling figuring out how we will want to key the `matches` object

Real Example:

[code]

So if we are going to have the message be the key and the stringified value, that can be a sentence. Not sure that would be a great key.

The only thing I can think of is something like

[code]

Thoughts? I still think we should do something like this

[code]

[2020-07-16 00:14] bluebill1049 commented on #26
doesn't `matchees` return `type` and `message`?

[2020-07-16 00:15] bluebill1049 commented on #26
I don't think we will go with `allErrors`.

[2020-07-16 00:21] sngreg commented on #26
So the first error is exposed at the top level:

[code]

Then the object has a `types` key which the current way uses the `type` as the key and the `message` as a value. The problem we are having is that `type` matches has multiple messages, so we can't use the `type` as the key.

What about something like

[code]

[2020-07-16 00:25] bluebill1049 commented on #26
Oh I see, sorry I am missing some content here (without careful read), you are trying to return multiple messages with a single type. perhaps we should have a new `messages` then.

[2020-07-16 00:26] bluebill1049 commented on #26
[code]

[2020-07-16 00:28] sngreg commented on #26
Yes, I think we can just return the array of messages in the types object.

What is "test" in your example? Is that a new key to the object?

If we want to keep the object consistent I do like the idea of what I proposed above where the `types` key is an object that has the `type` as the key and an [] of messages

[2020-07-16 00:30] bluebill1049 commented on #26
[code]

This is what i meant.

[2020-07-16 00:34] sngreg commented on #26
II see what you mean, just to add more context, the top level of

[code]

[2020-07-16 00:36] bluebill1049 commented on #26
[code]

[2020-07-16 00:45] sngreg commented on #26
Okay, I like this, I just dont think we will be able to do

`  messages: [] // multiple message for single type`

The reason being at the top level which you posted above, the `type` object is just the first error message so for a password in the schema:

CURRENT
[code]

Your SUGGESTION:

[code]

Another SUGGESTION:

Make the messages: [] an object with message and type

[code]

[2020-07-16 00:47] bluebill1049 commented on #26
can you explain above? I thought it's just matter of map the data.

[2020-07-16 00:55] sngreg commented on #26
So how the object is currently structured:

[code]
This is just the first / top level error for this field  (say we dont have "abortEarly = false", it would only return this) When we have `abortEarly = false` it still returns the top validation error that failed (based on the yup schema object and the first criteria to fail in the chain"

[code]
So if Password is blank, it fails on `.required()` a

[2020-07-16 01:01] bluebill1049 commented on #26
Yes make sense, the bit it confuses me is if you can have messages like below, why you can't strip those `type`?
[code]

[2020-07-16 01:05] sngreg commented on #26
We totally can strip the types (I think that is fine and we dont need them, at least I don't)

[code]

The object above works for me, the only thing we. wouldn't be able to do is map the type for all the messages strings. I was just countering a point earlier for based on this comment from you:

messages [] will just me multiple messages for ANY type in the above schema? If we are good with that,

[2020-07-16 01:08] bluebill1049 commented on #26
[code]

what about this @sngreg? just think twice about this, `type` is important and you are right.

[2020-07-16 01:09] bluebill1049 commented on #26
I am just saying it out loud, i need to play with the code to verify by the way.

[2020-07-16 01:14] sngreg commented on #26
I do like this and it would solve. my problem of why I raised the question. (Just for anyone following the thread, we. wouldn't have the last 2 messages in that `matches` array as those are for `min` and `required`

So we should have the `types` key

IF type has 1 message THEN  -- [type]: "message"
ELSE IF type has > 1 message THEN -- [type]: [ "message1", "message2"...]

I like this, one other th

[2020-07-16 01:17] sngreg commented on #26
Thinking out loud, making each type an array probably doesn't make sense. I dont think there are many types that will have multiple validation criteria so maybe go with your plan. I just hate having inconsistent types array vs string depending on the amount of messages.

[2020-07-16 01:23] bluebill1049 commented on #26
let me think about this issue a bit more. thanks a lot for your input @sngreg

[2020-07-16 01:25] sngreg commented on #26
Thanks @bluebill1049 looking forward to what you come up with :)

[2020-07-16 01:28] bluebill1049 commented on #26
Thanks @sngreg it's going to be one of those options that we discussed. Just try to pick one that makes most of the sense and developer-friendly.

[2020-07-16 01:36] sngreg commented on #26
Perfect, I will code for that in my repo and make a custom resolver until we get a fix in :)

[2020-07-16 02:01] bluebill1049 commented on #26
Let's go with this  @sngreg @Vandell63. 👍

[code]

[2020-07-16 02:11] bluebill1049 commented on #26
i will create a PR at the core as well for this.

[2020-07-16 02:12] bluebill1049 commented on #28
https://github.com/react-hook-form/resolvers/issues/29

[2020-07-16 02:17] sngreg commented on #26
Thanks @bluebill1049 i like this plan! Thanks for all the thought and making the PR! Excited to get this enhancement in this awesome repo!

[2020-07-16 07:35] Vandell63 commented on #26
Woaw guys 20 messages missing :) . Great let's do this. Do you want me some helps or modify the codesandbox or all goods  ?

[2020-07-16 12:23] Vandell63 commented on #29
@bluebill1049  pull request -> https://github.com/react-hook-form/resolvers/pull/30

[2020-07-16 12:27] bluebill1049 commented on #29
nice!

[2020-07-16 14:34] Vandell63 commented on #26
@sngreg  @bluebill1049  I have update the codesandbox -> https://codesandbox.io/s/yup-resolver-with-errors-array-pvph7?file=/src/App.js
And it work as expected BUT the ui refresh only when one of types has been remove or added SO:
If you tested, `special` message still as soon as all special message are resolved.
You can find the `Yup errors` in the logs to see all yup errors updated correctly.
Wh

[2020-07-16 16:25] sngreg commented on #26
@Vandell63  Thanks! This is functioning how I would expect it to function!

@bluebill1049 - Not to throw a wrench into our solution, but we might have an issue with types adding `messages`

[code]

[2020-07-16 16:37] Vandell63 commented on #26
@sngreg  this preparation ? -> https://github.com/react-hook-form/react-hook-form/pull/2247

[2020-07-16 16:38] sngreg commented on #26
Thanks @Vandell63  -  Bill's always one step ahead of me!

[2020-07-16 16:43] Vandell63 commented on #26
@sngreg  i think we have to wait for a decision and the PR too to be sync on . And take in mind that the ui do not refresh on new yup errors from the same types. It work when message was a Array<string>. So the current example refresh the ui if one of the key appear or disappear base on yup errors.
Wating here you final though and decision @bluebill1049  @kotarella1110  :)

[2020-07-16 16:46] sngreg commented on #26
Thanks @Vandell63  - In my use case, I will need the UI to refresh to give live feedback on the password criteria. I agree, lets see what Bill and Kotarella1110 has to say in RFH and then work on our solution

[2020-07-17 11:10] sngreg commented on #26
@bluebill1049 @Vandell63 - looks like the PR is merged in RHFs (thanks for doing that) -

Bill - would you like us to submit a PR to this repo now with the final structure that we talked about using types and message arrays? I still think this resolver should return an array for every message in the types key (like we were going to do for messages)

[2020-07-17 11:21] bluebill1049 commented on #26
<img width="946" alt="Screen Shot 2020-07-17 at 9 21 27 pm" src="https://user-images.githubusercontent.com/10513364/87781150-7c465600-c873-11ea-9131-ffee264ecbc4.png">

let's follow this, unless if there is anything that we are missing.

[2020-07-17 11:22] #28 closed

[2020-07-17 11:39] sngreg commented on #26
@Vandell63 okay that works, so basically, the type is the key and if there is only one message it is

[type]: Message

But if multiple messages it is

[type]: Message[]

That works for me, I just like to be consistent as possible with value types but works for my scenario

[2020-07-17 14:05] Vandell63 commented on #26
@sngreg  I saw that the types are merge to rhf but for this repo nothing has change yet right ? Or am i missing something
@bluebill1049  @kotarella1110  thx for your time :)

[2020-07-17 14:07] sngreg commented on #26
@Vandell63 based on looking at open / closed PRa nothing has changed. That being said not sure if bill or kota are working in it?

[2020-07-17 14:46] kotarella1110 commented on #26
@sngreg please create this PR 👍
We will review the PR you created.

[2020-07-17 15:18] sngreg commented on #26
@Vandell63 do you have a PR started, if not I can look into making one. (I don’t want to duplicate the efforts)

[2020-07-18 08:41] #29 closed

[2020-07-18 08:42] bluebill1049 commented on #26
looking forward for the PR. thanks 👍

[2020-07-18 09:19] Vandell63 commented on #26
@sngreg  sorry not yet, do want me to give a try ?

[2020-07-18 11:24] sngreg commented on #26
@Vandell63 if you have time today sure. I looked at the code sandbox and I think we are almost there. I am using the latest code sandbox and was working as intended.

[2020-07-18 15:22] Vandell63 commented on #26
@sngreg  @bluebill1049  i let you video instead **of hundred of wording**.
https://www.loom.com/share/d561dd07ce9948e489d881d2bd62e1c5

I will start the pull request tomorrow if it sounds good to you ;).

[2020-07-18 17:19] sngreg commented on #26
@Vandell63 thanks for making the video and the code! This looks great to me. Looking forward to the PR!

[2020-07-19 16:57] Vandell63 commented on #26
@bluebill1049  @sngreg  there we go -> https://github.com/react-hook-form/resolvers/pull/32

[2020-07-23 17:44] gcourtemanche commented on #20
importing directly from the dist folder is a good workaround for now:
`import { yupResolver } from '@hookform/resolvers/dist/yup';`

[2020-07-24 13:20] spbriggs opened #34 "tsconfig changes required to use resolvers"
I'm migrating from v5 to v6 with resolvers. I'm getting Typescript errors when I try to build my project which required changing my tsconfig.json

[code]
and

[code]

( xxx is truncated path to my project folder)

For the first one I had to add this to my tsconfig.json

`    "allowSyntheticDefaultImports": true`

and for the second I had to edit node_modules/@hookform/resolvers/dist/superstruct.d.

[2020-07-25 10:57] rvision opened #35 "IE11 crashing with v0.1.0 and react-hook-form v6.08"
It reports syntax error on this line:

`const parseErrorSchema = (error, validateAllFieldCriteria) => ...`

which is the code of the resolvers. I assume this needs some transpiling since IE doesn't know about const keyword?

[2020-07-25 11:06] rvision commented on #35
Tried with 0.0.3 version, same problem.

When I comment-out resolver imports and code, it works fine.

Bloody IE

[2020-07-26 06:07] premputtegowda commented on #22
I have the same issue for   "react-hook-form": "^6.0.8",

[2020-07-26 13:06] Vandell63 commented on #26
@sngreg  are you happy with the new release 0.1.0 ? If yes we should maybe close this issue ?

[2020-07-26 13:09] sngreg commented on #26
@Vandell63  Yes! Everything works great! Thanks @Vandell63 / @bluebill1049 / @kotarella1110  for the quick work and the release. Closing this issue out.

[2020-07-26 13:09] #26 closed

[2020-07-27 04:07] bluebill1049 commented on #34
are you using superstruct or yup?

[2020-07-27 08:35] spbriggs commented on #34
Hi. I'm using Yup. Although as per #20 I've had to install superstruct too.

[2020-07-27 09:29] bluebill1049 commented on #34
ok let's focus on that issue 👍

[2020-07-27 09:29] #34 closed

[2020-07-27 10:57] spbriggs commented on #34
Hi @bluebill1049. Apologies for re-opening this issue but just wanted to add that I've done some more digging and the second problem (regarding Struct) is actually due to https://github.com/react-hook-form/resolvers/issues/16#issuecomment-652531948

Setting superstruct version to ~0.8.4 in my package.json fixes that issue.

[2020-07-27 10:59] bluebill1049 commented on #34
oh! so if we fix superstruct we can resolve this problem?

[2020-07-28 12:59] spbriggs commented on #34
I'm not at all familiar with superstruct but that seems a reasonable assumption

[2020-07-28 23:09] bluebill1049 commented on #34
ok thanks, i will take a look this weekend

[2020-07-29 16:02] jgeschwendt commented on #16
I've played around with writing a resolver for the 0.10.x version but won't completely work until this issue gets fixed.

https://github.com/ianstormtaylor/superstruct/issues/394

[2020-07-29 23:09] bluebill1049 commented on #16
oh, thanks a lot @jgeschwendt 🙏

[2020-08-03 15:16] rvision commented on #35
Any news about this issue?

[2020-08-03 23:27] bluebill1049 commented on #35
hey @rvision i haven't got chance to work on this one...

[2020-08-04 12:41] gCardinal opened #37 "Using .test with Yup causes erroneous validation"
I have the following (simplified for this issue) schema:

[code]

With this schema, validation of a form won't work, the form will always be considered valid. I could isolate the issue to this line: https://github.com/react-hook-form/resolvers/blob/master/src/yup.ts#L11. I'm new to both Yup and react-hook-form, but my understanding is that a validation error from a test in yup will not have a path

[2020-08-04 13:15] bluebill1049 commented on #37
`path` is required to assign to an actual `error`.

[2020-08-04 13:23] gCardinal commented on #37
In other words, react-hook-form does not support [yup's .test](https://github.com/jquense/yup#mixedtestname-string-message-string--function-test-function-schema) method?

[2020-08-05 01:18] JeromeDeLeon commented on #37
You could use the [addMethod](https://github.com/jquense/yup#yupaddmethodschematype-schema-name-string-method--schema-void) and put the `test` method inside.

[2020-08-05 01:43] JeromeDeLeon commented on #37
Also, side note, instead of using `object().shape({ ... })` you could do this, `object({ ... })` based on [this](https://bitbucket.org/growsuper/tina-admin-middleware-koa/pull-requests/102).

[2020-08-05 01:56] bluebill1049 commented on #37
Thanks @JeromeDeLeon's clarification.

[2020-08-05 02:01] JeromeDeLeon commented on #37
No problem. I think I had legacy code (lol) before that uses addMethod on custom date validation with react hook form and yup but I already deleted it , but I still think it's still possible though.

[2020-08-05 12:20] gCardinal commented on #37
Thanks, I'll try the `addMethod` workaround though I still find it weird this library isn't supporting all of yup's features.

[2020-08-05 12:20] #37 closed

[2020-08-07 15:01] dkulakov1 opened #38 "Failed to minify the code from this file"
Have the same problem as here [react-hook-form/issues/773](https://github.com/react-hook-form/react-hook-form/issues/773)

Are you planning to provide something like **'react-hook-form/dist/index.ie11'** but for **@hookform/resolvers**?

[2020-08-08 00:05] bluebill1049 commented on #38
yes: https://github.com/react-hook-form/resolvers/issues/38

[2020-08-08 00:05] #38 closed

[2020-08-08 00:08] bluebill1049 commented on #35
hey @kotarella1110 any chance you could bring ie11 build over to resolver? 🙏 many thanks.

[2020-08-08 15:10] rahadkc opened #39 "Module not found: Can't resolve 'react-hook-form-resolvers'"
Install the module using `yarn add react-hook-form-resolvers`.

Then import `yupResolver`.

`import { yupResolver } from 'react-hook-form-resolvers`

I am getting
`Module not found: Can't resolve 'react-hook-form-resolvers'`

I saw similar issue but don't find any solution.

My package.json -

![resolver-error](https://user-images.githubusercontent.com/8745638/89713706-4e0fee00-d9bb-11ea-9e76-e610

[2020-08-08 15:58] rahadkc commented on #39
Problem solved by installing `@hookform/resolvers` instead of `react-hook-form-resolvers`

[2020-08-08 15:58] #39 closed

[2020-08-10 23:12] #35 closed

[2020-08-11 14:57] iamacook opened #41 "Nested yup schema validation"
I'm currently migrating to react-hook-form and the current yup resolver does recognise yup's [when](https://github.com/jquense/yup#mixedwhenkeys-string--arraystring-builder-object--value-schema-schema-schema) in nested schemas.

I've created an example [here](https://codesandbox.io/s/react-hook-form-validationschema-v6-forked-lvyqm?file=/src/index.js). You should be able to submit the form because

[2020-08-11 22:48] dylanhotfire opened #42 "IE11 Support"
This package does not work with IE11. The react-hook-form [latest release](https://github.com/react-hook-form/react-hook-form/pull/2542) looks like they're making efforts to support IE11 until it's unsupported, are we able to release a transpiled version of this package as well?

[2020-08-13 11:36] pom421 opened #43 "Yup resolver problem with test function"
Hello,

It seems there is a problem with the `yupResolver`, when there is a schema with [`test` function](https://github.com/jquense/yup#mixedtestname-string-message-string--function-test-function-schema).

This a CodeSandbox to reproduce the problem: https://codesandbox.io/s/yup-resolver-problem-with-yup-test-function-16r4d?file=/src/App.js

The form example has 3 inputs. The age is required, onl

[2020-08-13 11:43] bluebill1049 commented on #43
because `.test` doesn't return `type` from `yup` from my early inspection.

Take a look at this Codesandbox: https://codesandbox.io/s/pedantic-wright-2zp5v?file=/src/App.js

[2020-08-13 11:48] bluebill1049 commented on #41
we focus single input validation at all, for dependency validation, you need to use `tirgger`

[2020-08-13 11:51] bluebill1049 commented on #43
similar question here: https://github.com/react-hook-form/react-hook-form/discussions/2576

[2020-08-13 11:57] pom421 commented on #43
What is type, actually? If it is a name of a particular field, indeed we can't give it since test is built to check multiple fields, so this is a general validation problem.

[2020-08-13 12:01] bluebill1049 commented on #43
then how would RHF know which errors to be inserted?

you probably can help me the following error as well then:

https://codesandbox.io/s/pedantic-wright-2zp5v?file=/src/App.js

if you run above CSB, you will see the error:
<img width="324" alt="Screen Shot 2020-08-13 at 10 00 47 pm" src="https://user-images.githubusercontent.com/10513364/90132080-7ed39700-ddb0-11ea-9f1d-d22987317103.png">

[2020-08-13 14:05] pom421 commented on #43
I suspect that this error happens when RHF tries to populate the errors object and to find where to put the detail.

But I am surprised that it doesn't work neither if we use "file1" instead of "type" in your code sandbox, as first argument of `test` function.

I am not an expert in Yup, but since the `test` function has a name in first argument, this name could be used has a property in the error

[2020-08-13 22:34] bluebill1049 commented on #43
can you debug the `schema.validate(values)` and see what's sort errors its' returning?

[2020-08-14 09:45] pom421 commented on #43
For some reason, this is due to the context param in the `yupResolver` function.

https://codesandbox.io/s/yup-resolver-problem-with-yup-test-function-16r4d?file=/src/App.js:451-462

Try it with or without null for the second parameter, and with null, it returns an error object with a key undefined (this key sould be the first parameter of the yup `test` function, in my case globalError). Without

[2020-08-14 09:48] bluebill1049 commented on #43
so is that an issue with `Yup`? or our usage is incorrect? if that's us, happy to see a PR if you know the fix.

[2020-08-14 09:54] pom421 commented on #43
I will be glad to help,  but unfortunately, I dont fully understand the `yupResolver` function. For example, how the [context parameter](https://github.com/react-hook-form/resolvers/blob/a4ea13750e82fa3829a982f729c4a33d3c0851ea/src/yup.ts#L49) is retrieved?

Is this https://react-hook-form.com/advanced-usage#CustomHookwithResolver is the only documentation for writing custom resolver?

[2020-08-14 09:56] bluebill1049 commented on #43
it's getting invoked by `useForm`, so you saying the issue is due to `context`?

[2020-08-14 09:57] bluebill1049 commented on #43
curious why context is causing this issue with `Yup`?

[2020-08-14 09:59] bluebill1049 commented on #43
what if you just invoke `schema.validate(values)`?

[2020-08-14 10:06] pom421 commented on #43
Yes, in this case the Validation Error is thrown as expected. See https://codesandbox.io/s/yup-resolver-problem-with-yup-test-function-with-custom-yup-resolver-5ibx0?file=/src/App.js

This is why I suspect that yupResolver has a bug.

[2020-08-14 10:08] bluebill1049 commented on #43
![Screen Shot 2020-08-14 at 8 08 04 pm](https://user-images.githubusercontent.com/10513364/90238820-e1d53480-de69-11ea-9cd3-e6d1b6b08d2c.png)

the key is `undefined` tho 🤔

[2020-08-14 10:09] pom421 commented on #43
Yes, this is because of  [currentError.path] which returns undefined.

[2020-08-14 10:12] bluebill1049 commented on #43
that's the issue then. which field this error should be assigned then?

[2020-08-14 10:12] pom421 commented on #43
[code]

With something like this, you will always have a key to refer to.

[2020-08-14 10:14] bluebill1049 commented on #43
what's "validation"? we can't just make up a `type`.

[2020-08-14 10:15] bluebill1049 commented on #43
is there any way we can return type from `yup.test`?

[2020-08-14 10:15] bluebill1049 commented on #43
could you create an issue/question there and reference this problem?

[2020-08-14 10:15] pom421 commented on #43
I my example, the error will be globalError, the first parameter of `test` yup function. So I can "subscribe" to this error in my JSX.

[2020-08-14 10:17] pom421 commented on #43
I have copied/pasted the line above, which mentions the string "validation" as a fallback value for "type" property.

[2020-08-14 10:17] bluebill1049 commented on #43
is it that an issue with yup, return the key as `undefined`? we can fix it, but it just feels strange return `undefined` as key? don't you think so?

[2020-08-14 10:21] pom421 commented on #43
It's not that. The undefined is due to the custom resolver and how it rebuilds an error object.

But Yup has sended this:
[code]

I suspect that  "path":"this", is not well evaluated and returns undefined.

[2020-08-14 10:38] bluebill1049 commented on #43
I will take a deep look at it in the next following days, if u have time please jump in before I do 🙏

[2020-08-14 10:43] pom421 commented on #43
Thanks Bill! And thanks by the way for sharing us RHF, I really like it! 🎩

I will post an issue and reference this thread.

[2020-08-14 10:57] bluebill1049 commented on #43
I will sort this out in the next couple days 👍 all good ❤️

[2020-08-15 06:35] bluebill1049 commented on #43
hey @pmaier983, would you be interested to give a crack on this one?

[2020-08-15 16:10] pmaier983 commented on #43
So the quick fix for now is to return true (or false 🤷) if the validation passes, and to throw and Error if the validation fails. This will create an error with name 'undefined'... not ideal, but is a good enough patch until I figure out whats going on.

[code]

[2020-08-17 07:18] iamacook commented on #41
Thank you for getting back to me so quickly. I apologise for the late reply.

The initial validation was not the issue. Without passing the context to yup, it cannot retrieve the values of fields outside of the embedded schema.

I have since migrated from yup to joi, since you do not need to embed schemas inside schemas if you're data structure is made up of embedded objects.

[2020-08-17 07:23] bluebill1049 commented on #41
thanks, what's the remaining issue here?

[2020-08-17 07:29] iamacook commented on #41
In the schema (taken from the example):

[code]

The field 'test.location' in the schema cannot access the value of 'firstName' and returns undefined. So, it isn't possible to use when("xyz", { is: **this condition**... } in embedded yup schemas.

[2020-08-17 07:54] bluebill1049 commented on #41
I just succesfully submit the form.
<img width="1184" alt="Screen Shot 2020-08-17 at 5 54 42 pm" src="https://user-images.githubusercontent.com/10513364/90371731-bd1fcd80-e0b2-11ea-87df-cecbe5b17816.png">

[2020-08-17 08:50] iamacook commented on #41
There should not be a character limit when the first field is 'Aaron'.

[code]

![image](https://user-images.githubusercontent.com/20442784/90376839-5cbf6a80-e077-11ea-8538-13d9e1a3ff07.png)

[2020-08-17 09:00] bluebill1049 commented on #41
![Uploading Screen Shot 2020-08-17 at 7.00.07 pm.png…]()
This is what yup returned.

[2020-08-17 09:33] iamacook commented on #41
Maybe I'm confused, and I'm sorry if I am, but it shouldn't be returning that error because the field value is 'Aaron'? There is no character limit when that condition is met.

[2020-08-17 09:39] bluebill1049 commented on #41
there is no right or wrong here :) we just try to make it work, for RHF we just follow what's yup's returning.

[2020-08-17 10:21] iamacook commented on #41
Ok, well the only way I could get it to work was by passing a continuously updated context to yup and that completely goes against the reason for my initial migration (reducing renders). I instead switched to Joi because you don't have to embed schema objects if your data structure has multi-level object(s).

Thank you for looking into this nonetheless. I'm really happy with the performance increa

[2020-08-17 11:00] #41 closed

[2020-08-18 09:26] dkulakov1 commented on #38
@bluebill1049
Is it already implemented?

[2020-08-18 18:28] ArtBIT opened #44 "Failing to build"
In my project, and even with the very basic typescript boilerplate (i.e. https://github.com/jsynowiec/node-typescript-boilerplate), including @hookform/resolvers into the project breaks the build.

[code]

[2020-08-18 18:42] ArtBIT commented on #44
Are all devDependencies in package.json truly dev deps?

[2020-08-18 22:36] bluebill1049 commented on #44
https://github.com/react-hook-form/resolvers/issues/20

we are looking for solutions, yes they r dev dependency if you check the package.json.

[2020-08-18 22:36] #44 closed

[2020-08-19 12:29] #43 closed

[2020-08-19 15:48] ArtBIT commented on #44
That's what I am saying, shouldn't they be listed as dependencies (not devDependencies) since those packages are imported at runtime, from the dist folder?

[2020-08-19 21:56] bluebill1049 commented on #44
if they are dependencies, then the bundle size would be tripled right? we need to solve the problem not importing other libs.

[2020-08-20 07:17] #17 closed

[2020-08-20 09:21] sonatard opened #46 "No errors to invalid validation function"
If we make a mistake in the name of the input in validation function, it will not be alerted onSubmit function and no error log in console.
We can't understand what wrong.

https://codesandbox.io/s/react-hook-form-validationschema-forked-gnrv4?file=/src/index.js

[2020-08-20 09:52] bluebill1049 commented on #46
we can potentially through warning at runtime when the field is not matching with inputs been registered.

[2020-08-20 13:19] ArtBIT commented on #44
Since you only seem to need to import type definitions, maybe you could use https://github.com/DefinitelyTyped/DefinitelyTyped ?
@types/joi
@types/yup
@types/superstruct

[2020-08-20 22:59] bluebill1049 commented on #44
we could try that, i will build a beta version today for you.

[2020-08-24 16:49] flamedmg opened #47 "Yup ValidationError is leaking and becomes untracked runtime error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
To reproduce add `test` call to any yup field here is an example yup schema
[code]

1. Go to codesandbox link
2. Fill first name, last name and put abc or any non valid string into username field
3. Click Submit button
4. See error

![image](https://user-images.githubusercontent.com/416393/91072822-be1ca600-

[2020-08-24 18:11] angelolev commented on #42
having an error with yupResolver, I guess it is related with IE11 compatibility. Hope rhf team could improve this

[2020-08-25 00:31] bluebill1049 commented on #47
please make sure you supply an updated codesandbox.

[2020-08-25 05:24] flamedmg commented on #47
@bluebill1049 I do not understand your request.

`https://codesandbox.io/s/react-hook-form-validationschema-forked-yj7q6?file=/src/index.js`

Points to the updated codesandbox page where i added Username field to the form and where you can see the bug i'm talking above

Here is a screenshot:
![image](https://user-images.githubusercontent.com/416393/91126296-54d17d00-e6ac-11ea-93f1-86ce0971f8a6.png

[2020-08-25 05:26] bluebill1049 commented on #47
your steps weren't clear...
The following didn't reproduce the issue

- Go to codesandbox link
- Fill first name, last name and put abc or any non valid string into username field
- See error

I reproduced the issue until hit the submit button and then change the input value.

[2020-08-25 05:27] bluebill1049 commented on #47
<img width="328" alt="Screen Shot 2020-08-25 at 3 27 11 pm" src="https://user-images.githubusercontent.com/10513364/91126485-7439cb80-e6e7-11ea-8ee8-976b41f1b70f.png">

also, please look at the version compare with what you posted. this leads me to believe your example is not correct.
<img width="906" alt="Screen Shot 2020-08-25 at 3 27 30 pm" src="https://user-images.githubusercontent.com/1051336

[2020-08-25 05:40] flamedmg commented on #47
@bluebill1049 Thank you for the hints. I'm sorry for being unclear.
Here is [Updated Codesandbox page](https://codesandbox.io/s/react-hook-form-validationschema-forked-ey87f?file=/src/index.js) It uses same library versions as my current project and you still can replicate issue. I also updated issue description accordingly.

[2020-08-25 07:08] bluebill1049 commented on #47
<img width="539" alt="Screen Shot 2020-08-25 at 5 08 01 pm" src="https://user-images.githubusercontent.com/10513364/91143239-8ae71f00-e6f5-11ea-973e-b5c5dcd4ddac.png">

looks like there is a type error at your schema.

[2020-08-25 07:48] flamedmg commented on #47
Shame on me!!! I'm so sorry, closing issue.

[2020-08-25 07:48] #47 closed

[2020-08-25 07:49] bluebill1049 commented on #47
no worries at all mate 👍

[2020-08-28 06:16] bluebill1049 commented on #42
can you guys please test out this beta version with IE11? 0.0.7-beta.5?

[2020-08-28 12:45] #42 closed

[2020-09-02 05:30] QuentinDejean commented on #7
Hey guys! Great to see a PR open for that one!

Can we hope to see it merged anytime soon?

[2020-09-04 13:05] TheDSCPL commented on #7
This would be awesome! I have a backend writter in Golang and all the JSON schemas are already defined. Being able to use the same JSON schema would be really good for making the code more concise and DRY. Also, the JSON schema is a [standard](http://json-schema.org/) (ajv is just an implementation for javascript) and it should have been one of the first validation methods.

[2020-09-04 13:23] bluebill1049 commented on #7
anyone would like to take over that PR and address some of the comments?

[2020-09-04 13:50] TheDSCPL commented on #7
I'll read through the code and comments to see if I can help

[2020-09-04 20:42] TheDSCPL commented on #7
I've finished writing the code. It working with synchronous schemas and also hides the fact that it uses ajv behind the scenes. I called the new resolver `jsonSchema` because that's the actual model it's following. Ajv is an implementation detail.

I'll create a PR.

[2020-09-04 20:43] TheDSCPL commented on #7
I also added `@types/json-schema` as a dev dependency to add type safety to the schema input :grin:

[2020-09-08 04:04] davidepalazzo commented on #20
I solved this issue by adding `superstruct` version `0.8.3` to my dependencies.

```yarn add superstruct@0.8.3```

[2020-09-08 04:10] bluebill1049 commented on #20
Thanks, but that's pretty bad... we probably need a better solution for this. any help is appreciated.

[2020-09-08 07:29] 10may commented on #20
This a stop-gap method but it works.
1. Manually comment out all the code that's generating an error.

2. Install [Package-Patch](https://www.npmjs.com/package/patch-package) and generate a patch.
3. Add the patch to the `post-install` script in `package.json`.

That's all, now every time you run `npm i` the patch will be applied automatically, and when there's a new update for the Resolver it wil

[2020-09-08 07:30] bluebill1049 commented on #20
Thanks for sharing the solution, wondering if there is some way we can prevent this in the lib level.

[2020-09-08 07:52] davidepalazzo commented on #20
It looks like `superstruct` in the dev dependencies needs upgrading. Their latest version (`0.10.12`) defines the [Struct class](https://github.com/ianstormtaylor/superstruct/blob/68bdf2dc3a5b2bf4d1bcf12f2a1db98b5035ec21/src/struct.ts#L9) differently from `0.8.3`. That's what is causing the issue in the first place.

[2020-09-08 07:54] bluebill1049 commented on #20
sadness.... https://github.com/react-hook-form/resolvers/issues/16

[2020-09-10 14:04] Zysce opened #53 "Error is not cleared after selecting a value"
**Describe the bug**
I am using react-hook-forms alongside with Material-ui and yup.
With the select, I have an error, when you submit first then you change the value, the error is not cleared.

**To Reproduce**
Steps to reproduce the behavior:

- Click on submit (do not select a value) the error is displayed => Ok!
- Select a value => Error is not cleared => NOK

**Codesandbox link (Required)**
h

[2020-09-10 14:04] rsplithof opened #52 "yupResolver fails to validate an uncontrolled field that depends on a controlled field value."
Hi!

I hope you can help me solve the problem i'm facing.

I am trying to add validation rules to an uncontrolled field, based on the value of a controlled select (in my case a `react-select`).
When the value of the select changes to a particular value (in this case 'yes'), the other field needs get the `required` validation rule added.

Sandbox example: https://codesandbox.io/s/react-hook-form-yu

[2020-09-10 23:54] bluebill1049 commented on #52
perhaps you want to use `trigger` for external depend field?

[2020-09-11 02:03] #53 closed

[2020-09-11 07:09] rsplithof commented on #52
Could you provide me an example how it should be implemented? I tried to add `trigger('unControlled')` in the `onChange` method of the `Controller` but the `onChange' is never triggered when changing the select value 🤷‍♂️ . Example:
https://codesandbox.io/s/react-hook-form-yup-validation-crhzk?file=/src/App.js:893-930

[2020-09-11 08:27] rsplithof commented on #52
Never mind, thanks for your time :v:.

I've managed to fix it by defining the `controlled` yup field as an object 😅. Because `react-select` returns an object as value.
**before**
controlled: yup.string().required(),

**after**
  controlled: yup.object().shape({
    value: yup.string().required(),
    label: yup.string().required(),
  }),

[2020-09-11 08:27] #52 closed

[2020-09-15 23:43] julienfouilhe commented on #20
I was wondering why I didn't have the same problem and while I still don't get why it doesn't break at runtime (maybe webpack tree shaking?) I think it doesn't break the build because I have skipLibCheck set to true in my tsconfig.json (😢 ).

This is going to become a real problem as you keep supporting more libraries.

This package could maybe use Node 14 [`exports`](https://nodejs.org/api/esm.ht

[2020-09-15 23:48] bluebill1049 commented on #20
yea, thanks @julienfouilhe. This one gives me a headache and nightmares right now. hope to find a solution soon. 😖

[2020-09-16 16:35] jorisre commented on #20
After playing with rollup config and TS I got the result below :
![Capture d’écran 2020-09-16 à 18 31 47](https://user-images.githubusercontent.com/7545547/93366133-034f8480-f84b-11ea-86e0-34df91f7459b.png)

No more error :)
This is still in work in progress, needs to test more umd bundle.

[2020-09-16 22:21] bluebill1049 commented on #20
oh wow, @jorisre you are a legend!

[2020-09-18 04:33] clairefro commented on #20
I'm having same error - just using yup but it wants me to add superstruct and joi too
![image](https://user-images.githubusercontent.com/9841162/93556341-631e5c00-f92d-11ea-8476-3c536a33c37f.png)

I'm using `"@hookform/resolvers": "^0.1.1",`

[2020-09-18 04:38] clairefro commented on #20
I tried this but get error:
[code]

[2020-09-18 06:44] bluebill1049 commented on #20
hey @jorisre any luck with this fix you were trying. really appreciate your effort here, I think if there is no good solution I may going to try to turn this repo into a mono repo and have each separate packages... it's annoying but i guess there is no other better solution unless if you have some luck with the build.

[2020-09-18 06:55] jorisre commented on #20
@bluebill1049 👋🏻
The new rollup config solve this issue, but I need more time to test all bundle _(umd, cjs(ie11)...)_ but I was slowed down by the issue with ajv.
I think, it will be good tomorrow :)

[2020-09-18 06:58] bluebill1049 commented on #20
oh wow, that's awesome. let's move Avj out the equation for now. I will mostly like to revert that commit until we have a good fix for it.

[2020-09-18 23:08] bluebill1049 commented on #20
❤️ @jorisre is the hero! please share some appreciation towards his hard work and here is a beta: `@hookform/resolvers@0.2.0-beta.9` and help us to test. ❤️

[2020-09-19 17:49] jorisre commented on #20
Thanks @bluebill1049  :)

I've added some examples in a comment https://github.com/react-hook-form/resolvers/pull/60#issuecomment-695337354

[2020-09-20 17:41] jorisre commented on #20
For TS users, as a workaround, you can set `skipLibCheck: true` in your `tsconfig.json`

[2020-09-22 09:31] jorisre commented on #46
FYI,  [zod](https://github.com/vriad/zod) validate unknown property.
https://github.com/react-hook-form/resolvers/pull/57/files#diff-8f0f9a6eb9e91163fcd6f06cc5311f87R55
Zod resolver coming soon

[2020-09-22 22:58] #20 closed

[2020-09-24 13:18] jcolakk opened #61 "@hookform/resolvers doesn't work with IE11"
Hi, although there is a transpiled module, it still doesn't work with IE11.

Resolver imported from the transpiled module:
`import { yupResolver } from '@hookform/resolvers/dist/index.ie11';`

Error:

import { transformToNestObject, appendErrors } from 'react-hook-form';
^^^^^^
SyntaxError: Cannot use import statement outside a module
    at compileFunction (<anonymous>)
    at Module._compile (in

[2020-09-24 14:21] jorisre commented on #61
Hi @jcolakk 👋🏻
The [next version _(currently as release candidate)_](https://github.com/react-hook-form/resolvers/releases/tag/v1.0.0-rc.2) fix severals issues and should work with IE11 by importing yup resolver as the following:
[code]

Let me know if issue persist

[2020-09-25 08:33] jcolakk commented on #61
I just tried the deployed example above in VirtualBox IE11, and it still doesn't work. But different error this time:
![image](https://user-images.githubusercontent.com/42477419/94245277-4cbe6480-ff1a-11ea-8cb1-022d39bcd041.png)

Sorry for image, cant copy from IE11 for some reason.

And I also tried the release candidate in my app, unfortunately also doesnt work.

[2020-09-25 09:31] jorisre commented on #61
@jcolakk Don't know why but deployed example was wrong _(the example use yup instead of joi)_.
You can test it again at https://csb-dms1i.vercel.app/
I've juste tested on IE11 and it works :)

[2020-09-25 10:21] jcolakk commented on #61
You're right, it indeed works. I'll try again in our app, maybe I missed something. Thanks for the help! :)

[2020-09-25 11:24] jcolakk commented on #61
Just tested again, and it works 🎉  Thanks once again!

[2020-09-25 11:43] jorisre commented on #61
Perfect ! @hookform/revolvers V1 should be released soon 🚀

[2020-09-29 06:15] InSuperposition commented on #16
There is a PR open for the issue @jgeschwendt mentioned, hopefully, it will be merged soon.

https://github.com/ianstormtaylor/superstruct/pull/440

[2020-09-29 06:18] bluebill1049 commented on #16
@InSuperposition the PR has been sitting there for months...

[2020-09-30 10:04] #61 closed

[2020-10-03 08:20] meoyawn opened #62 "Zod resolver: numbers, dates"
Zod resolver refuses to accept valid `input[type=number]` and `input[type=date]`

[code]

while Yup resolver works perfectly

Might try to fix this myself when I find time

[2020-10-03 13:34] bluebill1049 commented on #62
That's because by default input return "string" type unless read as `valueAsNumber`

[2020-10-03 15:01] meoyawn commented on #62
@bluebill1049 thanks, can you please also point out why it works with the Yup resolver?

[2020-10-03 15:04] meoyawn commented on #62
aha, so this can be fixed by patching `zodResolver`?

[2020-10-03 23:18] bluebill1049 commented on #62
if you want to validate as a number, your component/controller should supply number: https://codesandbox.io/s/ecstatic-waterfall-yfsqe. I think zudRolver is correct.

[2020-10-04 16:54] nareshbhatia opened #63 "Yup validation schema does not work with nested objects"
I modified the [yup schema validation](https://react-hook-form.com/get-started#SchemaValidation) example to use nested objects. However validations are not working for nested objects.

Please see [my CodeSandbox](https://codesandbox.io/s/react-hook-form-v6-validationschema-forked-vfgfc?file=/src/index.js)

I know there was a related issue (https://github.com/react-hook-form/react-hook-form/issues/

[2020-10-04 18:35] jorisre commented on #63
Hi @nareshbhatia !

Your schema validation works well ! :)

Your schema is:
[code]

So to display errors you should do:
[code]

instead of:
[code]

You have forgotten `person` => `errors.person?.firstName`

➡️   https://codesandbox.io/s/react-hook-form-v6-validationschema-forked-q7tlg

[2020-10-04 23:05] nareshbhatia commented on #63
Wow, how could I miss that? Embarrassed :-). Thank you so much @jorisre, you made my day!

[2020-10-04 23:05] #63 closed

[2020-10-05 07:29] bluebill1049 commented on #63
thank you @jorisre 🙏 ❤️

[2020-10-05 08:55] c0d3x opened #64 "Failed to parse source map + IE11"
Running latest version 1.0.0 I get these complications:

Failed to parse source map .../node_modules/@hookform/resolvers/src/yup.ts'
file: Error: ENOENT: no such file or directory, open '.../react-app/node_modules/@hookform/resolvers/src/yup.ts'

Also can you provide example of how using it with IE11 in documentation?
Should it be like this?
[code]

When using it with IE11 I get this:
![image](htt

[2020-10-05 08:58] vangelov opened #65 "Yup resolver does not validate correctly"
The problem is that the resolver is called with the data that has changed. However, the schema used is the original one which validates all the fields, not just the changed ones. So the resolver returns an error, but it should not.

Here's an example: https://codesandbox.io/s/react-hook-form-usefieldarray-forked-bltsh?file=/src/index.js

If you add a new field by clicking 'APPEND' the resolver wil

[2020-10-05 09:07] bluebill1049 commented on #64
🙈 IE 11 FML! probably leave as low priority for this 🙏

[2020-10-05 09:14] jorisre commented on #64
I'll look into this issue 🕵🏻‍♂️

@c0d3x You can find a little example at **Browser Supports**  section in [FAQs page](https://react-hook-form.com/faqs)

[2020-10-05 09:44] bluebill1049 commented on #65
I think this is a bug at `useForm`, looks like the resolver didn't provide the correct form value. unless i miss the context here.

[2020-10-05 09:53] vangelov commented on #65
When a new item is appended to an array field, the resolver only gets the array field as a parameter. If a text input value is changed, all the data is passed to the resolver.

[2020-10-05 10:54] johnnypea commented on #62
You can try a new Zod feature "Transformations " https://github.com/vriad/zod/issues/100 in v2 Beta ;). It works perfectly.

[2020-10-05 11:10] jorisre commented on #64
@c0d3x Can you tell me how you get that error ? thanks

[2020-10-05 11:31] c0d3x commented on #64
The map error I get when running the application.

The IE11 bug I get when opening the app, it crashes the entire app and refers to the HTMLElement.
When I uncomment the resolver import and reference in useForm(), then the app works fine.

[2020-10-05 11:33] meoyawn commented on #62
@johnnypea it works! thanks much

[2020-10-05 20:08] #62 closed

[2020-10-06 20:10] andrconstruction opened #66 "After installed new version resolvers Can't resolve '@hookform/resolvers'"
Can't resolve '@hookform/resolvers'

![image](https://user-images.githubusercontent.com/7435330/95254802-1ee5f380-0829-11eb-8045-c56be5ff3063.png)

![image](https://user-images.githubusercontent.com/7435330/95254818-273e2e80-0829-11eb-895f-7e7bee7fbaa9.png)

[2020-10-06 20:11] andrconstruction commented on #66
How to solve this problem&

[2020-10-06 20:21] andrconstruction commented on #66
cache not updated

[2020-10-06 20:21] #66 closed

[2020-10-07 03:52] akmalhakimi1991 opened #67 "Question: How to dynamically add new Yup validation rule?"
I'm currently using Yup to validate my form. However, I have a few inputs that is dynamically generated and the input name is also generated on runtime. Is there a way for me to add new validation rule via `register` or any other means? Thanks

[2020-10-07 03:54] bluebill1049 commented on #67
you will probably have to build your own `resolver` and combine with `context`.

[2020-10-07 04:04] akmalhakimi1991 commented on #67
Thanks for the quick response. I believed I am already using a custom `resolver` (based on this [sandbox](https://codesandbox.io/s/react-hook-form-validationschema-v6-2l77g?file=/src/index.js:492-503)). However, I couldn't find any pointers on how to use `context`. Do you have any sandbox with sample `context` usage?

[2020-10-07 04:25] bluebill1049 commented on #67
https://codesandbox.io/s/resolver-context-sd2vj

[2020-10-07 04:33] akmalhakimi1991 commented on #67
Thanks!!

[2020-10-07 14:54] ssuvorov commented on #67
@akmalhakimi1991 you probably also can build a custom rule in your schema with `yup.addMethod`. And this rule can check all values in a dynamic structure.

e.g.
[code]

[2020-10-07 15:18] stephoune commented on #67
Hey @bluebill1049 !
I'm wondering how use your codesandbox without toggle button ?
I want to adjust validationSchema by clicking directly on one of two buttons. The first button will need the first validationSchema. The second button will use the second validationSchema.
How can i do this without use `setTimeout(callback, 0)` ?
Here is codesandbox : https://codesandbox.io/s/resolver-context-forked

[2020-10-07 21:33] bluebill1049 commented on #67
hmmm, interesting... I would probably try to do it at `useEffect` level then, so it's on the next render and context will be updated. or you will have to consider to use `useRef`

[2020-10-08 11:13] mehmetnyarar commented on #66
@andrconstruction I'm having the same problem.

Did `yarn cache clean --force` but didn't help. How did you solve it?

[2020-10-08 11:37] andrconstruction commented on #66
I can advise only remove all node modules andr reinstall again

[2020-10-08 11:44] c0d3x commented on #64
Any update on this?

[2020-10-08 12:46] jorisre commented on #64
@c0d3x 👋🏻  !

I'm Working on it :)

[2020-10-09 08:08] stephoune commented on #67
Thanks ! It works fine !

[2020-10-10 10:30] jorisre commented on #64
Hi @c0d3x !

Here a working example with @hookform/resolvers ie11
https://github.com/jorisre/hookform-resolvers-ie11-example

To make it works, be to sure:
- to follow these instructions https://create-react-app.dev/docs/supported-browsers-features/#supported-browsers
- to have ie11 in your browserlist config

[2020-10-10 10:33] bluebill1049 commented on #64
Thanks, heaps for looking into this @jorisre

[2020-10-11 23:01] c0d3x commented on #64
Thanks for your example code, your code did run in IE11 vm image!
But still I dont see the difference from my code and yours, besides that I am using TypeScript files and code.

Did you test it with TypeScript?

[2020-10-14 10:36] c0d3x commented on #64
We are not transpiling any external libs, so the IE11 version needs to be compatible to work in IE11.
The RHF form works fine, the hookform however does not.
Using latest RHF and hookform, still complains of this line of code:
![image](https://user-images.githubusercontent.com/661911/95977868-afb86280-0e19-11eb-91de-0cee87a79209.png)

[2020-10-14 15:52] jorisre commented on #64
@c0d3x Can you provide a full reproduction example please (config etc..) ? Thanks

[2020-10-15 06:01] c0d3x commented on #64
@jorisre Yes, I will try to reproduce the error setting up a TS project.
Will get back to you soon 👍🏼

[2020-10-15 10:24] c0d3x commented on #64
Do you know why it is looking for yup*.*ts** when there is only a yup**.js** file in the node_modules path it's referencing?

Ref this:
WARNING in ./node_modules/@hookform/resolvers/dist/ie11/yup.js
Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):
Failed to parse source map from '/myproject/react-app/node_modules/@hookform/resolvers/src/yup.ts' file: Error: ENOENT: no such file

[2020-10-15 11:05] c0d3x commented on #64
@jorisre
So I think we found the bug now, the problem is that it uses the wrong file when referencing the ie11 path.
Because when inspecting code it uses an arrow function instead of regular function:
[code]
When following the path of the source:
![image](https://user-images.githubusercontent.com/661911/96115295-0344b200-0ee7-11eb-8df6-8c166de97b51.png)

I get this, so I guess it has some interfer

[2020-10-15 11:13] c0d3x commented on #64
@bluebill1049 Probably better to have it in an IE11 folder like hookform got?

[2020-10-15 14:52] c0d3x commented on #64
the map source file is referencing arrow functions too: index.ie11.development.js.map

[2020-10-15 15:06] c0d3x commented on #64
![image](https://user-images.githubusercontent.com/661911/96148379-80345380-0f08-11eb-919c-f0a21c52c919.png)
Looks like it might be because of this import that the hookform is doing, relying on this ESM non IE11 lib.

[2020-10-17 22:37] jorisre commented on #64
@c0d3x Thanks for additional informations. Can you provide a reproduction example please ?

[2020-10-20 12:14] c0d3x commented on #64
I dont have the option to reproduce our webpack environment because it is stored in alot of npm libs, all I know is that we dont transpile node_modules libs.

However I can show you where the issue happens, so in this file on line 71 there is a conflict.
`./node_modules/@hookform/resolvers/dist/ie11/yup.js 71:24-50`
Problem is that the required react-hook-form is not IE11 version so the build will

[2020-10-20 17:56] wolfhoundjesse commented on #44
You can add `skipLibCheck` to your tsconfig for now.
https://github.com/react-hook-form/resolvers/issues/20#issuecomment-695814737

[2020-10-20 19:16] jorisre commented on #44
Or just install the lastest @hookform/resolvers version :)

[2020-10-21 01:13] jrolfs commented on #64
Sadly having to scramble to support IE11 for a client and I'm running into this as well. I'm seeing the same thing as @c0d3x (the `ie11` bundle imports `react-hook-form` instead of `react-hook-form/dist/index.ie11`).

At first glance I suspect this https://github.com/react-hook-form/resolvers/pull/48 wasn't properly ported over into the new entry point build. I'll be continuing on this tomorrow an

[2020-10-21 01:14] jrolfs commented on #64
@c0d3x quick thought: you may be able to workaround this by pinning to **v0.1.1** and following the directions in this PR: https://github.com/react-hook-form/resolvers/pull/48.

[2020-10-21 01:23] #67 closed

[2020-10-21 09:58] jorisre commented on #64
Okay so I have a solution which might work.
I'll open a pull request and @bluebill1049 will make a test release for you :)

[2020-10-21 23:16] jrolfs commented on #64
Ah, that's great news @jorisre — I really wanted to help out but time constraints have me moving forward with https://github.com/ds300/patch-package for the moment. I will readily test any RC's though 😄!

[2020-10-22 12:37] wolfhoundjesse commented on #44
Oh, when was it fixed? I was having this issue last week.

[2020-10-22 14:05] jorisre commented on #44
Since ~19 days ago
https://github.com/react-hook-form/resolvers/releases

[2020-10-23 09:33] c0d3x commented on #64
@jorisre How are we doing with the RC, have you made the test release?
Let me know if you want me to test it.

[2020-10-23 10:17] jorisre commented on #64
@bluebill1049 will make a RC once I've solved this issue :)

[2020-10-24 06:38] jorisre commented on #64
@c0d3x @jrolfs here is a beta version `@hookform/resolvers@1.0.1-beta.1`

[2020-10-26 11:47] c0d3x commented on #64
This version works in my IE11 setup.

[2020-10-26 14:58] c0d3x commented on #64
But I get this now, since typings are not there.
Error:(25, 64) TS2347: Untyped function calls may not accept type arguments.

[2020-10-26 15:02] jorisre commented on #64
Hi @c0d3x
Can you provide more details please ? or a codesandbox ? Thanks

[2020-10-26 15:06] c0d3x commented on #64
Well there are not referenced any types for yup config in your version, dont think you need a codesandbox for that.
`Error:(5, 29) TS2307: Cannot find module '@hookform/resolvers/dist/ie11/yup' or its corresponding type declarations.`
![image](https://user-images.githubusercontent.com/661911/97189628-1a1bbc00-17a5-11eb-9938-3e4439d0bda7.png)

[2020-10-26 15:14] jorisre commented on #64
Yes that's "normal", types are generated separetly. Same problem for `react-hook-form/dist/index.ie11`.

You should do the following thing _(not tested):_

[code]

[_(example)_](https://github.com/react-hook-form/react-hook-form/issues/56#issuecomment-538160265)

[2020-10-26 15:26] c0d3x commented on #64
I have two applications, the other one I have is using this lib:
`import { useTypedController } from '@hookform/strictly-typed';`

It has same issue as with @hookform/resolvers, it imports the default rhf lib that is not IE11 compatible.

[2020-10-26 15:36] jorisre commented on #64
Okay, I'll look at it later

Does [this](https://github.com/react-hook-form/resolvers/issues/64#issuecomment-716614092) work ?

[2020-10-26 21:12] qventura commented on #20
Was coming here to mention that `skipLibCheck: true` was the culprit for us :D

Glad you found a proper solution. 👏 @jorisre

(But also, `skipLibCheck: true` divided our build time by 4... -_-)

[2020-10-26 22:36] bluebill1049 commented on #20
@qventura i think this issue is resolved by the latest update from @jorisre.

[2020-10-27 08:32] c0d3x commented on #64
I tried adding it to override this in my type-overrides.d.ts file, but it did not work. Was that what you ment?
For RHF, it has a type file as a reference index.ie11.d.ts file in same path, so it finds that automatically.

[2020-10-27 20:30] tonyneel923 opened #69 "Zod resolver with typescript not working"
![image](https://user-images.githubusercontent.com/5866014/97358337-5d833280-1858-11eb-8c35-ae0c2c19527e.png)

My schema is as follows

[code]

[2020-10-27 20:31] tonyneel923 commented on #69
Am I missing something here? This happened when I tried to use yup as well.

[2020-10-27 21:01] jorisre commented on #69
Hi @tonyneel923

Which version of react-hook-form & resolvers do you use ?

[2020-10-27 21:30] tonyneel923 commented on #69
Hello @jorisre I am using the lastest for both. I solved my issue though it does not seem to be documented.

[code]

[2020-10-27 21:33] jorisre commented on #69
@tonyneel923 casting is not a good solution.
Typescript should infer.
I can help you if you provide me a codesandbox reproduction :)

[2020-10-27 23:09] tonyneel923 commented on #69
Attempting to create one now, I cannot get any typescript errors at all though in a cra template app with types added to it though so I will need to figure that out first.

[2020-10-27 23:20] tonyneel923 commented on #69
I cannot reproduce it in codesandbox. I am not sure what is wrong with my local setup but I will close this issue. Thanks for the help.

[2020-10-27 23:20] #69 closed

[2020-10-28 07:57] HagenMorano opened #70 "Add additional properties to Zod resolver for i18n"
Currently, there is only `message` and `type` (= `code`) shown from each error that may occur, but for each error code there are additional fields (https://github.com/vriad/zod/blob/master/ERROR_HANDLING.md#zoderrorcode), which are getting filtered:

https://github.com/react-hook-form/resolvers/blob/36f7816798c05b8549a66a3178adf20f749b979a/src/zod.ts#L20-L21

If you want to add i18n to your projec

[2020-10-28 10:07] jorisre commented on #70
👋🏻  @HagenMorano !

No reason, I'll look into this

[2020-10-28 10:37] bluebill1049 commented on #70
Thanks ❤️ , @jorisre just mindful, the change needs to be across for entire resolvers, if not so easy, I would consider this as a feature request, which can action later on.

[2020-11-03 08:35] c0d3x commented on #64
We are soon hitting production 📦  any updates on when this patch will be available? 🏎️  😄

[2020-11-05 10:50] batamire opened #71 "Uncaught ReferenceError: exports is not defined"
trying to:
[code]

gives me:

[code]

This is a Rails webpacker + typescript app.

[2020-11-05 10:53] bluebill1049 commented on #71
more detail... which version and etc... can you reproduce that in CSB?

[2020-11-05 10:59] batamire commented on #71
`@hookform/resolvers": "^1.0.0"`

I'm afraid I cannot reproduce it as this is a large Rails app with TypeScript React and GraphQL. Could it be the way you export modules? I really lack JS packaging knowledge...

my babel.config.js:
[code]

tsconfig.json
[code]

[2020-11-05 18:05] jorisre commented on #71
@batamire Hi 👋🏻

Does that error occur at build time ?

[2020-11-05 19:39] sfederowicz commented on #71
I'm running into that same runtime error (also using Rails + webpacker but no Typescript). I'm importing the yup resolver rather than the zod resolver, but it's the same error otherwise.

My Babel config is identical to the one posted above, excluding only the Typescript preset line (since we don't use Typescript):
 `['@babel/preset-typescript', { 'allExtensions': true, 'isTSX': true }]`

Issue oc

[2020-11-05 21:33] batamire commented on #71
It builds without problems, the error is pasted from Chrome Devtools, happens on component mount...
[code]
Offending line:
[code]

@sfederowicz same thing happens with yup...

[2020-11-06 22:38] bluebill1049 commented on #64
Thanks very much for @jorisre 's contribution ❤️

[2020-11-06 22:38] #64 closed

[2020-11-08 10:18] RNKushwaha022 commented on #43
Yup's validation doesn't work as expected even for `required` for file types. Wasted so much time on this to work but nothing worked. Finally removed the file validation from Yup and handled on server side. Still Looking for the solution.

[2020-11-08 10:21] bluebill1049 commented on #43
can you share a codesandbox before anyone can help?

[2020-11-08 17:59] lailo opened #73 "ZodResolver error: "Expected number, received string""
The zodResolver example does not work as there is alway the following error.

[code]

Here is a code sandbox to reproduce the error:
https://codesandbox.io/s/react-hook-form-zod-resolver-example-forked-0p8rt?file=/src/App.js

Thanks for your reply/help.

[2020-11-08 20:21] jorisre commented on #73
Hi @lailo , this is "normal". You can find an answer here https://github.com/react-hook-form/resolvers/issues/62.

You're right, the example does not work as expected, we have to update it :)

[2020-11-08 20:46] lailo commented on #73
Thanks for the quick reply @jorisre. Based on the current documentation and code examples, I was expecting that the `zodResolver` would do the transform for me.

In case someone has the same question, I've updated the code sandbox to use  `zod@beta` v2 and it works now.
https://codesandbox.io/s/react-hook-form-zod-resolver-example-forked-0p8rt?file=/src/App.js

[2020-11-08 21:14] jorisre commented on #73
@lailo If you won't to update to `zod@beta` v2 and don't need to transform the value in number, you can do the following:

[code]

[2020-11-08 21:50] bluebill1049 commented on #73
thanks @jorisre it's awesome to have a zod export in this lib. 🙉

[2020-11-10 11:00] studnik18 commented on #71
Up for yup...

[2020-11-13 14:05] jcolakk opened #74 "Cannot pass a component to yupResolver schema error messages"
**Describe the bug**
When passing a component as an error message. I get an error `Maximum callstack size exceeded` (more info about an error in codesandbox link below).

[code]

**Codesandbox link**
https://codesandbox.io/s/silly-thunder-4y5dj?file=/src/App.js:294-561

**Additional context**
In the project, we have our own `Translation` components, which we would like to pass as an error message.

[2020-11-13 15:53] jorisre commented on #74
Hi @jcolakk 👋🏻

`.required()` is typed as the following:

[code]

It takes an optional `string` / `function` as argument, that's why it doesn't work.
You can try `.required(() => <span>Required</span>)` but I'm not sure this works.

[2020-11-14 13:38] jcolakk commented on #74
Ahh, you're right, I missed that. It works when passing a function 👍 Thanks!

[2020-11-14 22:16] bluebill1049 commented on #74
Thank you @jorisre

[2020-11-14 22:17] #74 closed

[2020-11-16 10:46] qlik-dnj opened #75 "Add LICENSE file"
Add LICENSE file to repo

[2020-11-16 11:21] #75 closed

[2020-11-16 12:51] Ryomasao opened #76 "The validation error disappears when schema is nested."
# Problem
Sorry if this is not an issue in this repository.

sandbox
https://codesandbox.io/s/react-hook-form-with-yup-forked-1ihqf?file=/src/index.js

I use yup's schema validation.
The schema is nested as follows.

[code]

I want the initial render to be in an error state, so I run trigger in useEffect.
And The mode of validation is onBlur.

[code]

The initial render shows the error as expected

[2020-11-16 20:05] TMUND opened #77 "Ref not propagating to errors object when resolver is used"
Hello `react-hook-form`,

First of all, thank you for a great form library! However, I am noticing an issue with propagating the ref of the input that threw the error when I use the Joi resolver in my project.

According to the docs here: https://react-hook-form.com/api#errors I should receive `type`, `types`, `message` and `ref` from the errors object. I have confirmed that this is true when I do

[2020-11-16 21:16] kingarawana opened #78 "TSC: Cannot find module '@hapi/joi'"
There's an issue where the `joi` resolver is importing from `@hapi/joi` but `@hapi/joi` is a devDependency.

I'm thinking `@hapi/joi` needs to be moved to dependencies?

`../../node_modules/@hookform/resolvers/dist/joi.d.ts:2:17 - error TS2307: Cannot find module '@hapi/joi' or its corresponding type declarations.`

[2020-11-16 21:33] bluebill1049 commented on #78
can you share a CSB?

[2020-11-16 21:36] bluebill1049 commented on #76
RHF focus on field level validation, if you want to trigger dependency validation use `trigger`

[2020-11-16 21:37] bluebill1049 commented on #77
can you share a CSB? so we can reproduce this?

[2020-11-16 21:38] bluebill1049 commented on #71
Is this still an issue for everyone?

[2020-11-16 21:38] #73 closed

[2020-11-16 21:41] kingarawana commented on #78
What's a CSB?

I basically get this error when I compile w/ typescript. If I set skipLibCheck = true, it passes.

node version: v12.18.3
tsc: 4.0.5

Here's the TS options:

{
  "compilerOptions": {
    "allowJs": true,
    "esModuleInterop": true,
    "moduleResolution": "node",
    "target": "es2018",
    "module": "CommonJs",
    "lib": ["es2018"],
    "jsx": "preserve",
    "outDir": "./dist",

[2020-11-16 21:46] bluebill1049 commented on #78
codesandbox?

[2020-11-17 01:07] Ryomasao commented on #76
Thanks for the reply.

Depending on how I define the validation schema, it will behave differently.
Is this as expected?

In the case of a simple un-nested schema, if the validation of one item passes, I will still get the other validation error messages, as shown below

[code]

[code]

![image](https://user-images.githubusercontent.com/8813191/99326588-c1c76e00-28bb-11eb-9d11-f2531fb21b23.png)

B

[2020-11-17 01:16] TMUND commented on #77
Sure thing, to repro:

* Visit https://codesandbox.io/s/react-hook-form-ref-bug-lo8sr?file=/src/App.js
* Click the submit button while field is empty
* Verify the console.log response only contains `message` and `type`

If you update that code to remove the resolver and manually set the validators via `ref={register({ required: 'foo' })}` you'll see that the response contains the correct `ref`.

S

[2020-11-17 01:40] bluebill1049 commented on #76
hmmmm this looks like a strang bug... i will investigate. sorry was early in the morning my head was not clear.

[2020-11-17 03:17] bluebill1049 commented on #77
Thanks @TMUND looks like right now all the resolver doesn't forward any `ref`, what's your usage like? we can consider to forward the `ref`, or potentially see if others have a similar requirement.

[2020-11-17 14:14] bshawnd opened #79 "@hapi/joi package has been deprecated"
The @hapi/joi package has been deprecated and taken over by https://github.com/sideway/joi

https://www.npmjs.com/package/@hapi/joi

Thanks for an awesome package, loving react-hook-forms 👍

[2020-11-17 14:42] studnik18 commented on #71
Yes. Can't update from 0.0.6 because of it. My most relevant dependencies:
`
"react": "^17.0.1",
"react-hook-form": "^6.11.0",
"@hookform/resolvers": "^0.0.6",
"yup": "^0.29.3",
"@rails/webpacker": "^5.2.1",
"react-on-rails": "^12.0.3"
`

[2020-11-17 15:53] TMUND commented on #77
No problem @bluebill1049 , I need that `ref` in order to be able to easily create a link to the input field which caused the error in an error summary at the top of the page.

For example, when a user triggers validation my app displays an error summary at the top of the page which the user is focused on. In order to keep the form a11y compliant I need to have each of the errors in the error summa

[2020-11-17 22:10] bluebill1049 commented on #71
@studnik18 have you try to upgrade to the latest?

[2020-11-18 10:33] studnik18 commented on #71
Yes, I tried just before posting :) Our setting is quite complicated - it's a monorepo with rails 6 and webpacker as ruby gems, on the frontend side it's `@rails/webpacker 5.2.1` which features `webpack 4.x.x` according to the docs (no TypeScript).

[2020-11-20 11:14] zenflow commented on #16
@bluebill1049 It just got merged 🚀

[2020-11-20 11:16] bluebill1049 commented on #16
oh wow! that's awesome, please send us a PR if you got time, otherwise, I will have a look at it over the weekend.  exciting, superstruct is going to be working as well 👍

[2020-11-20 14:03] zenflow commented on #16
@bluebill1049 Awesome! I probably won't be first to making the PR though since I'm not familiar with how react-hook-form works & I haven't even used it yet lol.. But it looks awesome and I'm excited to try it next time I need a form library. Thanks for maintaining it 🤗

[2020-11-21 08:00] bluebill1049 commented on #79
Thanks, @bshawnd 👍 @jorisre has that updated, will release a new version soon.

[2020-11-21 08:00] #79 closed

[2020-11-21 08:01] bluebill1049 commented on #78
looks like it's been deprecated: https://github.com/react-hook-form/resolvers/issues/79 will release a new version soon.

[2020-11-21 08:01] #78 closed

[2020-11-21 08:03] bluebill1049 commented on #16
No worries @zenflow actually we probably can close this issue right? as long as the user starts to using `0.11`?

[2020-11-22 06:05] zenflow commented on #16
@bluebill1049 No I don't think we can close this yet. I saw a lot of changes in that project recently, including renaming some of the module exports. Probably those changes still need to be integrated here. A stable v1.0 release should come soon though https://github.com/ianstormtaylor/superstruct/issues/491#issuecomment-731302690

[2020-11-22 06:19] bluebill1049 commented on #16
Thanks for the update. Will keep an eye on the V1 then.

[2020-11-23 16:50] TMUND commented on #77
Hi @bluebill1049, wondering if there's been any update on this or whether I should start looking for other solutions?

[2020-11-23 21:16] bluebill1049 commented on #77
@TMUND that's a major change, it will take time for us to get to it. perhaps capture those `ref` at your app-level for now.

[2020-11-23 21:34] TMUND commented on #77
Sounds good, are we talking weeks or months in terms of ETA? If I can help move this along in any way please LMK.

I will weigh timeline vs. implementing my own solution because it seems heavy handed to build custom ref interceptor. Unless you see a straightforward way to access those in the meantime...

[2020-11-23 21:36] bluebill1049 commented on #77
@TMUND I would recommend you go with your own solution for now.

[2020-11-23 21:52] TMUND commented on #77
Will do. I recommend updating the `errors` object docs [HERE](https://react-hook-form.com/api#errors) with a note to reflect the issue with `ref`s when using a resolver. It may help others with debugging...

![react-hook-form-docs-11-23-20](https://user-images.githubusercontent.com/10443437/100019451-ebd4d080-2d92-11eb-9a7b-310c99ef0f9d.png)

[2020-11-30 09:25] belgattitude opened #84 "bug ie11 export not working in 1.1.0"
After upgrade to @hookform/resolvers, the ie11 export seems broken.

The import was working on prior version with:

## Code

[code]

## Now gives a

[code]

## Environement

NextJs 9.5.2, typescript 4.1.1, latest react-hook-form / resolver

## Content of the node_modules

![image](https://user-images.githubusercontent.com/259798/100591362-eda01600-32f5-11eb-85f9-a57422a9a28d.png)

[2020-11-30 09:41] jorisre commented on #84
@belgattitude Thanks for reporting, I'll open a PR to fix it.

[2020-12-01 10:11] jorisre commented on #84
@bluebill1049 Fixed in https://github.com/react-hook-form/resolvers/releases/tag/v1.1.1

[2020-12-01 10:18] bluebill1049 commented on #84
Thanks, @jorisre for the fix.

[2020-12-01 10:18] #84 closed

[2020-12-01 13:02] jorisre commented on #16
@federico-moretti @pix2D & @InSuperposition Superstruct v0.10 supported ! You can update to the latest version of `@hookfom/resolvers` :) .

[2020-12-04 21:42] brentmulligan commented on #71
Having the same issue, also using rails/webpacker. Downgrading to 0.1.1 did resolve.

[2020-12-07 00:06] johnandresmedina commented on #71
I was having the same issue, I tried to replicate it in codesandbox with no luck and after spending some more time it turned out to be a reference to the old way of importing the package: `@hookform/resolvers` instead of `@hookform/resolvers/yup`, so you might want to check all the references.

[2020-12-07 08:55] studnik18 commented on #71
I had this lightbulb moment too :) But unfortunately that solution alone didn't help. Thanks anyway John.

[2020-12-08 15:19] chemaxa opened #86 "Type error in yup resolver"
Hi everyone. Thank you for a great tool.
I tried to use yup resolver with typescript. But i faced with typescript compilation error.

[code]

My packages:
"yup": "^0.32.5"
"react-hook-form": "^6.12.2",
"@hookform/resolvers": "^1.1.1",

I tried to use @types/yup but it doesnt help to me
"@types/yup": "^0.29.10",

Can anybody to help me?
How i can to fix this issue?

[2020-12-08 15:46] jorisre commented on #86
Hi @chemaxa 👋🏻

Could you please provide a reproduction in a [codesandbox](https://codesandbox.io/) ? Thanks

[2020-12-08 16:13] oscarlgz opened #87 "File name error ./supertruct.d.ts"
[This file](https://github.com/react-hook-form/resolvers/blob/master/supertruct.d.ts) needs to be renamed to `superstruct.d.ts`.

Thanks for your work!

[2020-12-08 19:40] Smona opened #88 "Feature request: support synchronous validation"
We are using yup along with react-hook-form, and almost all of our schemata support synchronous validation. Unfortunately, there's no way to use `schema.validateSync` instead of `schema.validate` through the resolver.

While the performance impact of this is negligible, inserting an event loop between form submission and `handleSubmit` being called adds an unnecessary layer of complexity to our te

[2020-12-08 19:41] jorisre commented on #87
Good catch ! Fixed in https://github.com/react-hook-form/resolvers/pull/89

[2020-12-08 21:54] bluebill1049 commented on #88
`resolver: async () => schema.validateSync(data)`

have you tried to build your own?

[2020-12-08 21:55] #87 closed

[2020-12-08 22:12] Smona commented on #88
No, not yet. I could, but then I would have to copy-paste the source code for the error parser and other imports of the resolver. Which kind of defeats the purpose of the repo :sweat_smile:

[2020-12-08 22:17] Smona commented on #88
I suppose I'm assuming that `useForm` would support a synchronous validation resolver. If that's not the case, I can see why this would be harder to implement.

[2020-12-08 23:46] HriBB commented on #66
I am having the same problem. I am using `lerna` monorepo. I tried removing `yarn.lock` and `node_modules` in root and all subpackages and did a fresh install, no go. I tried `yarn cache clean --force`, no go.

![Screenshot from 2020-12-08 22-28-24](https://user-images.githubusercontent.com/4412324/101543645-cce65900-39a4-11eb-87fb-89518c9f03db.png)

[2020-12-09 00:05] bluebill1049 commented on #66
which version are you using? can you reproduce this in a codesandbox for us?

[2020-12-09 07:03] chemaxa commented on #86
Hi, i cant reproduce it on codesandbox. But i prepared repository with code sample.

https://github.com/chemaxa/hookresolvers-ts-bug

For reproduce just

npm install

npm run start:standalone

I used
https://single-spa.js.org/docs/create-single-spa
For creating demo project with react, typescript settings.

Also i tried to set esModuleInterop to false, and this bug is out, but this is not applicab

[2020-12-09 08:06] jorisre commented on #66
@bluebill1049  @HriBB Your problem is fixed by https://github.com/react-hook-form/resolvers/pull/89 but not released

[2020-12-09 08:07] bluebill1049 commented on #66
@jorisre release it now.

[2020-12-09 08:59] chemaxa commented on #86
I reproduced it in codesandbox.

I just imported yup and tried use types as in yuor yup.d.ts file and got same error

https://codesandbox.io/s/yup-typescript-error-d1n3j?file=/src/index.ts

[2020-12-09 09:15] chemaxa commented on #86
I think i understand what the reason of this bug, you are used
i find that you are used
"@types/yup": "^0.29.9",
"yup": "^0.31.0",
in your package.json

But in my package.json
"yup": "^0.32.5"
 without this package yup types also works "@types/yup": "^0.29.10",

and seems like 32.5 version of yup changes their declarations, and redeclare Lazy, ObjectSchema and ValidateOptions

https://github.com/j

[2020-12-10 23:23] jorisre commented on #86
Thanks for investigations. I'll update Yup

[2020-12-11 12:02] LuisFilipePedroso opened #91 "Cannot resolve symbol 'yupResolver'"
Hey, I'm trying to import yupResolver in my project, where I'm using Typescript but I'm getting this error:
**Cannot resolve symbol 'yupResolver'**

I'm importing yupResolver like this:
`import { yupResolver } from '@hookform/resolvers/yup';`

Is there something that I'm doing wrong?

Version of @hookform/resolvers: 1.1.2
Version of react-hook-form: 6.12.2
Version of Yup: 0.32.8

[2020-12-11 13:08] jorisre commented on #91
👋🏻  @LuisFilipePedroso

I think, it's related to https://github.com/react-hook-form/resolvers/issues/86. I've started working on it yesterday.

Could you confirm it's the same error ? Or provide a reproduction example in codesandbox please ?

[2020-12-11 13:16] LuisFilipePedroso commented on #91
Hey @jorisre , I saw this issue but I guess that he was able to import yupResolver, in my case, I'm not being able to import, what is strange.

You can check the code here:
https://github.com/LuisFilipePedroso/Youtube-React-Form

Form is here:
https://github.com/LuisFilipePedroso/Youtube-React-Form/blob/master/src/components/Form/index.tsx

To run, just install the dependencies and execute the com

[2020-12-11 13:26] jorisre commented on #91
Thanks ! I'll look at it later :)

[2020-12-11 15:33] LuisFilipePedroso commented on #91
Thanks.

[2020-12-11 21:42] jorisre commented on #91
This issue is related to #86. Yup versions are different that's why this error occur.

[2020-12-14 12:14] ramaboo commented on #71
Getting this too for yup `import { yupResolver } from "@hookform/resolvers/yup";` on a Rails 6.1 project

[2020-12-14 13:07] jorisre commented on #71
Thanks for reporting, I'm looking for a solution

[2020-12-20 20:45] #16 closed

[2020-12-23 22:03] YimingIsCOLD commented on #71
I am getting this too for yup on a non-rails project. I am only getting the error on production build and not in development build.

[2020-12-29 08:45] jorisre commented on #91
@LuisFilipePedroso
Your issue should be fixed
Yup ^0.32.0 is now supported ! [1.3.0](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.0)

[2020-12-29 08:45] jorisre commented on #86
@chemaxa
Your issue should be fixed
Yup ^0.32.0 is now supported ! [1.3.0](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.0)

[2020-12-29 08:53] chemaxa commented on #86
Thank a lot!

[2020-12-30 18:36] william-hotmart opened #97 "Type problems after update resolver to 1.3.0"
After update @hookform/resolvers to the version 1.3.0, this code above no longer works.

The TS compiler points out the error:

[code]

If I comment the lines of _exibitionMode_ and _colorBackground_ the error disappears.

This is the code that I'm working with

[code]

[2020-12-30 18:40] jorisre commented on #97
👋🏻  Hi
Which version of Yup are you using ?

Can you provide a reproduction in a [codesandbox](https://codesandbox.io/) please ? thx

[2020-12-30 20:13] william-hotmart commented on #97
I forgot. Sorry!
`"yup": 0.32.8"` and `"react-hook-form: 6.13.1"`

[2020-12-30 21:52] jorisre commented on #97
Thanks!

You get this error because your `FormData` contains more properties than your schema.
[code]

You can see `MySchema` and `FormData` are different, that's why you get that error.

You've a second TS error because you're using TypeScript enum but `yup.InferType` could return an enum:

[code]

[2020-12-31 02:51] william-hotmart commented on #97
- So should all the values in `FormData` also be in the schema? If my form contain a value that I do not need to validate (like `colorBackground`), how to proceed?
- Can't I use TS enum as a type in the `useForm` generic interface?

[2020-12-31 03:21] nghieptiki opened #100 "Build error after upgrade to 1.3.1 in Next.js"
Hi guys,

I have an SSR app working on Node environments, after upgrade to 1.3.1 and build error:

I think the problem related to https://github.com/react-hook-form/resolvers/pull/95 PR.

[2020-12-31 03:47] joshmanders commented on #100
Getting the same thing. Downgrading to `1.2.0` fixes it.

[2020-12-31 08:08] jorisre commented on #100
Thanks for reporting.
I'm working on resolvers's V2 which will have a better module supports.

As a workaround,  you can use 1.3.0

[2020-12-31 08:09] #91 closed

[2020-12-31 08:09] #86 closed

[2020-12-31 08:10] jorisre commented on #71
Hi all, the last version 1.3.1 should fix this issue, someone can confirm ? Thanks

[2020-12-31 13:32] amankkg commented on #71
@jorisre 1.3.1 using snowpack on `import {zodResolver} from '@hookform/resolvers/zod` throws following error
[code]

[2020-12-31 13:36] jorisre commented on #71
@amankkg  thank for your feedbacks. Could you provide a snowpack example please ?

ℹ️  I'm working on resolvers v2 with a better module support

[2020-12-31 13:57] amankkg commented on #71
@jorisre hmm on 1.3.0 it works properly

here is my WIP https://github.com/amankkg/frontend-template

[2020-12-31 14:07] amankkg commented on #71
@jorisre it is quite messy 😅 let me know if you need clear and stable reproduction repo

[2020-12-31 17:40] jorisre commented on #97
1. Yes, at this time, all values in `FormData` should be in the schema
2. TS enum is a limitation of yup, `InferType` of yup could return a TS enum

[2020-12-31 18:48] william-hotmart commented on #97
I don't know why but with version 1.2.0 I'm not seeing those problems.
Well, thanks @jorisre, you were very kind!

[2020-12-31 19:03] jorisre commented on #97
@william-hotmart with version 1.2.0, types was wrong see above ⬇️

It returns multiples `Record<string, any>`
![Screen Shot 2020-12-31 at 19 59 39](https://user-images.githubusercontent.com/7545547/103422679-f3ae3e80-4ba2-11eb-8300-760abc7dd2cf.png)

With 1.3.0
![Screen Shot 2020-12-31 at 20 00 14](https://user-images.githubusercontent.com/7545547/103422698-0aed2c00-4ba3-11eb-9d2b-05c190f72cc3.png

[2020-12-31 23:00] william-hotmart commented on #97
Yeah, I see!
So returning to this question:
`If my form contain a value that I do not need to validate (like colorBackground), how to proceed?'

Do I just put it in the schema like `colorBackground: string()`?

[2020-12-31 23:26] jorisre commented on #97
Yes you can as a workaround solution

[2020-12-31 23:28] william-hotmart commented on #97
Ok! Thanks :smile:

[2021-01-01 08:48] jorisre opened #102 "Has anyone tried internationalization of validation messages using yup + i18next?"
Has anyone tried internationalization of validation messages using yup + i18next?

Yup provides a way to do this using [setLocale()](https://github.com/jquense/yup#using-a-custom-locale-dictionary), however it doesn't seem to work with RHF. For example, I have used `setLocale` like this:

[code]

However, RHF seems to ignore it completely and I still get validation messages like "Email is a requir

[2021-01-04 00:27] Rykuno commented on #100
Bumping down to 1.3.0 does not solve for me. Thanks for your hard work, looking forward to V2 with module support. While this is currently putting a hold on validation we have been overall loving react-hook-form.
[code]

[2021-01-04 00:32] msheakoski commented on #100
@Rykuno You need to use `"1.3.0"`, not `"^1.3.0"`. Using the ^ means greater than or equal to 1.3.0 but less than 2.0.0. You can read more about it here: https://docs.npmjs.com/cli/v7/using-npm/semver#caret-ranges-123-025-004

[2021-01-04 12:31] vtrphan commented on #97
i have some type errors too, and after fixing some of it i ended up having this error which i don't know how to solve:
`Typescript: Index signature is missing in type
`
Problem occurred after updating to > 1.3.0

[2021-01-04 12:39] jorisre commented on #97
@vtrphan could you provide a codesandbox please ?

[2021-01-04 13:10] vtrphan commented on #97
i can't quite reproduce it in codeandsandbox, but i have included the schema definitions in a small snippet, and below is one of the errors i got:
`Type 'Resolver<AssertsShape<Assign<Record<string, AnySchema<any, any, any> | Reference<unknown> | Lazy<any, any>>, { salutation: RequiredStringSchema<string, Record<string, any>>; ... 20 more ...; concentrator: BooleanSchema<...>; }>>, object>' is not

[2021-01-04 15:14] jq153387 opened #105 "Use next.js 10 @hookform/resolvers yup to get the following error SyntaxError: Cannot use import statement outside a module"
SyntaxError: Cannot use import statement outside a module

Use next.js 10 @hookform/resolvers yup to get the following error

![截圖 2021-01-04 下午11 07 10](https://user-images.githubusercontent.com/11733606/103549064-c1257e00-4ee1-11eb-953b-2cf114209242.png)
[code]
----
[code]

[2021-01-04 15:40] jorisre commented on #105
Same as https://github.com/react-hook-form/resolvers/issues/100

I'm working on resolvers's V2 which will have a better bundle supports.
As a workaround, you can use 1.3.0

[2021-01-04 15:40] #105 closed

[2021-01-04 15:41] la55u commented on #105
I have the exact same issue but with `zod`

[2021-01-04 16:01] seifsg commented on #97
@jorisre I'm facing same problem as @vtrphan I think this is an issue with type definition. This happened just right after the update.
Here is a sample of my code:
[code]

[2021-01-04 16:10] jorisre commented on #97
@seifsg Thanks for reporting. I'll fix it tonight

[2021-01-04 16:14] vtrphan commented on #97
@seifsg thanks for reporting

[2021-01-04 16:14] jq153387 commented on #105
@jorisre Using 1.3.0 is the same situation, other versions 1.2.0 ~ 1.0.0 have been tried, all in the same situation. do not know why?

[2021-01-04 16:28] la55u commented on #105
@jorisre 1.3.0 works, make sure you use the exact version and not ^1.3.0.

[2021-01-04 21:29] Rykuno commented on #100
Doh. I caught this in a PR this afternoon and came to correct what you just mentioned haha! Wish I read this last night.

[2021-01-04 21:37] joaopaulobdac commented on #102
I ran into the same problem here but I managed to fix it.

[According to jquense](https://github.com/jquense/yup/issues/293#issuecomment-414450125) you have to call `setLocale` before constructing the schema. I thought I was already doing this because I was setting the locale in the root index.tsx file of my project:
[code]
But it wasn't working. I don't know why.

So I just set the locale in the

[2021-01-04 21:56] jorisre commented on #102
Thanks @joaopaulobdac 👍🏻

@nareshbhatia maybe a possible solution/workaround

[2021-01-04 22:08] jorisre commented on #97
Fixed in [1.3.2](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.2).

Any feedbacks is appreciated :)

[2021-01-04 22:23] Ulydev commented on #97
What a coincidence, I just encountered this exact same issue on a new project, 30 minutes ago. Thank you for your quick response! 💪

[2021-01-05 04:27] jq153387 commented on #105
@la55u Thank you so much, I don't quite understand the difference between 1.3.0 and ^1.3.0? @

[2021-01-05 07:12] amankkg commented on #71
My case is fixed with `1.4.0-beta.1`

[2021-01-05 10:26] prantaDutta opened #107 "SyntaxError: Cannot use import statement outside a module"
Hi, I am having this issue suddenly. I don't know where this came from. My code was working last night but now I am having this error.
[code]
![Screenshot](https://user-images.githubusercontent.com/44747303/103635131-46f10a00-4f72-11eb-9a7a-b15908388882.png)
This is my code...
[code]
Inside the form:
[code]
I can't recreate this error in the code sandbox. It's showing me some other errors. I am so

[2021-01-05 10:27] bluebill1049 commented on #107
which version are you using?

[2021-01-05 10:33] prantaDutta commented on #107
"@hookform/resolvers": "^1.3.2",
"react-hook-form": "^6.14.0",

[2021-01-05 10:34] prantaDutta commented on #107
Check out this branch: https://github.com/prantaDutta/final-project/tree/using-fauna-db

[2021-01-05 10:56] prantaDutta commented on #107
Hi, It's probably a bug in your latest release. Because I installed the beta version of this package and it's working fine.

[2021-01-05 11:15] callamwilliams commented on #107
Yep same issue

[2021-01-05 11:53] prumand commented on #107
I have the same issue. Downgrading to `1.3.0` worked for me. Seems to be a duplicate of https://github.com/react-hook-form/resolvers/issues/100

[2021-01-05 11:58] jorisre commented on #107
Same issue as https://github.com/react-hook-form/resolvers/issues/100

[2021-01-05 11:58] #107 closed

[2021-01-05 13:05] jorisre commented on #71
@amankkg I'm glad it solves your problem ! :) But `1.4.0-beta.1` was a mistake with semantic-release. Please use `2.0.0-beta.3` instead.

For everyone which want to try the v2,  you can install the `@hookform/resolvers@beta`, at this time the `beta.3` contains:
- A TypeScript fix for Yup
- A better modules support _(without breaking changes)_

Feedbacks are really appreciated :) If some of you get

[2021-01-05 13:11] jorisre commented on #100
Thanks everyone for reporting and for provide informations to help us.

I'll close this issue because it's related to https://github.com/react-hook-form/resolvers/issues/71.

We published a v2 beta which solve this issue, more info here: https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

[2021-01-05 14:47] yashmahalwal opened #109 "Commonjs module system instead of ESNext"
I recently installed the `v1.3.2` version in a next.js project. The compilaton failed with the following error message:

[code]
Which was in the file `/node_modules/@hookform/resolvers/dist/yup.js:2`
On inspection, I found that the built files has `import` statements. That means they'd need to be transpiled before using. I believe that it is not a good practice to transpile code from `node_modules

[2021-01-05 15:04] jorisre commented on #109
Duplicate of https://github.com/react-hook-form/resolvers/issues/100

Problem solved in V2 currently in beta, more detail here: https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

[2021-01-05 15:04] #109 closed

[2021-01-05 15:34] mrlubos commented on #97
Hey! I had the same issue and can confirm it's now fixed. However, I am seeing this error message when running unit tests.

[code]

Has something else changed since `1.3.0`? Until then everything worked fine, this happens with `1.3.2`.

[2021-01-05 16:10] william-hotmart commented on #97
@mrlubos My solution to this problem was to the code below in my jest.config file

[code]

I don't know if is right, but it worked

[2021-01-06 04:47] mrlubos commented on #97
@william-hotmart @jorisre Thanks both! Will this new configuration be necessary in v2?

[2021-01-06 10:30] ivanafanasyev opened #111 "Cannot use import statement outside a module"
<img width="1191" alt="Screenshot 2021-01-06 at 13 30 06" src="https://user-images.githubusercontent.com/25664253/103758464-4c5a5d00-5023-11eb-9f21-62586004c3e8.png">
Next.js

[code]

[2021-01-06 10:38] jorisre commented on #111
Thanks for reporting

Duplicate of https://github.com/react-hook-form/resolvers/issues/100

Problem solved in V2 currently in beta, more detail here: https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

[2021-01-06 10:38] #111 closed

[2021-01-07 13:45] tajdien commented on #71
I had the same issue with `1.3.2` using snowpack.
Upgrading it to `2.0.0-beta.3` resolved the issue for me aswell.

[2021-01-11 09:46] sramam opened #112 "Reason for removing jsons-schema resolver?"
I see the feature was [merged](https://github.com/react-hook-form/resolvers/commit/ce3525a8ca6a70af7bfbacb93ecbe34c0af65864), but [reverted](https://github.com/react-hook-form/resolvers/commit/ce73c6e35386d7cb928526ab4d6f7972b1ddc909) in short order.

Can't seem to find a reason for this.
Would appreciate an insight into what happened?

[2021-01-11 09:49] bluebill1049 commented on #112
We had difficulty getting it to work at the time from memory, the package itself is quite old and hard to get it working with our build, I would recommend building a custom resolver at your own app.

[2021-01-11 10:21] sramam commented on #112
thanks for the quick turnaround. will do.

[2021-01-11 10:21] #112 closed

[2021-01-11 10:23] bluebill1049 commented on #112
thanks for understanding.

[2021-01-11 17:17] lukeramsden commented on #69
For anybody that comes across this in future, I was getting the same error. It was due to multiple versions of Zod being present in my module tree with yarn workspaces due to different version requirements - syncing the versions fixed the issue for me.

[2021-01-13 11:05] gauravkrp opened #113 "RHF hookform resolvers throwing error in terminal"
**Describe the bug**
RHF throws error in terminal -
[code]
My RHF code -
[code]

**Expected behavior**
It should have been compiled without errors.
It was working fine before as well, started throwing errors after updating my npm packages.

**CodeSandbox Demo**
https://codesandbox.io/s/nifty-grass-k6r3z?file=/pages/index.tsx

**Screenshots**
![image](https://user-images.githubusercontent.com/12250

[2021-01-13 11:12] bluebill1049 commented on #113
can you reproduce this in a codesandbox?

[2021-01-13 11:38] gauravkrp commented on #113
Yup Bill, here you go - https://codesandbox.io/s/nifty-grass-k6r3z?file=/pages/index.tsx

[2021-01-13 11:44] sokardys commented on #113
Minimal sample, only importing libs: https://codesandbox.io/s/react-hook-form-wbhjt

[2021-01-13 11:48] gauravkrp commented on #113
@bluebill1049
#100
https://github.com/react-hook-form/react-hook-form/issues/3816

[2021-01-13 12:47] jorisre commented on #113
Thanks @gauravkrp

Same as https://github.com/react-hook-form/resolvers/issues/100.

For more info: https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

[2021-01-13 12:47] #113 closed

[2021-01-22 11:31] jorisre commented on #88
Hi @Smona 👋🏻

FIY Yup sync validation added in the [v2.0.0-beta.5](https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0-beta.5)
You can try it by installing `yarn add @hookform/resolvers@v2.0.0-beta.5`

[2021-01-24 22:26] MontoyaAndres commented on #71
I'm facing the same issue as https://github.com/react-hook-form/resolvers/issues/100 ,

[code]

Now, I can't deploy to vercel :(

[2021-01-24 22:33] MontoyaAndres commented on #71
Also, I updated to "@hookform/resolvers": "1.3.2" and I get the same error...

[2021-01-24 22:35] bluebill1049 commented on #71
@MontoyaAndres try to use the latest beta version.

[2021-01-24 22:38] MontoyaAndres commented on #71
@bluebill1049 Works great! Thank you so much! I was deploying normally to Vercel when that error appears surprisingly 🤔🤔🤔.

[2021-01-24 22:40] bluebill1049 commented on #71
not sure about that :( sounds like picking update the latest, but your package.json says another story. (pick up the latest patch)

[2021-01-24 22:42] MontoyaAndres commented on #71
Very strange, I didn't update anything in my code about react-hook-form... Just appeared when the building was executing in Vercel :(

[2021-01-26 02:01] GollyJer commented on #88
HI @jorisre 👋

Stumbled on this today looking for a synchronous solution.
I have
[code]

And the following code.
[code]

I'm still seeing formValues print the old and new value when typing in a field.
Am I doing something wrong?

Thanks for the work on this! It's going to be super helpful.

[2021-01-26 02:04] bluebill1049 commented on #88
@GollyJer v6 will not return defaultValue from `watch`, unless supplied as default values

`watch(undefined, defualtValues)`

we are fixing this behaviour for V7, so defaultValue will be returned before render.

[2021-01-26 04:53] GollyJer commented on #88
@bluebill1049 Good to know. Thanks!

[2021-01-26 18:22] Smona commented on #88
@jorisre hey, awesome! Thanks for taking this on

[2021-01-27 14:17] asotog commented on #71
This worked for me, thanx, when are you planning to release this version?

[2021-01-27 14:19] jorisre commented on #71
@asotog  At the same time of react-hook-form v7

[2021-01-27 21:39] bluebill1049 commented on #71
No, we don't. It's open-source, we are all working on this in our free time. So no pressure, we get it right and we ship it out. I am planning to do a quick video to cover some of the major changes and improvements, then we can release a beta version and get more users to "test" this out.

[2021-01-30 18:23] borivojevic commented on #71
I had the same issue with 1.3.2 using snowpack. 2.0.0-beta.3 didn't work either.

Although snowpack suggests [this workaround](https://www.snowpack.dev/reference/common-error-details#uncaught-syntaxerror%3A-the-requested-module-%E2%80%98%2F_snowpack%2Fpkg%2Fxxxxxx.js%E2%80%99-does-not-provide-an-export-named-%E2%80%98yyyyyy%E2%80%99) that seems to be working for me:

[code]

[2021-01-31 13:23] borivojevic commented on #71
Another workaround that works with snowpack v3.0.11 would be:

[code]

[2021-01-31 22:22] bluebill1049 commented on #71
@jorisre any idea on this one above?

[2021-02-01 10:31] jorisre commented on #71
It seems to work for @tajdien, can you share a working example please ?

@borivojevic I'm not familiar with Skypack but if you have a reproductible example to provide then I can investigate thanks !

[2021-02-01 10:57] borivojevic commented on #71
@jorisre I hope [this example](https://github.com/borivojevic/create-snowpack-app) helps.

`yarn install && yarn start` should result in error.

[This](https://github.com/borivojevic/create-snowpack-app/commit/3343359f5f048c09b650fe1c9804b9ce71aef5df#diff-49c318d204c7d0caa09e6b1dcec4392a2436fc8f02768220cdbe2de8f364b723) is the implementation that's problematic.

[2021-02-01 11:13] jorisre commented on #71
@borivojevic Happy to try Skypack, esbuild is fast as expected 🚀

In your example you use the version 1.3.3 which have an issue with module exports _(solved in v2)_.
In your case, I recommend to use the 1.3.0 or try the [v2 beta.](https://github.com/react-hook-form/resolvers/releases)
I get your example working with these both versions.

I added a note for Snowpack users : https://github.com/react

[2021-02-01 11:22] borivojevic commented on #71
Thanks @jorisre. I can confirm that v2 beta works on this smaller example as well.

[2021-02-01 17:27] v1adko opened #120 "Validation via resolvers does not work with dependent fields (yup, vest)"
RHK version: **6.14.12**
Resolvers version: **1.3.3**
Codesandbox:  [https://codesandbox.io/s/epic-goldberg-pllwj](https://codesandbox.io/s/epic-goldberg-pllwj)

[code]

Schemas that depend on field values does not return correct errors object in `errors` or `formState.errors` or I'm missing something in configuration.

[code]

[code]

I believe the issue is somewhere in the resolvers or core pack

[2021-02-01 18:34] jorisre commented on #120
Hi @v1adko
To be sure, when I toggle `Has money` to `yes`, `formState` doesn't contain the Yup error `ValidationError: amount must be greater than or equal to 1`, right ? _(same for Vest)_

I believe this behavior is normal, below the explanation _(@bluebill1049 will correct me if I'm wrong)_
`amount` field doesn't have an error because it value never change _(with mode `onChange`)_. You can't sai

[2021-02-01 18:54] v1adko commented on #120
Yes, you're right, that's the behaviour I expected to get.
So re-validate triggers for just the field that's being interacted with, not the whole set of values in the form?
That would mean that dependent fields wouldn't work in any of the validation libs.

The only way I was able to achieve the behaviour I needed was to keep the "onChange" mode and call `trigger` directly in the onChange of the ra

[2021-02-01 19:38] jorisre commented on #120
It works until the field is filled depending on the form mode.
As you said, you can use the `trigger` API to validate the field, I don't know any other way to do this. Maybe @bluebill1049 have a better idea.

[2021-02-01 22:04] bluebill1049 commented on #120
For depend on the field, you will have to use `trigger`, hook form is optimized for single field error.

[2021-02-02 00:45] wdfinch opened #121 "V7 Resolver context is not being passed to Joi validation"
**Describe the bug**
If the joi validation library is used and the user passes in some custom context, then the context is not passed into joi. It is just displayed as null.

**To Reproduce**
Observe that when I call `scehma.validate` manually with context, I get the values. When I pass the context via `useForm`, I get null.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form

[2021-02-02 08:39] jorisre commented on #121
@wdfinch 👋🏻  Fixed in [v1.3.4](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.4)

[2021-02-02 08:39] #121 closed

[2021-02-02 10:24] v1adko commented on #120
Cool, thank you, guys. Maybe this limitation should be mentioned somewhere in the docs since the behaviour of the validation library differs if used within react-hook-form resolvers?

[2021-02-02 11:02] bluebill1049 commented on #120
sounds good will do 👍

[2021-02-02 17:08] wdfinch commented on #121
Thanks! So I was able to get this working using the code above. Does this mean I could just do something like

[code]

and it would automatically pass in the context now?

[2021-02-02 17:10] jorisre commented on #121
Yes ! :)

[2021-02-02 17:24] wdfinch commented on #121
Awesome! @bluebill1049 rather than `context`, would you be open to the idea of changing this to `options`? The reason being is for my use case I also want to change some of the default options passed to `joi` (mainly `abortEarly = false` so I can display all the errors at once).

I believe I would still have to use the messier code above to do this right? In most of these validation libraries cont

[2021-02-02 17:50] jorisre commented on #121
To be sure, you want to use `abortEarly = false`, right ?
It's already the case for the resolver: https://github.com/react-hook-form/resolvers/blob/master/src/joi.ts#L53

You can use all Joi options you want:

[code]

[2021-02-02 17:53] wdfinch commented on #121
Oh, nice. I didn't know there was a way to pass in options without having to use the longer syntax. Thanks so much! I think that handles all my issues here.

[2021-02-03 22:07] jorisre commented on #77
Hey @TMUND 👋🏻

The [v2.0.0-beta.10](https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0-beta.10) with ref is available !

[code]

[2021-02-03 22:45] TMUND commented on #77
OMG @jorisre, amazing! Thank you 🙏

[2021-02-04 02:46] WorldOfMaze commented on #71
I was having this issue with yup and nextjs.  After downgrading to 1.3.0, everything seems to be working OK.  Thanks for the workaround @jorisre

[2021-02-05 12:51] #120 closed

[2021-02-11 01:55] victsant opened #133 "Cannot resolve symbol 'yupResolver'"
I am getting this error using the following

`import { yupResolver } from '@hookform/resolvers/yup';`

yup: 0.32.8
@types/yup: 0.29.11
react-hook-form: 6.14.2
@hookform/resolvers: 1.3.4

[2021-02-11 05:16] jorisre commented on #133
Hi @victsant

Thanks for reporting.  Can you please provide a codesanbox with your problem ?

[2021-02-11 12:45] victsant commented on #133
@jorisre it working now after doing a fresh install will reopen if it occurs again. Thanks!

[2021-02-11 12:45] #133 closed

[2021-02-20 11:41] mskarimi commented on #107
same issue

import { transformToNestObject } from 'react-hook-form';
^^^^^^
SyntaxError: Cannot use import statement outside a module
    at wrapSafe (internal/modules/cjs/loader.js:979:16)
    at Module._compile (internal/modules/cjs/loader.js:1027:27)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1092:10)
    at Module.load (internal/modules/cjs/loader.js:928:32)
    at Fu

[2021-02-20 21:47] jorisre commented on #107
@mskarimi Please have a look to https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

[2021-02-27 08:45] hixus opened #138 "Build error with next and @hookform/resolvers@2.0.0-beta.8 or later"
Tried to update hook-form and hookform/resolvers. Latest version of hook-form itself seems to be ok but hookform/resolvers from 2.0.0-beta.8 cause build error:

[code]

2.0.0-beta.7 is last version that does not cause the error.

[2021-02-27 09:08] jorisre commented on #138
Hi @hixus

Do you use the v7 of react-hook-form ? Starting at [v2.0.0-beta.7](https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0-beta.7), @hookform/resolvers require the v7 of react-hook-form.

Thanks for reporting, can you provide a full example reproduction ?

[2021-02-27 11:46] hixus commented on #138
Ok, thank you. Didn't notice the v7 requirement so had only latest v6 of hook-form itself.

[2021-02-27 11:46] #138 closed

[2021-02-28 18:50] hamzahasbi commented on #71
using  "@hookform/resolvers": "2.0.0-beta.3" with  "next": "10.0.7" seems to work perfectly!
Thanks !

[2021-03-02 07:04] k-maekawa commented on #71
@hamzahasbi
It works well for me, thanks.

[2021-03-08 06:14] terebentina opened #139 "react_hook_form_1.transformToNestObject is not a function with rc1 but not with beta15"
When validation fails I get this error with resolvers 2.0.0-rc.1 but not with 2.0.0-beta15
CSB: https://codesandbox.io/s/yup-resolver-jxqtb?file=/src/App.js
Click submit without filling the field which is marked as required and you'll get the error.
Switch the resolvers to the latest beta and the error is gone.

[2021-03-08 07:56] jorisre commented on #139
Hi @terebentina
`2.0.0-rc.1` is an old version before the beta was released. To get it works you have to use the beta: `@hookform/resolvers@beta`

[2021-03-08 08:44] terebentina commented on #139
Oh, got it, thanks! For some reason I thought rc.1 was the latest

[2021-03-08 08:44] #139 closed

[2021-03-12 05:30] javierfuentesm commented on #71
It didnt work for me
![image](https://user-images.githubusercontent.com/19244527/110896658-a85e8d80-82c1-11eb-8ee0-ddead121ca31.png)

![image](https://user-images.githubusercontent.com/19244527/110896676-b1e7f580-82c1-11eb-8a45-72f22db0ea2f.png)

[2021-03-12 05:32] javierfuentesm commented on #71
For me too !! :D

[2021-03-12 06:46] 72636c commented on #71
`^1.3.0` will install the latest version `>=1.3.0 <2.0.0`. If you want to pin a specific version you should remove the caret `^`.

[2021-03-15 00:57] biem97 opened #140 "Jest cannot parse the modules when testing"
![image](https://user-images.githubusercontent.com/35174855/111090445-bdbffb80-84fd-11eb-95e6-c9771349ddc6.png)

I just started using react-hook-forms as well as the resolvers. I ran into this problem when I do unit tests with @testing-library and jest. I can fix this by modifying the yup.js file in the dist folder.

`import { transformToNestObject } from 'react-hook-form'; ` ---> `const { transfo

[2021-03-15 07:38] jorisre commented on #140
Hi 👋🏻

A possible solution: https://github.com/react-hook-form/resolvers/issues/97#issuecomment-754733737

[2021-03-15 15:04] biem97 commented on #140
Thank you @jorisre.

[2021-03-15 15:04] #140 closed

[2021-03-17 15:35] iltonbarbosa commented on #71
I have the same problem:

exports.__esModule = true;
^

ReferenceError: exports is not defined

[2021-03-25 05:47] ljharb commented on #97
@jorisre the implication is that you made a breaking change, albeit unintentional, in a minor version, and that you're not planning to fix it in the v1 line. Can you confirm?

(semver would dictate that you revert back to v1.2.x and publish it as a v1.3 latest, at the very least)

[2021-03-25 14:12] jorisre commented on #97
Hi @ljharb 👋🏻

If we revert back to v1.2.x a new problem will occur for users which use webpacker.
Possible work around: https://github.com/react-hook-form/resolvers/issues/71#issuecomment-754623998

The V2 fix all of these issues. We are running the V2 beta since months with success, I think we can apply the same fix on the version 1. I keep an eye on this issue and I'll fix V1 on the weekend

As

[2021-03-26 07:26] BigWhale commented on #139
Happened to me too. It would make sense to remove the rc1 release. If rc2 hits there will be even more confusion.

[2021-03-26 14:35] jorisre commented on #97
👋🏻
You can try the last version [v1.3.6](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.6). The issue should be solved

[2021-03-26 14:36] jorisre commented on #71
👋🏻
You can try the last version [v1.3.6](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.6). The issue should be solved

[2021-03-26 14:36] jorisre commented on #100
👋🏻
You can try the last version [v1.3.6](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.6). The issue should be solved

[2021-03-26 14:36] #100 closed

[2021-03-27 08:50] pau1tuck commented on #105
@jq153387 **yarn add @hookform/resolvers@1.3.0** (exact version) fixes the issue for me. If you use the caret ^ it means there could be a minor patch, e.g. 1.3.1, which doesn't work here.

[2021-03-27 09:36] jorisre commented on #105
@pau1tuck The issue is solved, you can use the latest version [v1.3.6](https://github.com/react-hook-form/resolvers/releases/tag/v1.3.6)

[2021-03-28 09:46] #71 closed

[2021-03-28 09:46] #97 closed

[2021-03-28 21:47] jcolakk opened #143 "yupResolver doesnt work in IE11 since upgrading v1.3.6"
Hi, I upgraded @hookform/resolvers to v1.3.6 and the import paths changed. Before, we imported the `yupResolver` from `@hookform/resolvers/dist/ie11/yup`, and now I imported it from `@hookform/resolvers/yup/dist/yup` and it broke IE11.

Is IE11 not supported anymore by @hookform/resolvers?

[2021-03-28 22:01] jorisre commented on #143
Aaaargh, sorry, I forgot IE11.. :/
Thanks for reporting, I can fix it tomorrow

ℹ️  We still support IE11 in version 1.X but we don't in version 2.X

[2021-03-28 22:02] jcolakk commented on #143
No worries :) thanks for the fast response 👍
I guess this is a duplicate of this issue: https://github.com/react-hook-form/resolvers/issues/84

[2021-03-30 08:32] jorisre commented on #143
@jcolakk Should be good now, can you confirm ? Thanks

[2021-03-30 09:35] jcolakk commented on #143
Yes, works now, thanks a lot! 👍

[2021-03-30 09:35] #143 closed

[2021-03-30 14:36] m3fawner commented on #143
Just want to drop a message of thanks for @jorisre . Appreciate the quick fix for ie11!

[2021-04-02 17:09] jorisre commented on #88
Closing, [V2 released](https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0) 🎉

[2021-04-02 17:09] #88 closed

[2021-04-02 17:09] jorisre commented on #77
Closing, [V2 released](https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0) 🎉

[2021-04-02 17:09] #77 closed

[2021-04-03 07:28] #46 closed

[2021-04-03 07:28] #102 closed

[2021-04-03 07:29] #70 closed

[2021-04-13 11:12] balzdur opened #154 "[Zod] TypeScript wrong export for zodResolver"
**Describe the bug**

The typing of `schemaOptions` is no longer exported form the same file.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-zod-resolver-example-forked-hir90

**Expected behavior**
I manage to retrieve the correct typing from the `zod` library. For now, I make use of `patch-package` to correct the problem.

[code]

**Screenshots**
No type safety on `sche

[2021-04-13 11:37] jorisre commented on #154
Hi @balzdur
Thanks for reporting, which version of zod do you use ?

[2021-04-13 14:05] codemaster115 commented on #26
I think it's because of https://github.com/react-hook-form/resolvers/commit/fe53179542b1fcda27df7427d61cca3c9965c2f9#diff-1c9dbc45c6880a5a6b5aef346c662825aa881277d91717d88cd8aae0cd35bcc4.
Looking forwards for your update.

[2021-04-13 14:29] jorisre commented on #26
Hi @codemaster115

Can you share a codesanbox with your problem please ?

[2021-04-13 14:50] codemaster115 commented on #26
Hi, Joris. Thanks for your quick reply.
https://codesandbox.io/s/react-hook-form-basic-forked-60bno?file=/src/index.js
React Hook Form - Basic (forked) - CodeSandbox
This is example with my problem.

Kind Regards
Jason

On 13 Apr 2021, 15:29 +0100, Joris ***@***.***>, wrote:

[2021-04-13 18:40] balzdur commented on #154
` v3.0.0-alpha.33 ` you should visualize the "lack" of error in the CodeSandbox (with all the other packages version)

[2021-04-13 19:11] jorisre commented on #154
We currently support zod v2, that's you get the error.
`zod/lib/helpers/parseUtil` does not exist in v2

[2021-04-13 19:24] jorisre opened #155 "Yup resolver - missing errors when `criteriaMode: all`"
https://codesandbox.io/s/react-hook-form-basic-forked-60bno?file=/src/index.js
React Hook Form - Basic (forked) - CodeSandbox
This is example with my problem.

Kind Regards
Jason

On 13 Apr 2021, 15:29 +0100, Joris ***@***.***>, wrote:

_Originally posted by @codemaster115 in https://github.com/react-hook-form/resolvers/issues/26#issuecomment-818798500_

[2021-04-13 19:25] jorisre commented on #26
Thanks for the codesandbox @codemaster115
I've opened a new issue, I'll fix it soon

The issue: https://github.com/react-hook-form/resolvers/issues/155

[2021-04-13 19:25] codemaster115 commented on #26
Thank you, @jorisre

[2021-04-15 07:27] qlaffont commented on #7
Any update on this ? I didn't see it anymore on ReadMe since rework :/

[2021-04-15 08:13] jorisre commented on #7
There is an opened PR https://github.com/react-hook-form/resolvers/pull/59 with some issues

[2021-04-15 08:23] #155 closed

[2021-04-16 14:55] #154 closed

[2021-04-20 09:21] Joshgrant-dev commented on #143
Hey all, sorry to bump this issue.

I downloaded v1.3.7 of this and having the same issue as seen above:
![image](https://user-images.githubusercontent.com/82834818/115371645-71d23780-a1ca-11eb-9031-4a3fd9b9c91f.png)

`import { yupResolver } from '@hookform/resolvers/dist/ie11/yup';` is all I'm doing for reference.

Have I missed a trick? IE11 is really important to me so need the ability to suppo

[2021-04-20 09:37] jorisre commented on #143
@Joshgrant-dev Can you check your node_modules have the correct version, same for your yarn.lock or package-lock.json ?

[2021-04-20 09:45] Joshgrant-dev commented on #143
![image](https://user-images.githubusercontent.com/82834818/115375068-b90df780-a1cd-11eb-88b6-45bc0273fc6f.png)
![image](https://user-images.githubusercontent.com/82834818/115375111-c3c88c80-a1cd-11eb-9dcf-7bda733a4851.png)

Deleted my node_modules and yarn.lock and still coming up with this issue annoyingly!

Thanks for the quick response by the way! Is the code snippet below the correct director

[2021-04-27 13:51] coreyjv opened #160 "Superstruct: Array attribute types error an array of errors instead of an object for errors"
**Describe the bug**

When using superstruct resolver with an `array` field type the the `error` object is an `array` instead of an object per the [React Hook Form documentation](https://react-hook-form.com/api/useformstate).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/competent-kalam-v98vd?file=/src/App.js
2. Click on "Submit Query" button
3. Observe the

[2021-04-28 18:53] iamclaytonray commented on #102
A better solution would be returning a key from the validation object and then wrapping that key in `t()` in your component

[2021-04-29 20:48] jorisre commented on #160
Hi @coreyjv

Sorry for the late reply.

We generate form errors based on validation library result, in your case, the result of superstruct look likes that:
<img width="656" alt="Screenshot 2021-04-29 at 22 41 18" src="https://user-images.githubusercontent.com/7545547/116615923-470b8000-a93c-11eb-8675-f4439b694d0b.png">

We follow the given path to format form errors, that's why you get an array o

[2021-04-30 10:29] bluebill1049 commented on #160
That's right @jorisre we follow the path, this path looks strange to me, I am not sure how we can support that.

[2021-04-30 11:51] coreyjv commented on #160
@jorisre and @bluebill1049 -- For what it's worth I was trying out the yup resolver and it behaves in the same fashion.

[2021-05-06 10:45] YanaRGeorgieva opened #161 "Question: Support for Computed Types strongly-typed validation library for TypeScript?"
Hello,
Are you planning on writing a resolver for [Computed types](https://github.com/neuledge/computed-types)? At least to me and my coworkers, it has been invaluable to our work and we would be happy if you did! In the past, we have patched one of your version of the Zod resolver. Now with the new updates, we see that those types of solutions are only temporary and a more general one is needed.

[2021-05-08 21:05] jorisre commented on #161
Hi @YanaRGeorgieva 👋🏻

What's your needs about Zod resolver ?

I've been playing with computed-types today and I created the resolver, feel free to review!
https://github.com/react-hook-form/resolvers/pull/162

[2021-05-09 08:10] YanaRGeorgieva commented on #161
Hello,
Thank you very much!!! :) We will review it and give it a go.
About the Zod resolver what I meant to say is that we used an older version of it so to create a temporary resolver for Computed-types.

[2021-05-11 09:20] sanzhardanybayev opened #163 "Yup Custom Validation (addMethod) Bug"
**Describe the bug**
Code breaks when adding custom validation logic via **addMethod** function.

Code returns :
**vendors-node_modules_apollo_client_index_js-node_modules_hookform_resolvers_yup_dist_yup_modu-7f163c.js:9521 Uncaught (in promise) TypeError: Cannot read property 'reduce' of undefined** message.

**To Reproduce**
Just add custom validation to yup
[code]

**CodeSandbox**
[https://code

[2021-05-11 09:25] jorisre commented on #163
@sanzhardanybayev Please provide a codesandbox with your issue

[2021-05-11 09:46] sanzhardanybayev commented on #163
@jorisre If you remove **34 line**, then this error disappears. This basically means that  **yupValidator** doesn't have a custom method defined via **yup.addMethord**.

[2021-05-12 11:40] sanzhardanybayev commented on #163
@jorisre thanks a lot for the help. Much appreciated!

[2021-05-12 11:40] #163 closed

[2021-05-12 13:08] sanzhardanybayev commented on #163
@jorisre your support is awesome. So fast. Not so many contributors resolve issues like that this fast. Btw I love your library!

[2021-05-12 15:05] jorisre commented on #163
Thanks so much, @sanzhardanybayev  that's awesome to hear!

[2021-05-13 11:22] verekia opened #167 "Unions with Zod (like allowing empty string) don't show custom error messages, always Invalid input"
**Describe the bug**

- React Hook Form sends empty fields as `''` empty strings.
- Zod can only validate empty strings using unions (see [this issue](https://github.com/colinhacks/zod/issues/310)), such as using the `or` union shorthand: `z.string().url().or(z.literal(""))`, which works correctly.
- The problem arises when using custom error messages: `z.string().url('bad URL').or(z.literal(""))`

[2021-05-13 15:40] jorisre commented on #161
@YanaRGeorgieva I close your issue because the computed-types resolver is released: https://github.com/react-hook-form/resolvers/releases/tag/v2.5.0

[2021-05-13 15:40] #161 closed

[2021-05-13 19:10] jorisre commented on #167
Good catch @verekia!

Currently, when `criteriaMode: 'firstError'` _(default),_ we 'map' over zod errors and format the first one, that's why you get:
[code]

That means, we have to take the first error of the union errors, something like that:
[code]
What are your thoughts?

***

You can also set `criteriaMode: 'all'` and get all errors:
![Screenshot 2021-05-13 at 21 03 20](https://user-images.gi

[2021-05-14 06:54] verekia commented on #167
Taking the first union error seems good to me :)

In the meantime I made a user-land workaround using `criteriaMode: 'all'`. I didn't know about that option, thank you :)

https://codesandbox.io/s/optimistic-bhaskara-tx2ei?file=/src/App.js

[code]

[2021-05-14 07:23] jorisre commented on #167
Seems good, I'll open a PR for this improvement

@bluebill1049 is that ok for you?

[2021-05-14 07:46] bluebill1049 commented on #167
Sounds good to me @jorisre thanks!

[2021-05-16 19:33] jorisre commented on #167
@verekia fixed in the 2.5.1, let me know if you've an issue

[2021-05-16 19:33] #167 closed

[2021-05-17 02:55] verekia commented on #167
Looks solved to me! Thank you very much for the super fast fix.

[2021-05-18 05:52] davepoon commented on #143
I am facing the same issue with versin 1.3.7, then I have to import it like this in order to avoid the **Module not found** issue.
`import { yupResolver } from "@hookform/resolvers/dist/ie11/yup/yup";`

[2021-05-28 15:43] vanyadymousky opened #170 "Yup resolver { stripUnknown: true } schemaOption no longer working"
Hello! My first issue here. First of all thanks for amazing library, it's a real time and life saver tool!
So I've decided to update from resolvers v2.0.0-rc.1 and react-hook-form v6.x to both latest.

**Describe the bug**
Using stripUnknown via yupResolver no longer working: empty data all the time, no validation working

Using resolvers v2.5.1 and react hook form v7.6.9

**To Reproduce**
Use yup

[2021-05-28 15:47] vanyadymousky commented on #170
Please LMK if I should submit this to react-hook-form repo!

[2021-05-30 17:59] jorisre commented on #170
Hi @vanyadymousky
Thank you for reporting the issue. I've opened a PR to fix it.
Feel free to review it #172

[2021-05-30 18:00] jorisre commented on #160
@coreyjv Did you find a solution?

[2021-05-31 07:24] #170 closed

[2021-05-31 09:52] jorisre commented on #170
@vanyadymousky Should be fixed in the last version [v2.5.2](https://github.com/react-hook-form/resolvers/releases/tag/v2.5.2)

[2021-06-09 03:25] akomm opened #173 "io-ts typing invalid"
**Describe the bug**
Example, copied from [README.MD](https://github.com/react-hook-form/resolvers#io-ts) does not work, triggering error on "resolver" property. I had to replace `ref` on `username` with `{...register('username')}` because the typing failed there too, but looks unrelated to resolver (I guess example with `ref` is outdated for this react-hook-form example).

**To Reproduce**
See sa

[2021-06-09 03:31] #173 closed

[2021-06-09 03:31] bluebill1049 commented on #173
thanks

[2021-06-09 13:10] akomm commented on #173
I'v checked the commit and figured out the resolver problem is untouched. Only the example fixed.
I just pointed out that the example is not 1:1 from readme.md, because the `ref` did  not work, so I had to replace it, but its unrelated to the resolver issue. Maybe I phrased it ambiguous :)

[2021-06-12 21:09] JayaDeHart opened #176 "Can't access matches array as array"
I am using yup with yupresolver to create a schema for my form. That schema contains multiple matches each with their own message.

          const schema = yup.object().shape({
            email: yup.string().email().required(),
            password: yup
              .string()
              .required("You must enter a password")
              .min(8, "Be at least 8 characters")
              .ma

[2021-06-14 12:24] akomm commented on #173
@bluebill1049
Can you please reopen this, as the issue is not fixed.

[2021-06-14 12:40] bluebill1049 commented on #173
<img width="571" alt="Screen Shot 2021-06-14 at 10 39 58 pm" src="https://user-images.githubusercontent.com/10513364/121893571-7433b680-cd61-11eb-833e-509cb789ec06.png">

where is your type definition for the useForm? we don't infer whats' in the schema,

[2021-06-14 15:35] akomm commented on #173
I'm not quite sure what you mean. The type for `useForm` comes from the react-hook-form library itself. It had initially a schema options, which inferred the schema. It had been removed and replaced with this adapter approach. Its nowhere indicated it does not infer anymore and even the example is as if its still the same (inferred). The code is from example.

If there is a peer specific adapter (

[2021-06-14 20:57] jorisre commented on #173
Hi @akomm,

You've to pass yourself the type definition of your form data:

[code]

I'm not a user of io-ts, but I think you can do something as Zod do: https://github.com/colinhacks/zod#type-inference

Here is how to use TypeScript with `useForm`: https://react-hook-form.com/ts#UseFormProps

Hope it helps :)

[2021-06-15 11:42] akomm commented on #173
Thanks. I know I can type myself or use the utility types in the lib to infer. This issue was not a question. I guess you can leave the wrong example and confusion to all those switching to the adapter version, because it suddenly does not infer and every source in regards to validation integration tries to convince its basically the same as before ;P

[2021-06-15 11:50] kerosan opened #178 "array field infers strange errors object"
Hi =)
![image](https://user-images.githubusercontent.com/10149363/122047028-51001a00-cde8-11eb-947f-912dd29f9864.png)

this kind of zod schema dont work as expected
[code]

Steps to reproduce the behavior:

   * 1. fill title input
   * 2. press submit
   * 3. fill array input
   * 4. press submit
   * 5. clear array input
   * in console errors changes shape of field someArray from Object to Arra

[2021-06-15 13:22] bluebill1049 commented on #178
hmmm, I don't think we are supporting Zod 3 just yet.

[2021-06-16 12:34] kerosan commented on #178
same result with version 1.11.11 as on my current project

![image](https://user-images.githubusercontent.com/10149363/122219672-54fb6d00-ceb8-11eb-924b-c2c250f2c71d.png)

[2021-06-16 12:43] kerosan commented on #178
if replace `zod` with `yup` then sameArray error works as expected
https://codesandbox.io/s/eloquent-hellman-qi2iw?file=/src/App.tsx
![image](https://user-images.githubusercontent.com/10149363/122220946-7f015f00-ceb9-11eb-8d76-25a53635b451.png)

pls help 🥲

[2021-06-16 13:34] jorisre commented on #178
Hi @kerosan I'll have a look tonight :)

[2021-06-17 14:24] coreyjv commented on #160
@jorisre there's no solution that I'm aware of besides checking if the error object is an array and handling it accordingly.

[2021-06-18 20:41] jorisre commented on #178
@kerosan sorry for the late reply, I found the problem.

You've to update the `onChange`:
[code]

Because `e.target.value` is `""` when you clear the input and zod validate the following value: `[""]`.

@bluebill1049 Is that normal we can't do the following: `onChange(undefined)`, seems not working with `undefined` 🤔

Hope it solves your issue :)

[2021-06-18 23:35] bluebill1049 commented on #178
we don't support `undefined` for the input value.

[2021-06-19 07:09] kerosan commented on #178
Thank you very much ✨✨✨

[2021-06-19 07:10] #178 closed

[2021-06-27 13:03] tsalotaibi opened #180 "yup test method gets executed, but errors don't get populated"
please find the sandbox below

https://codesandbox.io/s/react-hook-form-yup-fh7v7?file=/src/App.js

the view consists of :
- name field
- trigger button
- errors

on each input in "name1" field, the test method ➡️ "name1" gets executed and formState errors gets updated.
However, on the test method named ➡️ "form validation", it gets executed, but errors are not updated, unless trigger() is used.

[2021-06-28 15:51] jorisre commented on #180
Hi @tsalotaibi
Please, for your next issue, follow the issue template 🙏🏻  thank you

It doesn't work because your test method `form validation` does not return a `path` so we cannot link the error to a field.

You can solve that by using `createError` of Yup and fill the `path`.

[code]

👉🏻    https://codesandbox.io/s/react-hook-form-yup-forked-k1itv

[2021-06-29 06:33] tsalotaibi commented on #180
Thank you so much for your support, it's my first github issue, so I apologize, I'll look into template next time.

I can confirm your way is what I was looking for, using createError(). I wasn't aware of it, thanks a bunch! I'm so happy

[2021-06-29 06:50] tsalotaibi commented on #180
if there is any better way you can recommend would be much appreciated,
what I'm trying to achieve for my form with multiple fields, is to check if there is at least 1 field filled to submit.

[2021-06-29 14:16] jorisre commented on #180
You can do it by checking fields with `parent`?

[2021-07-04 11:27] itiszac commented on #62
reopen

[2021-07-04 13:01] tsalotaibi commented on #180
I apologize for the delay on the response.

for example, if I have 3 fields that I want to apply validation to.
and that validation is "at least one field is filled" so that the form can be submitted
it seems to me if I use createError with path <fieldName> this error will not be shown unless the field linked in path is touched.

is it possible to create an error that's not linked to a specific fi

[2021-07-05 10:18] jorisre commented on #62
Please open a new issue

[2021-07-08 14:44] ecklf opened #182 "shouldUseNativeValidation does not work properly with schema resolvers"
**Describe the bug**
Form keeps staying in error state even though it is being changed into a valid state (cannot submit form).
I can confirm this issue for both yup and superstruct so I assume it will cause problems for all resolvers.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the official schema validation example https://react-hook-form.com/get-started#SchemaValidation
2. Enable

[2021-07-08 23:07] bluebill1049 commented on #182
hey, @jorisre did some quick investigation, I think this problem occurred at the resolver not invoke `setCustomValidty(true);` to clear the error. Could you please take a look at it when you got a chance?

[2021-07-11 13:20] jorisre commented on #182
Thanks for reporting the issue. Should be fixed in https://github.com/react-hook-form/resolvers/pull/183

[2021-07-11 19:18] ecklf commented on #182
@jorisre I'll test this tomorrow and report back. Thanks in advance for the quick fix.

[2021-07-12 14:14] jorisre commented on #180
Sorry for the late response. Unfortunately, I don't know how you can achieve that.
All errors are linked to a field

[2021-07-13 07:28] tsalotaibi commented on #180
no problem, thank you for your support.

[2021-07-13 07:28] #180 closed

[2021-07-13 12:18] #182 closed

[2021-07-13 13:22] ecklf commented on #182
Tested and working for me 👍🏻

[2021-07-19 17:18] wdfinch opened #185 "Validation not working with fields arrays in joi"
**Describe the bug**
I'm noticing a new issue with schema validation with joi. After upgrading to the latest versions of hook-form and resolvers, it seems like validation is not working anymore with non-field attributes. So for example, if I want to validate that a field array has a min length, this no longer seems to be working. If I use `formValues`, then I get an error. However, `formState.isVa

[2021-07-20 21:15] aspirisen opened #186 "Have error when use with zod resolver"
**Describe the bug**
I have react-hook-form v6 because of IE support. However, I have an error when i try to add Zod resolver. Is it a bug or i should use special combination of Zod and "@hookform/resolvers/zod" versions?

**To Reproduce**
Steps to reproduce the behavior:

1. Go to sandbox example
2. Type something in inputs
3. Click submit

**Codesandbox link (Required)**
https://codesandbox.io/s

[2021-07-20 23:17] bluebill1049 commented on #186
That's V7.

[2021-07-20 23:17] #186 closed

[2021-07-21 00:00] wdfinch commented on #185
@bluebill1049 do you know if this is a bug or a design change? If you decided to only base `formState.isValid` off actual fields rather than fields array totally fine just wanted to know before changing my form validation.

[2021-07-21 02:57] aspirisen commented on #186
@bluebill1049 does it mean that i can use zod only with react-hook-form v7 ?

[2021-07-21 02:59] bluebill1049 commented on #186
try reoslver v1.

[2021-07-22 11:33] mathishuettl opened #187 "conditional yup schema validates wrong"
The condition in my yup schema doesn't update correctly

**To Reproduce**
Codesandbox: https://codesandbox.io/s/amazing-hawking-d2rmx?file=/src/App.js
1. Click the "Yes" Radio, let the input empty and click on submit
2. Click the "No" Radio and click on submit => Now the conditional is false, but it still tries to validate, but it shouldnt, because the condition is wrong

**Codesandbox link (Requi

[2021-07-22 12:12] bluebill1049 commented on #187
please do your own investigation and ask questions in Github discussion instead of spamming issues.

[2021-07-22 12:12] #187 closed

[2021-07-22 16:08] jorisre commented on #185
Thank you for reporting the issue @wdfinch .
I'm currently a bit busy. I'll look at it next week.

[2021-07-22 16:10] wdfinch commented on #185
Thanks!

[2021-07-23 06:49] bluebill1049 commented on #7
Sorry, we are not going to support ajv for now. i know this will make some users angry, but the module ajv old and hard to integrate as far as I can tell. if you need to get it working, please build a custom resolver at your app level.

[2021-07-23 06:49] #7 closed

[2021-07-23 06:50] bluebill1049 commented on #160
closing it as design limitation.

[2021-07-23 06:50] #160 closed

[2021-07-31 16:00] jadedevin13 opened #191 "Support for typanion"
**Is your feature request related to a problem? Please describe.**
There's a new kid in the block that is being used by the new version of yarn.
https://github.com/arcanis/typanion

[2021-07-31 22:42] bluebill1049 commented on #191
Going out today

[2021-07-31 22:42] #191 closed

[2021-08-04 21:43] jorisre commented on #185
@bluebill1049 that error appears with the [v7.8.4](https://github.com/react-hook-form/react-hook-form/releases/tag/v7.8.4). It works well with the 7.8.3.
Any thoughts?

[2021-08-15 08:20] SinaBYR commented on #63
I have been dealing with same problem. Thank you!

[2021-08-17 10:43] desfero opened #220 "Cannot find module 'zod/lib/src/parser'"
**Describe the bug**
The latest resolvers package with `zod` gives a typescript error.

[code]

**To Reproduce**
1. Install latest version of `@hookform/resolvers` and `zod` in a TS project
2. Run `tsc` to get the error. (not `skipLibCheck` should be `false`)

**Expected behavior**
No ts error.

**Additional context**
`ParseParams` can be now imported directly from `zod` root to avoid any potentia

[2021-08-17 15:56] jorisre commented on #220
Thank you for reporting, someone already reported it: https://github.com/react-hook-form/resolvers/issues/154

We currently support Zod v1, here is the PR for Zod v3: #200

[2021-08-17 18:33] desfero commented on #220
oh, I thought that one from April was already resolved.
Do you need any help with the migration?
I found also that it's not very clear that Zod v3 is not yet supported.

[2021-08-19 07:50] #220 closed

[2021-08-19 08:03] jorisre commented on #220
Fixed with 2.8.0!

[2021-09-07 13:30] heavenshell opened #234 "yupResolver raise Types of parameters 'options' and 'options' are incompatible at react-hook-form 7.15.0"
Hello.

**Describe the bug**

I updated react-hook-form 7.15.0, yupResolver raise following type error messages.

[code]

Same code with react-hook-form 7.14.2 works fine(no type error).

versions
- react: 17.0.2
- react-hook-form: 7.15.0
- @hookform/resolvers: 2.8.0
- dayjs: 1.10.6
- yup: 0.32.9
- typescript: 4.3.5

**To Reproduce**

1. Go to https://codesandbox.io/s/sad-wilson-rvpvv?file=/src/Ap

[2021-09-09 17:15] asalahjawava commented on #234
I have the same exact issue but with joiResolver. Suddenly after updating to the latest versions I got that type error. Any updates regarding that issue?

[2021-09-09 22:39] decebal commented on #71
1.3.9 seems to have the same issue again :(

[2021-09-10 10:26] studnik18 commented on #71
There is 2.8.0 released. Why would you bother with 1.3.9 ?

[2021-09-10 12:59] decebal commented on #71
thanks @studnik18 🙈 👍🏽

[2021-09-19 04:30] heavenshell commented on #234
@jorisre Thank you for fixing, but unfortunately still raise type error in my app....

https://codesandbox.io/s/hardcore-darwin-qusu6?file=/src/App.tsx
<img width="907" alt="スクリーンショット 2021-09-19 13 26 19" src="https://user-images.githubusercontent.com/56591/133915482-3869a6b6-69c6-4328-b116-4d71716c6983.png">

I Updated to
@hookform 2.8.1 and react-hook-form 7.15.3

@asalahjawava
Does your applica

[2021-09-19 08:53] jorisre commented on #234
Thank you @heavenshell for reporting the issue. I'll open a PR.

[2021-09-19 10:16] jorisre commented on #234
@heavenshell You can remove `<FormType>` from the `useForm<FormType>`. Types are inferred from the schema.

[2021-09-19 12:36] rares-lupascu commented on #234
same issue here ... tried calling useForm without field definitions but this generated an issue with the defaultValues key
![image](https://user-images.githubusercontent.com/3641866/133927724-8f74719c-377d-41e2-8666-04e3100fd0cc.png)

[2021-09-19 12:41] jorisre commented on #234
Can you share a codesanbox please ?

[2021-09-19 12:54] rares-lupascu commented on #234
https://codesandbox.io/s/dawn-butterfly-klfoq?file=/src/App.tsx

[2021-09-19 13:12] rares-lupascu commented on #234
it is because i use yup.object().shape() instead of yup.object()

[2021-09-19 13:21] jorisre commented on #234
Using `object()` instead of `object().shape()` fix your issue ?

[2021-09-19 13:26] rares-lupascu commented on #234
it is like a chain of errors ... after switching to object() ... I get inline errors on the <Controller />
if I have nullable fields ... I will get this error:
![image](https://user-images.githubusercontent.com/3641866/133929244-e6abfc84-8cc0-4417-a993-e05da9a09627.png)

this because In schema the field is nullable

[2021-09-19 14:49] sammkj opened #243 "Add a Superstruct custom error message handler"
**Is your feature request related to a problem? Please describe.**
Current Superstruct resolver does not allow us to control the error message shown to to end users.

**Describe the solution you'd like**
I propose to add a custom error handler like such:

[code]

**Describe alternatives you've considered**
None

**Additional context**
None

I can send in a PR if you're okay with this.

[2021-09-19 22:47] bluebill1049 commented on #243
Don't think it's an feature related to resolver, this is probably what you are looking for: https://github.com/react-hook-form/react-hook-form/discussions/6472

[2021-09-20 00:51] sammkj commented on #243
That sounds like a better plan than adding a error handler in the resolver.

[2021-09-20 01:40] bluebill1049 commented on #243
I will close this issue and let's keep an eye on the RFC. 🙏

[2021-09-20 01:40] #243 closed

[2021-09-20 13:25] toytonic commented on #234
Hi there, in my case the error shows up on the `resolver` option. When I remove the generic form `useForm`, the error disappears from resolver but new errors appear using `<Controller />`. Will try to debug further...

<img width="987" alt="Bildschirmfoto 2021-09-20 um 15 17 32" src="https://user-images.githubusercontent.com/248213/134009791-84581203-f644-45c0-8f5f-de30afdef2bd.png">

[2021-09-20 13:34] Mihai-github commented on #234
Hi,
   My current setup is:

"@hookform/resolvers": "^2.8.1",
"react-hook-form": "7.15.4",
"yup": "^0.32.9",
"@types/yup": "^0.29.13"

-----------------------------------------------------------------------------------------------------------------------------

They are the latest versions that are atm available and how I solved the above error is by using the yupResolver with the next generic typ

[2021-09-21 05:11] jorisre commented on #97
Can you open a new issue with a reproductible example please?

[2021-09-21 14:55] iamchathu opened #245 "[Bug]: Document issue"
### Version Number

7.15.4

### Codesandbox/Expo snack

https://codesandbox.io/s/sweet-dream-58m9v

### Steps to reproduce

0. Code was copied from the [documentation.](https://react-hook-form.com/get-started#SchemaValidation)
1. Run `tsc`
2. Or in VSCode in the line it shows the error.

### Expected behaviour

Without any issue.

### What browsers are you seeing the problem on?

_No response_

##

[2021-09-21 23:24] bluebill1049 commented on #245
@jorisre i think there is an issue with the latest patch, perhaps we want to revert the resolver change.

[2021-09-21 23:24] bluebill1049 commented on #245
thanks @AlexeyDrobot

[2021-09-22 01:29] bluebill1049 commented on #245
@julienfouilhe would you be able to take a look at this one, i think it's introduced by the last PR.

[2021-09-22 01:54] julienfouilhe commented on #245
I think that a first problem was releasing this change as a patch. It should have at least been a minor.

I may have been at fault for not stressing the importance of the changes of my PR, but now the yup resolver correctly infers the FieldValues from the schema using `yup.InferType`.

Which means the type passed to `useForm` needs to match the type inferred from the schema.

But the type inferred

[2021-09-22 02:06] bluebill1049 commented on #245
Thanks @julienfouilhe no one's fault here :) I do appreciate your contribution and help. we are all trying to make this works for everyone.

Take a look at this codesandobx: https://codesandbox.io/s/react-hook-form-validationschema-v7-ts-eb41q?file=/src/index.tsx the issue is probably more obvious, switching from 2.8.1 to 2.8.0

[2021-09-22 02:15] julienfouilhe commented on #245
@bluebill1049 In this example, changing the schema to:

[code]

Works. Which actually fixes potential problems since not using `defined` or `required` means `undefined` is a valid value.

Also now you don't have to pass the type to useForm as it should be correctly inferred from the schema.

So using the following code is enough and will show problems with the schema.

[code]

It sure is stricter,

[2021-09-22 02:18] bluebill1049 commented on #245
Thanks @julienfouilhe I do think this is a breaking change to existing users, maybe we roll it back for now and work out something to ease the breaking part. Let me know your thoughts as well @jorisre

[2021-09-22 02:33] julienfouilhe commented on #245
@bluebill1049 It might break a lot of projects yes. I had to fix a bunch of yup schemas in my projects myself.

Yes we can revert, but 2.8.0 is not compatible with the latest react-hook-form.

[2021-09-22 02:55] bluebill1049 commented on #245
thanks for understanding @julienfouilhe could you share a codesandbox with the latest react-hook-form issue with resolver?

[2021-09-22 03:05] bluebill1049 commented on #245
related issue: https://github.com/react-hook-form/resolvers/issues/234

[2021-09-22 04:30] iamchathu commented on #245
Better to update documentation to reflect this would be seems good.

[2021-09-22 04:31] bluebill1049 commented on #245
The doc is fine, I think we will have to revert and work out a better solution.

[2021-09-22 04:52] iamchathu commented on #245
What will be the future way of setting yup schema?

[code]

or

[code]

[2021-09-22 05:13] bluebill1049 commented on #245
they both should work, resolver shouldn't dictate schema syntax.

[2021-09-22 06:37] julienfouilhe commented on #245
Why though @bluebill1049? Isn't that what it's for? Checking the syntax? If the schema accepts undefined values, shouldn't you see this in the type of field values, so that you can handle the undefined case, or change your schema accordingly?

[2021-09-22 06:51] bluebill1049 commented on #245
@julienfouilhe what do you mean by `undefined`?

[code]

this schema should fail with `undefined` right at run time? Do you mean the schema determined that the value type still allowed `undefined` or `object`? It's a bit confusing to me because the schema will do a run-time check against an object. If that's not the case I am happy to update the doc, but if this gets me I worried it would confuse

[2021-09-22 07:06] julienfouilhe commented on #245
Yes yup is extremely confusing. If you don't use required or defined then it will not return an error if the value is undefined.

With 2.8.1, you know that it can be undefined and need to handle that (by changing your either your schema, or your custom field values type if you have one, or the code that uses the form values). If you don't then you'll have a typescript error.

With 2.8.0, you can s

[2021-09-22 07:10] bluebill1049 commented on #245
thanks for the explanation @julienfouilhe i will update the doc to reflect that first and we can go from there.

[2021-09-22 07:45] julienfouilhe commented on #245
Last clarification. This used to pass:

[code]

While with 2.8.1 it will show an error showing that the schema is incompatible with the manually specified type. If you do

[code]

It will also show an since the schema is incompatible with the default values! 🎉

[2021-09-22 11:32] vtrphan commented on #245
so what's the solution? rolling back to 2.8.0 and wait for a fix, or what do i have to change?

[2021-09-22 11:48] bluebill1049 commented on #245
follow the updated doc for now: https://react-hook-form.com/get-started#SchemaValidation @vtrphan

[2021-09-22 12:16] julienfouilhe commented on #245
@bluebill1049 Just a thought, but maybe we can export both a strictly typed resolver and a less strict resolver? They would be the same code, the non strictly typed version could just be typecasted to "any" just like before.

[2021-09-23 14:52] Manubi commented on #234
Hi,
I ran into kind of the same problem with the latest packages...

I am not that familiar with typescript to debug it myself... I feel like moving in circles.
Can anyone please give a hand. thanks! ❤️
![CleanShot 2021-09-23 at 16 48 48@2x](https://user-images.githubusercontent.com/20935138/134529908-76cbedd4-b0fd-4e12-ab57-7068264fbfa7.png)
<img width="784" alt="CleanShot 2021-09-23 at 16 51 05@

[2021-09-24 00:21] k-maekawa commented on #234
hello there. I ran into the same type error with `@hookform/resolvers: 2.8.1`.
My setup and error is below.

[code]

[code]

[2021-09-24 21:25] athammer commented on #234
Hi, I'm assuming you have enough to go on right now but also wanted to report this also seems to be an issue with Zod.

[code]
Versions are...
"@hookform/resolvers": "2.8.1",
"react-hook-form": "7.15.0",

Downgrading both packages fixed this.

[2021-09-24 22:57] bluebill1049 commented on #234
@k-maekawa & @athammer can you share code in a codesandbox?

[2021-09-25 06:31] huynd0902 commented on #234
Hi. I still get the same error when use react-hook-form(7.16.0) and @hookform/resolvers(2.8.1). Do we have any way to workaround? Please see my codesanbox https://codesandbox.io/s/crazy-knuth-ylcsp?file=/src/App.tsx

[2021-09-25 06:33] bluebill1049 commented on #234
@huynd0902 ```
const schema = yup.object({
  firstName: yup.string().required()
}).required();
[code]

[2021-09-25 06:39] huynd0902 commented on #234
@bluebill1049 So this is a official fix for this issue? Because the previous version I do not need to do this. But yesterday when I checked the docs. It say something like you show above.

[2021-09-25 06:40] bluebill1049 commented on #234
no, we are considering to revert back `2.8.1`.

[2021-09-25 06:47] huynd0902 commented on #234
Hopefully, You will fix this issue soon because I really love this library. Thank you.

[2021-09-27 01:18] bluebill1049 commented on #234
7.16.0 solve the original issue above. the other issue is related to 2.8.1 https://github.com/react-hook-form/resolvers/issues/245

[2021-09-27 01:18] #234 closed

[2021-09-27 15:12] andreisocaciu commented on #97
Reproductible example here:
https://codesandbox.io/s/https-github-com-react-hook-form-resolvers-issues-97-vpk5w?file=/src/App.tsx

[2021-10-04 11:53] wroughtec commented on #245
Seems to cause an issue when using `when`:
https://codesandbox.io/s/when-validation-4dux1?file=/src/index.tsx

ie remove shape you get `Cyclic dependency, node was:"max"`

[2021-10-04 11:57] bluebill1049 commented on #245
@wroughtec adding the `.required()` fix the issue as well.

[code]

[2021-10-04 11:58] wroughtec commented on #245
great think safer to go down that route then :)

[2021-10-05 11:46] Lemaro86 commented on #234
Types of parameters 'options' and 'options' are incompatible if you use a few selected elements of array in select.
in "react-hook-form": "7.17.1", and  "@hookform/resolvers": "2.8.1",

[2021-10-06 02:40] MylesWardell commented on #245
Similar issue with Joi resolver. Does anybody know a stable version I can revert to?
![image](https://user-images.githubusercontent.com/55673046/136132176-6306b627-3290-448c-92d0-9cf47f98fc31.png)

[2021-10-06 02:48] bluebill1049 commented on #245
can you share a codesandbox @MylesWardell

[2021-10-06 05:37] MylesWardell commented on #245
@bluebill1049 First time writing a sandbox for a bug
https://codesandbox.io/s/joi-resolver-bug-k5885

I noticed while trying to mimic my work environement that if you dont call joiResolver through a function everything works as intended. Only through a function does it fail. Thoughts?

[2021-10-06 06:14] #245 closed

[2021-10-06 06:15] jorisre commented on #245
Hey Guys,

Sorry for the delay, the last version of resolvers should fix that issue. If you've a different error, please open a new issue.

[2021-10-06 06:34] bluebill1049 commented on #245
We will revert this feature for now, and make it a potential break change for v3. Thanks very much for your contribution by the way.

[2021-10-15 10:06] heavenshell opened #258 "yupResolver raise `Types of parameters 'options' and 'options' are incompatible` 7.17.4"
**Describe the bug**

Hello, Thank you for fixed #234, but I Update to `react-hook-form v7.14.4`,
unfortunately raised `Types of parameters 'options' and 'options' are incompatible`.

v7.17.1 is OK(not raise type error)
v7.17.2~v.17.4 is raise type error

versions
- react: 17.0.2
- react-hook-form: 7.17.4
- @hookform/resolvers: 2.8.2
- dayjs: 1.10.7
- yup: 0.32.11
- typescript: 4.3.5

**To Reprodu

[2021-10-20 13:27] jorisre commented on #258
Hi,
It's a design limitation, we recommend to pass simpler object than a Dayjs or moment object. Can you pass a date string or timestamp number instead ?

I also recommend to use `yup.object({})` instead of `yup.object().shape({})`

[2021-10-23 19:59] israelidanny opened #267 "feat: support coercions for superstruct resolver"
**Is your feature request related to a problem? Please describe.**
Sometimes the data needs to be manipulated (coerced) during validation. Superstruct supports this using coercions.

**Describe the solution you'd like**
Support coercions as a parameter or settings and use `create()` instead of `validate()`

**Describe alternatives you've considered**
It's possible to do this post-validation, but i

[2021-10-28 11:45] bpc1985 opened #268 "No exported member 'ParseParamsNoData'"
Hi,

Currently I use Zod with React Hook Form as validation schema. However when building code for production usage, I got this error:

**tsc && vite build

node_modules/@hookform/resolvers/zod/dist/types.d.ts:3:100 - error TS2694: Namespace '"/home/node_modules/zod/lib/external"' has no exported member 'ParseParamsNoData'.

export declare type Resolver = <T extends z.Schema<any, any>>(schema: T,

[2021-10-31 12:32] #258 closed

[2021-10-31 12:53] heavenshell commented on #258
Thank you for replay and sorry for late response.

Ok, I understand.
But please write `design limitation` to document.
Only primitive type(such as string, number) can use?

Maybe I can. I'll try.

[2021-10-31 12:57] bluebill1049 commented on #258
It was marked as a design limitation in the main repo as well: https://github.com/react-hook-form/react-hook-form/issues/6523

[2021-10-31 19:21] mrodrigues95 opened #271 "NextJs 12: Named export `set` not found"
**Describe the bug**
I've upgraded to NextJS v12 which [supports](https://nextjs.org/blog/next-12#es-modules-support-and-url-imports) ES modules out of the box and now I'm getting the following error whenever I try to load any page that imports uses `zodResolver`.

[code]

**To Reproduce**
1. Create a new NextJS project on v12
2. Install `@hookform/resolvers`
3. Try to use any resolver (e.g. zod)

[2021-10-31 21:16] allwd commented on #271
@mrodrigues95
I faced the same issue just now. Fixed it temporarily by replacing `import { yupResolver } from '@hookform/resolvers/yup';` with `import { yupResolver } from '@hookform/resolvers/yup/dist/yup.umd';`. Maybe it's going to work for you as well.

[2021-10-31 21:47] mrodrigues95 commented on #271
@allwd That seems to work as a work around for the time being, thanks.

[2021-11-01 00:46] jhg023 commented on #271
I'm facing this bug as well after updating to Nextjs 12.0.2, and I did not encounter this issue on Nextjs 12.0.1

[2021-11-01 01:22] Czer0C commented on #271
Having the same issue with NextJS **12.0.2**, the temporary fix provided by @allwd works.

[2021-11-01 10:27] sgonv commented on #271
How about Typescript? I tried @allwd 's suggestion, but it doesn't work well.

[code]

[2021-11-01 15:55] azarmehri commented on #271
Hi @sgonv. For Typescript, you need to import resolver like `import { zodResolver } from '@hookform/resolvers/zod/dist/zod'` instead `@hookform/resolvers/zod`. It works for me 😊

[2021-11-01 22:11] bluebill1049 commented on #271
thanks @jorisre 🙏

[2021-11-02 01:01] TheBestMoshe opened #272 "Array values in Zod resolver need to be wrapped in `NestedValue`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this Codesandbox](https://codesandbox.io/s/react-hook-form-zod-resolver-bug-demonstration-651hk?file=/src/App.tsx:1055-1212)
2. Scroll to line 43
3. See the type error `Property 'message' does not exist on type 'FieldError[]'`
4. Click `Submit` in the browser windo

[2021-11-02 02:23] sgonv commented on #271
@azarmehri Oh, it worked for me. Thanks!

[2021-11-02 07:40] hongdeyuan commented on #271
This is a way to bypass the Rust compiler and does not solve the fundamental problem. If you install a dependency that does not satisfy the CommonJS module, the project will still not run properly

[2021-11-02 08:44] #268 closed

[2021-11-02 17:47] uDaniAlves commented on #271
I'm having the same issue and @allwd solution worked from me but Storybook stopped working.

The errors are:
`ERROR in ./node_modules/@hookform/resolvers/yup/dist/yup.mjs 1:909-910
Can't import the named export 'appendErrors' from non EcmaScript module (only default export is available)`

`ERROR in ./node_modules/@hookform/resolvers/yup/dist/yup.mjs 1:710-711
Can't import the named export 'toNestE

[2021-11-02 19:00] Yhozen commented on #271
Another fix would be

[code]

[2021-11-03 00:20] JamesWong1999 commented on #271
similar issue: https://github.com/vercel/next.js/issues/30750 ?

[2021-11-03 23:46] PaulHaze commented on #271
Facing the same issue, tried @allwd  & @Yhozen solutions. Neither worked
[code]

If anyone has any other solutions I would love to hear them!

[2021-11-04 00:59] dsacramone commented on #271
Same issue. No solutions presented here works.

**These did not work:**
import { yupResolver } from '@hookform/resolvers/yup/dist/yup.umd';
const { yupResolver } = require('@hookform/resolvers/yup');
import { yupResolver } from '@hookform/resolvers/yup/dist/yup';

Any other solutions?

[2021-11-04 03:34] PaulHaze commented on #271
@dsacramone Whilst not ideal, you can see my reply above in that dropping the version of Next down to 12.0.1 (specifically) in package.json and then re-running yarn (or npm) fixed all the build issues for me. As others have linked, this thread over at the Next repo seems to be dealing with the same (or similar) problem:
https://github.com/vercel/next.js/issues/30750

[2021-11-04 03:47] bluebill1049 commented on #271
can we try nextjs `v12.0.3-canary.2`? see if this issue is getting resolved?

[2021-11-04 06:54] PaulHaze commented on #271
I actually tried that version before reverting back to 12.0.1 and from what I could tell on my end it didn't do anything to resolve it. I tried the 3 methods of importing  that @allwd  & @Yhozen mentioned.

[2021-11-04 11:50] bluebill1049 commented on #272
This is a limitation which is impossible for hook form infer the correct type based on group inputs or single input, hence NestedValue is required for such groups inputs.

[2021-11-05 03:13] devdreamsolution opened #275 "DeprecationWarning: Use of deprecated folder mapping "./" in the "exports" field module resolution of the package at node_modules\@hookform\resolvers\package.json"
I've upgraded NextJS version to v12 and changed importing path of yupResolver.

[code]

That seems like work well in dev, but I get this when I build to production.

![image](https://user-images.githubusercontent.com/54434088/140452301-835cd62c-e65b-4998-bf99-a471c55b1065.png)

[2021-11-05 05:10] dsacramone commented on #271
Hey @PaulHaze , are you still importing it the same? I did as you suggest and am using 12.0.1, and it did build, but when viewed in a browser, the page doesn't work - as expected if my hookform isn't working. Did you use a special "import" or way to get at it?

[2021-11-06 09:45] #272 closed

[2021-11-06 21:38] jhg023 commented on #271
Nextjs 12.0.3 was released, but it doesn't resolve this issue, unfortunately.

[2021-11-07 02:46] bigint commented on #271
Yes still this is blocking 😕

[2021-11-07 05:41] phanvanluan94 commented on #271
Same issue.

[2021-11-08 16:28] jeromeSH26 commented on #271
downgrading to 12.0.1 fix the issue

[2021-11-08 20:20] PaulHaze commented on #271
@dsacramone No I think I am just importing it as usual:

`import { yupResolver } from '@hookform/resolvers/yup';`

That is what I am using to import it. The versions I have in my package.json are:

` "@hookform/resolvers": "^2.8.3",`
`"next": "12.0.1",`

So far it is working both locally and when I build/deploy it. I hope that is of some use !? :)

[2021-11-10 01:54] justyn-clark commented on #271
`import { yupResolver } from '@hookform/resolvers/yup/dist/yup'` worked for me

[2021-11-10 04:32] taskordhq commented on #271
Thanks @justyn-clark as a temp workaround this works

`import { zodResolver } from '@hookform/resolvers/zod/dist/zod'`

[2021-11-10 21:12] dsacramone commented on #271
Hey Paul, what version of react-hook-form are you using, as I have those same versions you mentioned (next/hookform) and still getting the error.

Thanks! What version of **react-hook-form** are you using?

[2021-11-15 05:33] PaulHaze commented on #271
@dsacramone I'm using  "react-hook-form": "^7.18.1",

[2021-11-16 01:25] jhg023 commented on #271
Next.js 12.0.4 didn't solve this issue either.

[2021-11-18 05:37] yordis commented on #271
Didn't work for me, any updates on this one?

[2021-11-18 12:57] ItaloCanturil commented on #271
`const { yupResolver } = require('@hookform/resolvers/yup')` worked for me

[2021-11-19 03:09] Seijinx commented on #271
Upgrading "react-hook-form" to "7.20.0" generates the same issue in Next 11. I'm freezing this at 7.19.5 for now.

[2021-11-19 04:49] bigint commented on #271
For me 7.20.0 with next 12.0.4 works fine 🎉

[2021-11-19 09:54] JClackett opened #285 "New React hook form update seems to break this package (v7.20.0)"
**Describe the bug**

Using Next.js 12 and using the latest hook form packages

[code]

**To Reproduce**
Update react hook form to latest release, use the latest @hookform/resolver version (v2.8.3)

**Codesandbox link (Required)**
I can't reproduce it on codesandbox as I can't get the basic nextjs example to work :(

**Desktop (please complete the following information):**

- OS: MacOs

[2021-11-19 10:00] bluebill1049 commented on #285
hey @JClackett thanks for reporting, we already have a ticket for nextjs 12 issue: https://github.com/react-hook-form/resolvers/issues/271 let's close this one and follow up there. i honestly don't know if this is an issue our bundle or nextjs as some works and some not.

[2021-11-19 22:34] bluebill1049 commented on #271
7.20.0 type module breaks other libs depends on it...

[2021-11-19 22:44] bluebill1049 commented on #285
FYI, going to revert 7.20.0 type module update.

[2021-11-19 22:44] #285 closed

[2021-11-19 23:01] yordis commented on #271
Python 2 vs. 3 ....

@bluebill1049 I think we should commit to figuring out how to make it work for ESM ... I know it is painful, but this was the inevitable from NodeJS 😭

[2021-11-19 23:03] bluebill1049 commented on #271
@yordis we do have ESM support (as far as I know), its' a mix with commonJS and ESM the real pain.

[2021-11-19 23:22] yordis commented on #271
@bluebill1049 yeah I checked the implementation and it seems like ... but I hear you ... I am still try-and-error with setups because we are under the mercy of how the underline tools originally load the components.

And, I think, unless the Node version supports the `package.json#exports` it wouldn't work, which I am not sure if Vercel `NodeJS@14` supports it.

[2021-11-22 08:00] newadbie commented on #271
Some news? I still get this issue, it is 20 day :o

[2021-11-22 09:29] bluebill1049 commented on #271
thanks, @yordis for trying to help.

[2021-11-22 10:03] bluebill1049 commented on #271
This is likely not an issue with `react-hook-form` as the module itself does provide ESM entry point: https://www.skypack.dev/view/react-hook-form

[2021-11-23 02:29] Seijinx commented on #271
`react-hook-form` 7.20.2 fix this same problem in Next 11.1.2. Thanks @bluebill1049 !

[2021-11-23 02:30] jhg023 commented on #271
I can't update to `v7.20.2` when using `v12.0.4` of Next.js, as I experience the same issue as the OP. The latest version of `react-hook-form` I can use is `v7.20.1`.

[2021-11-24 17:12] novazembla commented on #271
I also can confirm that `v7.20.2` in combination with next `v12.0.4` does not compile, but `v.7.20.1` does. Just want to add that I added some `webpack` related settings `next.config.js`. So in my case next does not compile with webpack.

[2021-11-25 16:42] ricardo-rp opened #290 "Schema only validating .refine when object passes"
**Describe the bug**
I have the following schema in my app, for a user signup form:

[code]

I am not getting the `confirmPassword` error correctly shown on-screen from the `refine` function. It seems the error for this field will only appear on screen if the whole form is already filled out (maybe it's checking `.refine` only after `.object` has passed?)

**To Reproduce**
Steps to reproduce the b

[2021-11-25 22:42] bluebill1049 commented on #290
my understanding is it depends on when `.refine` is getting executed, it may not associate with any inputs, hence there are no errors showing on the UI. you may have to use `trigger` API for such usage.

[2021-11-26 01:22] ricardo-rp commented on #290
@bluebill1049 I managed to narrow it down a bit further. The `confirmPassword` error will be correctly set in `formState` after the checkbox is touched.
If the checkbox is not touched, the error does not reach formState correctly.

I actually managed to solve it by replacing .literal with .boolean and using refine. Here's a [fork](https://codesandbox.io/s/react-hook-form-zod-resolver-example-forke

[2021-11-26 01:43] bluebill1049 commented on #290
![Screen Shot 2021-11-26 at 12 42 25 pm](https://user-images.githubusercontent.com/10513364/143514327-62a8577e-b155-48ec-9f02-da857f4b7a65.png)

https://react-hook-form.com/api/useform

because react hook form focuses on field level validation for re-render errors object, we evaluate errors from schema against field names, so we don't constantly flush re-render your component. so in order for reac

[2021-11-26 01:57] ricardo-rp commented on #290
@bluebill1049 If I understand correctly, this suggests what I'm doing wrong is to use `.refine` on the whole form schema, but I managed to work around the issue by altering the `privacyTermsAccepted` checkbox. (see [codesandbox](https://codesandbox.io/s/react-hook-form-zod-resolver-example-forked-b1vwx?file=/src/App.js)). Does this mean I got lucky, and the way I'm validating my form is still pote

[2021-11-26 02:02] bluebill1049 commented on #290
Here is follow below: (hopefully make more sense)

user action -> field level value update -> schema errors (form level) -> resolver match field name (field level) -> render formState errors

If you need formLevel/groupLevel errors, I think it's safer to do a `trigger` on that specific error path, so react hook form can draw the lines together and flush the render with associated fields.

[2021-11-29 06:21] AlexandruCalinica commented on #271
`v7.20.1` works with `v12.0.2` for me.

[2021-11-29 20:18] jonatassales commented on #272
@bluebill1049 I'm curious because you've added a implementation that works here:

https://codesandbox.io/s/infallible-panini-7duc6?file=/src/App.tsx

...But when you bump the `@hookform/resolvers` to the latest version it crashes.

[2021-11-29 22:16] #290 closed

[2021-11-29 22:29] embedvr commented on #271
This fixed seems to have fixed it for me. The fix from @allwd didn't though.

[2021-11-30 14:18] jonatassales opened #297 "Type NestedValue + yupResolver fails type checking after v1.3.7"
**Describe the bug**
When I try to type `useForm` with property that is an array of strings, like:

[code]
I get de following type error:

<img width="1013" alt="Screen Shot 2021-11-30 at 11 07 59" src="https://user-images.githubusercontent.com/6073626/144062604-b92c4918-4688-43e2-9a26-378f5ae2226b.png">

**To Reproduce**
To reproduce you can go to the codesandbox that @bluebill1049 posted on an i

[2021-11-30 14:43] jorisre commented on #297
Starting at version 2 of resolvers, you've to use the v7 version of react-hook-form.
More info here: https://github.com/react-hook-form/resolvers/releases/tag/v2.0.0

[2021-11-30 16:00] jorisre commented on #297
![Screen Shot 2021-11-30 at 4 47 03 PM](https://user-images.githubusercontent.com/7545547/144082097-ca49aa98-e460-4196-8d45-e3a4b0290ad3.png)

Your codesandbox uses react-hook-form v6.
You can use the latest version of yup as well, @types/yup isn't required anymore.
You've to import the resolver like that: `import { yupResolver } from '@hookform/resolvers/yup';`

[2021-11-30 17:23] jonatassales commented on #297
This codesandbox was posted by @bluebill1049 actually, I just updated all deps to the latest version and it crashed.

I ended up solving it by doing a casting, which I think it isn't the best solution:

[code]

I think `useForm` should infer the resolver type by its generic. Maybe this is something you guys can look at. Thanks for the help @jorisre

[2021-11-30 17:29] jonatassales commented on #297
Sorry, the code snippet isn't the same as the codesandbox. I may have caused confusion

[2021-12-02 17:11] drydenwilliams opened #298 "Cannot read properties of undefined (reading 'reduce')"
**Describe the bug**

When my form renders I get an `Cannot read properties of undefined (reading 'reduce')` error and I can't seem to figure out the issue.

**To Reproduce**

1. Visit the [Sandbox](https://codesandbox.io/s/muddy-voice-q1ilg?file=/src/NewSiteForm.tsx)
2. Open in full-screen mode or [click here](https://q1ilg.csb.app/)
3. And see the error popup

**Expected behavior**
It should loa

[2021-12-02 17:14] drydenwilliams opened #299 "issue: Cannot read properties of undefined (reading 'reduce')"
### Version Number

7.20.5

### Codesandbox/Expo snack

https://codesandbox.io/s/muddy-voice-q1ilg?file=/src/NewSiteForm.tsx

### Steps to reproduce

1. Visit the [sandbox](https://codesandbox.io/s/muddy-voice-q1ilg?file=/src/NewSiteForm.tsx)
2. Open in fullscreen mode or [click here](https://q1ilg.csb.app/)
3. And see the error pop up

### Expected behaviour

It shouldn't error like this.

### Wh

[2021-12-02 21:52] bluebill1049 commented on #298
do not spam issue.

[2021-12-02 21:52] #298 closed

[2021-12-03 02:20] bluebill1049 commented on #297
closing as this is version related problem.

[2021-12-03 02:20] #297 closed

[2021-12-03 07:53] jorisre commented on #299
thank you for reporting the issue, the last version 2.8.4 fix it

[2021-12-03 07:53] #299 closed

[2021-12-03 09:05] drydenwilliams commented on #298
Please can you reopen this, I didn't intend to spam and can't find the other ticket. @bluebill1049

[2021-12-03 09:33] jorisre commented on #298
@drydenwilliams  https://github.com/react-hook-form/resolvers/issues/299

[2021-12-03 11:28] drydenwilliams commented on #299
Thanks so much @jorisre 👍

[2021-12-04 13:59] mario-jerkovic commented on #271
`import { yupResolver } from '@hookform/resolvers/zod/dist/zod'` worked for me with next `12.0.6` with deprecation warning in console
[code]

NodeJS Version `16.13.1`

[2021-12-04 17:21] pronovaso commented on #271
I still have an issue with yup. My setup is last versions of resolver,react-hook-form and NextJS version from 12.0.2 to 12.0.6

[2021-12-05 14:53] AloisCRR commented on #271
Hello, I'm getting this error:

[code]

I've tried all ways, the only one that works is using `require()` but then I loose TypeScript inference and the linter goes crazy (I mean it forbids the use of require()). If I remove the "resolver" property from `useForm` then everything works properly.

Versions:
[code]
Node `v17.2.0`

[2021-12-06 10:01] horaotoko commented on #271
Adding `experimental.esmExternals: false` to next.config file works for me.

https://github.com/vercel/next.js/issues/30750#issuecomment-962198711

[2021-12-08 19:02] daniel-stockman-lark commented on #271
Using [patch-package](https://github.com/ds300/patch-package), this fixed it for me (with react-hook-form@7.21.0):

[code]

Basically, the import target needs to use the `.mjs` extension, _preserving_ the default `type` of CommonJS for the overall package.

[2021-12-08 19:02] hongdeyuan commented on #271
本人已收到您的邮件，辛苦了！如有重要事情，看到后，将尽快给你回复。。。

[2021-12-08 22:22] bluebill1049 commented on #271
thank you so much for your contribution and help! will release a beta on this soon.

[2021-12-09 01:58] bluebill1049 commented on #271
can we test this beta version? `react-hook-form@7.21.1-0`

[2021-12-09 13:44] jorisre commented on #271
Seems working for me @bluebill1049 👏🏻

[2021-12-09 17:15] evocateur commented on #271
@bluebill1049 `react-hook-form@7.21.1-0` works with `next@12.0.7`, thanks!

[2021-12-09 17:59] AndysonDK commented on #271
Hmm I'm getting the following error when using react-hook-form with storybook, it does work with next.js now!:
[code]

These are the versions that I'm currently using:
[code]

[2021-12-10 02:44] dsacramone commented on #271
did you run into an issue like this?

[code]

[2021-12-10 06:49] bluebill1049 commented on #271
closing: https://github.com/react-hook-form/react-hook-form/releases/tag/v7.21.1

[2021-12-10 08:21] bluebill1049 commented on #271
Sorry, this is a never-ending issue... https://github.com/react-hook-form/react-hook-form/issues/7251

[2021-12-10 08:23] yordis commented on #271
@bluebill1049 that one is on CRA ... they are way behind updating anything being honest on the topic ... but I hear you ... this Python 2v3 situation is really frustrating

[2021-12-10 08:28] bluebill1049 commented on #271
Thanks for understanding @yordis... 🤦🏻‍♂️

[2021-12-10 08:31] yordis commented on #271
@bluebill1049 what could be happening could be

A) The NodeJS version itself doesn't support the `exports` and ESM by default (pre-v14 I think)
B) CRA setup tooling doesn't support the `exports` neither

So ... I would suggest to ask in CRA if they support the `exports` (dual package) before getting into a rabbit hole.